<?php
/** @var \Geeftlist\Service\View $this */
/** @var string $FORM_ACTION */
/** @var \OliveOil\Core\Form\Element\Captcha|null $CAPTCHA */
?>

<div class="account-new-form form-container">
    <div class="form-col">
        <form id="account-create" action="<?= $FORM_ACTION ?>" method="post" data-abide>
            <?= $this->renderBlock('csrf_token') ?>

            <div class="fields">
                <div class="notice"><?= $this->__('Tip: Try to pick a username people you know will recognize!') ?></div>

                <div class="input-group">
                    <span class="input-group-label"><i class="icon-prefix username" aria-hidden="true"></i><span class="label-with-icon-prefix"><?= $this->__('Username') ?></span></span>
                    <input type="text" class="input-group-field" name="username" id="username" autocomplete="username" maxlength="32" placeholder="<?= $this->__('Username') ?>" value="<?= $this->escapeHtml($FORM_DATA['username'] ?? '') ?>" required/>
                </div>
                <span class="form-error" data-form-error-for="username"><?= $this->__('Missing or invalid value.') ?></span>

                <div class="input-group">
                    <span class="input-group-label"><i class="icon-prefix email" aria-hidden="true"></i><span class="label-with-icon-prefix"><?= $this->__('Email') ?></span></span>
                    <input type="email" class="input-group-field" name="email" id="email" autocomplete="email" maxlength="128" placeholder="<?= $this->__('you@somewhere.com') ?>" value="<?= $this->escapeHtml($FORM_DATA['email'] ?? '') ?>" required/>
                </div>
                <span class="form-error" data-form-error-for="email"><?= $this->__('Missing or invalid value.') ?></span>

                <?php if (isset($CAPTCHA)): ?>
                    <?= $CAPTCHA->toHtml() ?>
                    <span class="form-error" data-form-error-for="<?= $CAPTCHA->getData('name') ?>"><?= $this->__('Missing or invalid value.') ?></span>
                <?php endif; ?>

                <button type="submit" class="button submit"><span><?= $this->__('Submit') ?></span></button>
            </div>
        </form>
    </div>
</div>
