<?php
/** @var \Geeftlist\Service\View $this */
?>

<h1><?= $this->__('New account') ?></h1>

<div class="heading">
    <p><?= $this->__("Register your account now and enjoy creating and sharing gifts with your family and relatives!") ?></p>
    <p><?= $this->__("After submitting the form, you'll receive an email with instructions about how to set a password.") ?></p>
</div>

<?= $this->renderBlock('form'); ?>
