<?php
/** @var \Geeftlist\Service\View $this */
/** @var \OliveOil\Core\Block\Profiler $_BLOCK */
?>

<div class="dev-profiler" style="clear: both">
    <fieldset>
        <legend><?= $this->__('Queries') ?></legend>
        <pre>
            <?= $_BLOCK->renderTab('queries'); ?>
        </pre>
    </fieldset>
    <fieldset>
        <legend><?= $this->__('Blocks') ?></legend>
        <pre>
            <?= $_BLOCK->renderTab('blocks'); ?>
        </pre>
    </fieldset>
</div>
