<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Form\Element\BadgeSelect $_BLOCK */
?>

<div id="{{ @_BLOCK->getId() }}_wrapper"
     class="badges-select-wrapper {{ @_BLOCK->getClass() }}">
    <div class="badges-list" data-bind="template: { name: '{{ @_BLOCK->getId() }}-badge-tmpl', foreach: badges }"></div>
    <div style="display: none">
        <select id="{{ @_BLOCK->getId() }}" name="{{ @_BLOCK->getName() }}[]" multiple="multiple"
                data-bind="foreach: badges, selectedOptions: selection">
            <option data-bind="text: label, value: badgeId"></option>
        </select>
    </div>
    <div class="clearfix"></div>
    <p class="badges-count-text" data-bind="text: countLabel"></p>

    <script id="{{ @_BLOCK->getId() }}-badge-tmpl" type="text/html">
        <button class="geeftlist-badge selectable"
                data-bind="attr: {'data-tippy-tooltip': !!description, 'data-tippy-content': description, title: description}, class: $parent.getClass($data), click: $parent.toggleSelected">
            <span class="icon"
                  data-bind="html: iconHtml"></span>
            <span data-bind="text: label"></span>
        </button>
    </script>

    <?php /* <!-- KO DEBUG --><pre style="font-size: x-small" data-bind="text: ko.toJSON($data, null, 2)"></pre> */ ?>

    <script type="text/javascript-lazy" on="ready">
        ko.applyBindings(
            new (function() {
                self = this;
                self.config = {{ @_BLOCK->getConfigJson() }};
                self.badges = self.config.badges;
                self.selection = ko.observableArray(self.config.selectedBadgeIds);
                self.countLabel = ko.observable('');

                self.updateCountLabel = function() {
                    self.countLabel('{{ @_VIEW->jsQuoteEscape(@_VIEW->__('$count badge(s) selected.')) }}'
                        .replace('$count', self.selection().length)
                    );
                };

                self.getClass = function(badge, event) {
                    return self.isSelected(badge, event) ? "selected" : "not-selected";
                };
                self.isSelected = function(badge, event) {
                    return self.selection.indexOf(badge.badgeId) != -1;
                };
                self.toggleSelected = function(badge, event) {
                    self.isSelected(badge, event)
                        ? self.selection.remove(badge.badgeId)
                        : self.selection.push(badge.badgeId);
                };
                self.selection.subscribe(self.updateCountLabel);
                self.updateCountLabel();
            }),
            $('#{{ @_BLOCK->getId() }}_wrapper')[0]
        );
    </script>
</div>
