<?php
/** @var \Geeftlist\Service\View $_VIEW */
/** @var \OliveOil\Core\Form\Element\Captcha $_BLOCK */
?>

<div id="{{ @_BLOCK->getId() }}-wrapper"
     class="captcha-wrapper {{ @_BLOCK->getClass() }}">
    <label for="{{ @_BLOCK->getId() }}">
        <span>{{ @_VIEW->__('<strong>Security check:</strong> Please enter the text below') }}</span>
    </label>
    <div>
        <img src="{{ @_BLOCK->getImageSrc() }}"
             width="{{ @_BLOCK->getImageWidth() }}"
             height="{{ @_BLOCK->getImageHeight() }}"
             name="{{ @_BLOCK->getName() }}_image">
        <input type="hidden" name="{{ @_BLOCK->getName() }}[id]" value="{{ @_BLOCK->getCaptchaId() }}">
        <input type="text" id="{{ @_BLOCK->getId() }}" name="{{ @_BLOCK->getName() }}[answer]" autocomplete="off" required>
    </div>
</div>
