<?php
/** @var \Geeftlist\Service\View $_VIEW */
/** @var \Geeftlist\Form\Element\GeefterSelect $_BLOCK */
?>

<div id="{{ @_BLOCK->getId() }}_wrapper"
     class="geefter-select-wrapper {{ @_BLOCK->getClass() ?: '' }}"
     {{ @_BLOCK->getWrapperAdditionalAttributes() ?: '' }}>
    <div>
        <input type="text"
               id="{{ @_BLOCK->getId() }}"
               class="no-js-hidden"
               name="{{ @_BLOCK->getName() }}"
               placeholder="{{ @_BLOCK->getPlaceholder() | esc }}"
               value="{{ @_BLOCK->getHtmlInputValue() | esc }}"
               data-tags-whitelist="{{ htmlspecialchars(@_BLOCK->getWhitelistJson()) }}"
               {{ @_BLOCK->getRequired() ? 'required' : '' }}
               {{ @_BLOCK->getAdditionalAttributesHtml() ?: '' }}/>
    </div>
    <check if="{{ !@_BLOCK->getSkipJsInit() }}">
        <script type="text/javascript-lazy" on="ready">
            {{ @_BLOCK->getInitJs() }}
        </script>
    </check>
</div>
