<include href="header.phtml"/>

<!-- @subject Geeflist System Info (test email) -->

<include href="content_wrapper_begin.phtml"/>
<columns small="12" large="6">
    <p>{{ "This is a test email. If you're reading this, it means that the mail system is correctly configured on your Geeftlist server." | tr }}</p>

    <spacer size-sm="5" size-lg="20"></spacer>

    <hr/>

    <h2>{{ "System Summary" | tr }}</h2>
    <table>
        <repeat group="{{ @sysinfo }}" key="{{ @key }}" value="{{ @value }}">
            <tr>
                <td>{{ @key }}</td>
                <td><pre>{{ @value }}</pre></td>
            </tr>
        </repeat>
    </table>

    <hr/>

    <h2>{{ "F3 Hive" | tr }}</h2>
    <div>
        <pre>{{ @hive | raw }}</pre>
    </div>

    <hr/>

    <h2>{{ "PHP Info" | tr }}</h2>
    <div>
        <pre>{{ @phpinfo | raw }}</pre>
    </div>
</columns>
<include href="content_wrapper_end.phtml"/>

<include href="footer.phtml"/>
