<include href="header.phtml"/>

<!-- @subject {{ 'Geeftlist: You have been mentioned in a discussion on {0}', [@topic_title] | tr }} -->

<include href="content_wrapper_begin.phtml"/>
<columns small="12" large="6">
    <h1>{{ 'You have been mentioned' | tr }}</h1>

    <p>{{ 'Hello {0}, {1} has mentioned you on <a href="{2}"><strong>{3}</strong></a>.',
        [@recipient->getUsername(), @author_name, @topic_url, @topic_title]
        | tr }}</p>

    <spacer size-sm="5" size-lg="20"></spacer>

    <div style="background-color: whitesmoke; padding: 1em;">
        <check if="{{ @title }}">
            <h2 style="text-align: left">{{ @title }}</h2>
        </check>

        <p>{{ @message }}</p>

        <hr>

        <p style="text-align: right">{{ @post_date, @i18n | datetime }}</p>
    </div>

    <spacer size-sm="5" size-lg="20"></spacer>

    <p style="text-align: center"><a href="{{ @topic_url }}">{{ 'Click here to open the full topic to reply.' | tr }}</a></p>
</columns>
<include href="content_wrapper_end.phtml"/>

<include href="footer_message.phtml"/>
<include href="footer.phtml"/>
