<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Model\Family $FAMILY */
/** @var string $FORM_ACTION */
?>

<?php if ($FAMILY->getId()): ?>
    <h1><?= $this->escapeHtml($FAMILY->getName()) ?></h1>
<?php else: ?>
    <h1><?= $this->__('New family') ?></h1>
<?php endif; ?>

<form id="family-edit" action="<?= $FORM_ACTION ?>" method="post" data-abide>
    <?= $this->renderBlock('csrf_token') ?>
    <div class="toolbar-wrapper-top">
        <?= $this->renderBlock('toolbar'); ?>
    </div>

    <?php if (! $FAMILY->getId()): ?>
        <div class="heading">
            <p><?= $this->__("Use the form below to create a new family. Use families to gather relatives and relatives to share gifts with!") ?></p>
        </div>
    <?php endif; ?>
    <div class="clearfix"></div>

    <?= $this->renderBlock('form'); ?>

    <div class="toolbar-wrapper-bottom">
        <?= $this->renderBlock('toolbar'); ?>
    </div>
</form>
