<?php
/** @var \Geeftlist\Service\View $this */
?>

<h1><?= $this->__('My relatives') ?></h1>

<div class="toolbar-wrapper-top">
    <?= $this->renderBlock('toolbar'); ?>
</div>

<div class="heading">
    <p><?= $this->__("Here's the list of all the geeftees you share a family with. You can click on their name on the left column and display the gifts available for each of them.") ?></p>
</div>

<?= $this->renderBlock('list'); ?>
