<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Block\Gift $_BLOCK */
?>

<?php if (count($_BLOCK->getGeeftees()) == 1): // 1 means "only the current geefter" which is always visible ?>
<div class="no-item">
    <span class="no-item-heading"><?= $this->__("It seems you don't have any relatives here yet :(") ?></span>
    <span><?= $this->__(
            'Why not <a href="{0}">creating new families</a> or <a href="{1}">inviting new geeftees</a>?',
            $this->getUrl('family_manage/new'),
            $this->getUrl('family_manage/index')
        ) ?></span>
</div>
<?php else: ?>
    <?= $this->renderBlock('geeftee_list') ?>

    <a href="#top" class="top-link"><?= $this->__('Back to top') ?></a>
<?php endif; ?>
