<?php
/** @var \Geeftlist\Service\View $this */
?>

<div class="toolbar">
    <a class="button geeftee-add create" href="<?= $this->getUrl('geeftee_manage/new', ['_referer' => true]) ?>"><span><?= $this->__('Add a geeftee') ?></span></a>
</div>
