<?php
/** @var \Geeftlist\Service\View $this */
?>

<h1><?= $this->__('My gift ideas for me') ?></h1>

<div class="toolbar-wrapper-top">
    <?= $this->renderBlock('toolbar'); ?>
</div>

<div class="heading">
    <p><?= $this->__("Below are gift ideas you created for you. You may <a href=\"{0}\">add</a>, modify them or delete them if you like.", $this->getUrl('*/new', ['_referer' => true])) ?></p>
    <p><?= $this->__("Those gifts are visible to other members of your families so they can pick up ideas that will surely please you!") ?></p>
</div>

<?= $this->renderBlock('grid'); ?>
