<?php
/** @var \Geeftlist\Service\View $this */
?>

<h1><?= $this->__('My gift ideas for my relatives') ?></h1>

<div class="toolbar-wrapper-top">
    <?= $this->renderBlock('toolbar'); ?>
</div>

<div class="heading">
    <p><?= $this->__("Below are gift ideas you created for your relatives. You may <a href=\"{0}\">add</a>, modify them or delete them if you like.", $this->getUrl('*/new')) ?></p>
    <p><?= $this->__("Those gifts are visible to each geeftee's families.") ?></p>
</div>

<?= $this->renderBlock('grid'); ?>
