<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Block\Page\Nav $_BLOCK */

$urlBuilder = $this->getUrlBuilder();
$familyCollection = $_BLOCK->getFamilyCollection();
$giftLists = $_BLOCK->getGiftLists();
$geefterSession = $this->getGeefterSession();
?>

<nav role="menu" id="nav-menu">
    <ul>
        <?php if ($geefterSession->isLoggedIn()): ?>
            <li role="presentation" class="gifts-menu">
                <span><?= $this->__('My Gifts') ?></span>
                <ul>
                    <li role="presentation" class="gifts-for-me">
                        <a role="menuitem" href="<?= $this->getUrl('gift', ['for' => 'me']) ?>"><?= $this->__('For me') ?></a>
                    </li>
                    <li role="presentation" class="gifts-for-relatives">
                        <a role="menuitem" href="<?= $this->getUrl('gift', ['for' => 'relatives']) ?>"><?= $this->__('For my relatives') ?></a>
                    </li>
                    <li><hr></li>
                    <li role="presentation" class="gift-new">
                        <a role="menuitem" href="<?= $this->getUrl('gift/new') ?>"><?= $this->__('New gift...'); ?></a>
                    </li>
                </ul>
            </li>
            <li role="presentation" class="my-reservations">
                <a role="menuitem" href="<?= $this->getUrl('gift_reservation/list') ?>"><?= $this->__('My reservations') ?></a>
            </li>
            <li role="presentation" class="my-giftlists">
                <span><?= $this->__('My lists') ?></span>
                <ul>
                    <?php if (count($giftLists)): ?>
                        <?php foreach($giftLists as $giftList): ?>
                        <li role="presentation" class="giftlist-view">
                            <a role="menuitem" href="<?= $this->getUrlHelper()->getGiftListViewUrl($giftList) ?>"><?= $this->escapeHtml($giftList->getName()); ?></a>
                        </li>
                        <?php endforeach; ?>
                        <li><hr></li>
                        <li role="presentation" class="giftlist-new">
                            <a role="menuitem" href="<?= $this->getUrl('giftlist_manage/new') ?>"><?= $this->__('New list...'); ?></a>
                        </li>
                    <?php else: ?>
                        <li role="presentation" class="giftlist-new">
                            <a role="menuitem" href="<?= $this->getUrl('giftlist_manage/new') ?>"><?= $this->__('No list yet? Create one now!'); ?></a>
                        </li>
                    <?php endif; ?>
                </ul>
            </li>
            <li role="presentation" class="my-relatives">
                <span><?= $this->__('My relatives') ?></span>
                <ul>
                    <?php if ($familyCollection->count()): ?>
                        <?php foreach($familyCollection as $family): ?>
                        <li role="presentation" class="family-explore">
                            <a role="menuitem" href="<?= $this->getUrl('family_explore', ['family_id' => $family->getId()]) ?>"><?= $this->escapeHtml($family->getName()); ?></a>
                        </li>
                        <?php endforeach; ?>
                        <li><hr></li>
                        <li role="presentation" class="all-my-relatives">
                            <a role="menuitem" href="<?= $this->getUrl('relative_explore') ?>"><?= $this->__('All my relatives'); ?></a>
                        </li>
                    <?php else: ?>
                        <li role="presentation" class="family-join">
                            <a role="menuitem" href="<?= $this->getUrl('family_search') ?>"><?= $this->__('No family? Join one now!'); ?></a>
                        </li>
                    <?php endif; ?>
                </ul>
            </li>

            <li><hr></li>

            <li role="presentation" class="account">
                <span>
                    <img alt="Geeftee's avatar" class="profile-avatar" src="<?= $this->getUrlHelper()->getGeefterAvatarUrl($geefterSession->getGeefter()) ?>">
                    <span><?= $this->__('My account') ?></span>
                </span>
                <ul>
                    <li role="presentation" class="profile">
                        <a role="menuitem" href="<?= $this->getUrl('account') ?>"><?= $this->__('My profile') ?></a>
                    </li>
                    <li><hr></li>
                    <li role="presentation" class="giftlist-manage">
                        <a role="menuitem" href="<?= $this->getUrl('giftlist_manage/index') ?>"><?= $this->__('Manage my lists') ?></a>
                    </li>
                    <li><hr></li>
                    <li role="presentation" class="family-join">
                        <a role="menuitem" href="<?= $this->getUrl('family_search') ?>"><?= $this->__('Join a family') ?></a>
                    </li>
                    <li role="presentation" class="family-manage">
                        <a role="menuitem" href="<?= $this->getUrl('family_manage') ?>"><?= $this->__('Manage my families') ?></a>
                    </li>
                    <li role="presentation" class="family-membership-requests">
                        <a role="menuitem" href="<?= $this->getUrl('family_manage_membership_request') ?>"><?= $this->__('Invitations / Membership Requests') ?></a>
                    </li>
                    <li role="presentation" class="geeftee-claim-requests">
                        <a role="menuitem" href="<?= $this->getUrl('geeftee_manage_claim_request') ?>"><?= $this->__('Geeftee Claim Requests') ?></a>
                    </li>
                    <?php if ($_BLOCK->isInvitationEnabled()): ?>
                        <li><hr></li>
                        <li role="presentation" class="create-invitation">
                            <a role="menuitem" href="<?= $this->getUrl('invitation/create') ?>"><?= $this->__('Create an invitation') ?></a>
                        </li>
                    <?php endif; ?>
                </ul>
            </li>
            <li role="presentation" class="logout"><a role="menuitem" href="<?= $this->getUrl('logout') ?>"><?= $this->__('Logout') ?></a></li>
        <?php else: ?>
            <li role="presentation" class="signup">
                <a role="menuitem" href="<?= $this->getUrl('signup') ?>"><?= $this->__('Sign up') ?></a>
            </li>
            <li role="presentation" class="signin">
                <a role="menuitem" href="<?= $this->getUrl('login') ?>"><?= $this->__('Sign in') ?></a>
            </li>
        <?php endif; ?>

        <li><hr></li>

        <li role="presentation" class="help">
            <a role="menuitem" href="<?= $this->getUrl('help') ?>"><?= $this->__('Help') ?></a>
        </li>
        <li role="presentation" class="contact">
            <a role="menuitem" href="<?= $this->getUrl('contact') ?>"><?= $this->__('Contact us') ?></a>
        </li>
        <li role="presentation" class="about">
            <a role="menuitem" href="<?= $this->getUrl('about') ?>"><?= $this->__('About') ?></a>
        </li>
    </ul>
</nav>
