<?php
/** @var \Geeftlist\Service\View $this */
/** @var \OliveOil\Core\Block\Template $_BLOCK */
?>

<h1><?= $this->__("Geeftee claim") ?></h1>

<div class="clearfix"></div>

<?= $this->renderBlock('dialog') ?>

<div class="card-wrapper">
    <?= $this->renderBlock('card'); ?>
</div>

