<include href="admin/header.phtml"/>
<include href="content_wrapper_begin.phtml"/>

<!-- @subject {{ 'Geeftlist Admin : Recent Activity' | tr }} -->


<columns small="12" large="6">
    <h1>{{ 'Recent Activity (admin)' | tr }}</h1>

    <check if="{{ @itemList = (@itemLists[\Geeftlist\Model\Geefter::ENTITY_TYPE] ?? []) }}">
        <h2>{{ 'Members' | tr }}</h2>

        <include href="admin/notification/geefter/items.phtml"/>
    </check>
</columns>

<include href="content_wrapper_end.phtml"/>
<include href="admin/footer.phtml"/>
