<?php
/** @var \Geeftlist\Service\View $this */
/** @var \OliveOil\Core\Block\Template $_BLOCK */
/** @var \Geeftlist\Model\Geeftee\ClaimRequest $CLAIMREQUEST */

$i18n = $this->getI18n();
?>

<a class="accept" href="<?= $this->getUrl(
    'geeftee_manage_claim_request/postAccept',
    ['request_id' => $CLAIMREQUEST->getId(), '_referer' => '_keep', '_csrf' => true]) ?>"><?= $this->__('Accept') ?></a>
<a class="reject" href="javascript:void(0)"
   onclick="oliveOil.confirmAction('<?= $this->jsQuoteEscape(
        $this->__('Are you sure you want to decline claim request from {0} for geeftee {1}?', $this->escapeHtml($CLAIMREQUEST->getGeefteeName()), $this->escapeHtml($CLAIMREQUEST->getGeefterName()))
    ) ?>', '<?= $this->getUrl('geeftee_manage_claim_request/postReject', ['request_id' => $CLAIMREQUEST->getId(), '_referer' => '_keep', '_csrf' => true]) ?>')"
><?= $this->__('Reject') ?></a>
