<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Model\Family $FAMILY */
?>

<h1><?= $this->__('Transfer family {0} to a new owner', $this->escapeHtml($FAMILY->getName())) ?></h1>

<div class="heading">
    <p><?= $this->__("Select a geefter below to transfer this family to. After that you won't be able to manage this family anymore but you'll still be its member.") ?></p>
</div>

<?= $this->renderBlock('grid'); ?>
