<!DOCTYPE html>
<?php
/** @var \OliveOil\Core\Service\View $this */
/** @var \OliveOil\Core\Block\HtmlRootContainer\Page $_BLOCK */

$fw = $this->getFw();
?>
<html lang="<?= $fw->get('HTML_LANG'); ?>">

    <head>
        <?= $this->renderBlock('head') ?>
    </head>

	<body<?php if ($class = $_BLOCK->getBodyClass()) echo ' class="' . $class . ' no-js"' ?>>

        <?= $this->renderBlock('loading_overlay') ?>

        <div id="body-wrapper"
             class="body-wrapper">
            <a id="top"></a>

            <?= $this->renderBlock('header') ?>

            <?= $this->renderBlock('breadcrumbs'); ?>

            <div class="main-content">
                <div class="global-messages">
                    <?= $this->renderBlock('global_messages'); ?>
                </div>
                <div class="content-wrapper" data-sticky-container>
                    <?= $this->renderBlock('content_wrapper'); ?>
                </div>

                <div class="session-messages">
                    <?= $this->renderBlock('messages'); ?>
                </div>
            </div>

            <footer class="footer">
                <?= $this->renderBlock('footer') ?>
            </footer>
        </div>

        <?= $this->renderBlock('before_body_end') ?>
	</body>
</html>
