
<include href="header.phtml"/>

<!-- @subject {{ 'Geeftlist: A geeftee account has been automatically linked' | tr }} -->

<include href="content_wrapper_begin.phtml"/>
<columns small="12" large="6">
    <h1>{{ 'A geeftee account has been automatically linked' | tr }}</h1>

    <p>{{ 'One of your relatives has just signed up on Geeftlist and has retrieved the account you created for him/her with the email address: <strong>{0}</strong>',
        [@geeftee_email]
        | tr }}</p>
    <p>{{ 'He/She is now directly the owner of this account, you will not be able to modify it anymore.' | tr }}</p>

    <p><a href="{{ @geeftee_profile_url | url_redirect,esc }}">{{ 'Check out his/her profile now!' | tr }}</a></p>
</columns>
<include href="content_wrapper_end.phtml"/>

<include href="footer_message.phtml"/>
<include href="footer.phtml"/>
