.badges-select-wrapper {
    .badges-list > button {
        float: left;
        margin: 0 1em .5em 0;
    }
    .badges-list > button:first-child {
        margin: 0 1em .5em 0;
    }
    .badges-list > button:last-child {
        margin: 0 0 .5em 0;
    }

    .geeftlist-badge {
        &.selectable.selected {
            border-color: $success-color;

            @include icon-prefix($fa-var-check-circle, $success-color);
            &::before {
                background-color: $body-background;
                position: absolute;
                top: -6px;
                right: -12px;
                z-index: $z-index-selected-indicator;
            }
        }
        &.selectable.not-selected {
            opacity: .60;
        }
    }

    .badges-count-text {
        font-size: smaller;
        text-align: center;
    }
}
