.gift-edit-form {
    textarea[name="description"] {
        min-height: 12em;
    }
    .accordion-title {
        font-size: $form-label-font-size;
    }

    .input-priority {
        label {
            cursor: pointer;
            display: inline-block;
            margin: 0 1rem;

            &.option-100,
            &.option-200,
            &.option-300 {
                > span > span {
                    display: none;
                }
            }
            &.option-100 {
                > span {
                    @include icon-prefix($fa-var-heart, #ff3f3c);
                }
            }
            &.option-200 {
                > span {
                    @include icon-prefix($fa-var-heart + \0a0 + $fa-var-heart, #ff3f3c);
                }
            }
            &.option-300 {
                > span {
                    @include icon-prefix($fa-var-heart + \0a0 + $fa-var-heart + \0a0 + $fa-var-heart, #ff3f3c);
                }
            }
        }
    }

    .status-section > a {
        @include icon-prefix($fa-var-toggle-on);
    }

    .badges-section > a {
        @include icon-prefix($fa-var-tags);
    }

    .share-rule-section > a {
        @include icon-prefix($fa-var-share-alt);
    }
    .input-share_rule {
        label {
            cursor: pointer;
        }

        .option-regular {
            label > span {
                @include icon-prefix($fa-var-lock, #ff8c00);
            }
        }
        .option-family {
            label > span {
                @include icon-prefix($fa-var-users, #00cc66);
            }
        }
        .option-geefter {
            label > span {
                @include icon-prefix($fa-var-user-friends, #cd0000);
            }
        }
        .option-private {
            label > span {
                @include icon-prefix($fa-var-eye-slash, $private-background-color);
            }
        }
        .option-custom {
            label > span {
                @include icon-prefix($fa-var-cogs, $dark-gray);
            }
        }

        .ms-container .ms-selection li {
            color: $success-color !important;

            span {
                @include icon-prefix($fa-var-check, $success-color);
            }
        }

        .option-container {
            margin-bottom: 0.5em;
        }

        .additional-container {
            display: none;
        }
    }

    .open-gift-section > a {
        @include icon-prefix($fa-var-low-vision);
    }
    .input-open_gift {
        .switch-container {
            @include grid-column-row();

            .switch {
                @include breakpoint(medium) {
                    @include grid-column(4);
                    margin: 1em 0;
                }
                @include breakpoint(small) {
                    margin: 1em;
                }
                text-align: center;
            }

            .description-container {
                @include breakpoint(medium) {
                    @include grid-column(8);
                }
                font-size: smaller;
            }
        }
    }
}

.gift-mass-add-form {
    > .form-col {
        margin-bottom: 1.5rem;

        @include breakpoint(medium) {
            @include grid-col-size(6);
            @include grid-column-offset(3);
        }
    }

    > .multirow-form-col {
        margin-bottom: 2rem;

        .footer {
            .description {
                width: 100%;
                text-align: right;
                font-size: smaller;
                margin: .2rem .5rem;
            }

            .button {
                margin-top: 1rem;
                padding-top: 1rem;
            }
        }

        .input-group,
        .button {
            margin: 0;
        }

        input,
        select {
            margin-bottom: 0;
        }

        .multirow-form-body {
            .row-wrapper {
                @include flex-grid-row();
                position: relative;
                padding: 0.2rem;

                &:nth-of-type(odd) {
                    background-color: $table-striped-background;
                }
                &:nth-of-type(even) {
                    background-color: darken($table-striped-background, 10%);
                }

                .row-body {
                    @include flex-grid-row();

                    @include breakpoint(small) {
                        @include flex-grid-column(10);
                    }
                    @include breakpoint(medium) {
                        @include flex-grid-column(11);
                    }

                    .cell.gift-label {
                        @include breakpoint(small) {
                            @include flex-grid-column(12);
                        }
                        @include breakpoint(medium) {
                            @include flex-grid-column(9);
                        }
                    }
                    .cell.gift-estimated-price {
                        @include breakpoint(small) {
                            @include flex-grid-column(12);
                        }
                        @include breakpoint(medium) {
                            @include flex-grid-column(3);
                        }
                    }
                    .cell.gift-geeftees {
                        margin-top: .2rem;

                        @include breakpoint(small) {
                            @include flex-grid-column(12);
                        }
                    }
                }

                .row-after {
                    display: flex;

                    @include breakpoint(small) {
                        @include flex-grid-column(2);
                    }
                    @include breakpoint(medium) {
                        @include flex-grid-column(1);
                    }

                    button.delete {
                        > span {
                            display: none;
                        }
                    }
                }

                /* Save up all the space we can on small devices */
                @include breakpoint(small only) {
                    > * {
                        padding-left: 0 !important;
                        padding-right: 0 !important;
                    }
                }

                @include breakpoint(medium) {
                    &::before {
                        display: block;
                        position: absolute;
                        left: -1.5em;
                        font-size: 2em;
                        line-height: 1em;
                        z-index: $z-index-background-icon;
                    }
                    @include icon-prefix($fa-var-gift, darken($table-striped-background, 10%));
                }
            }
        }
    }
}
