.gift-reservation-form {
    fieldset {
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    legend {
        font-size: 1.5em;
    }

    .inputs {

        .reservation-actions-container {
            /* https://github.com/zurb/foundation-sites/issues/8045 */
            @include foundation-flex-grid;
            @include flex-grid-row($gutters: 0);

            text-align: center;

            > div {
                @include breakpoint(small) {
                    @include flex-grid-column($columns: 12, $gutters: 0);
                }
                @include breakpoint(medium) {
                    @include flex-grid-column($columns: 6, $gutters: 0);

                    &:first-child {
                        padding-right: .5rem;
                    }
                    &:last-child {
                        padding-left: .5rem;
                    }
                }
            }

            label {
                @include button(true);

                &.action-reserve {
                    @extend .fa-bookmark;
                }
                &.action-purchase {
                    @extend .fa-shopping-cart;
                }
                &.action-cancel {
                    @extend .fa-ban;
                    @include button-style($cancel-background-color, auto, auto);
                }

            }
        }
        .reservation-amount-container {
            /* https://github.com/zurb/foundation-sites/issues/8045 */
            @include foundation-flex-grid;
            @include flex-grid-row($gutters: 0);

            text-align: center;

            > div {
                @include flex-grid-column($columns: 12, $gutters: 0);
            }
        }

        input[type="radio"] {
            margin: 0;
            display: none;

            ~ label span::before {
                float: left;
                display: none;
            }

            &:checked ~ label span {
                @include icon-prefix($fa-var-check);

                &::before {
                    float: left;
                }
            }

            &:checked ~ label {
                @include button-style($save-background-color, auto, auto);
            }
        }
    }

    label {
        font-size: $global-font-size;
    }

    .current-reservation {
        @include callout-style($info-background);

        margin-bottom: 1rem;
        padding: 0.5rem;
        width: 100%;
        text-align: center;

        > div.reservation-reminder {
            display: table;
            border-collapse: separate;
            border-spacing: 0.5rem 0.2rem;

            > div {
                @include icon-prefix($fa-var-info-circle, #415fa5);

                display: table-row;

                &::before {
                    display: table-cell;
                    vertical-align: middle;
                }
                p {
                    display: table-cell;
                    width: 100%;

                    .date {
                        font-weight: bold;
                        white-space: nowrap;
                    }
                }
            }
        }

        > div.cancel-reservation-container {
            margin-top: 1rem;
        }
    }

    .cancel-notification {
        @include callout-style($warning-background);
        text-align: center;

    }

    .notes {
        margin-top: 1rem;
    }
}
