<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Block\Hint $_BLOCK */
?>

<?php if ($html = $_BLOCK->getHintHtml()): ?>
<div class="hint-container">
    <div class="hint-title widget-header">
        <span><?= $this->__('Did you know?') ?></span>
    </div>
    <div class="hint-content widget-content">
        <?= $html; ?>
    </div>
</div>
<?php endif; ?>
