<?php
/** @var \Geeftlist\Service\View $this */
/** @var \OliveOil\Core\Block\Template $_BLOCK */
/** @var \Geeftlist\Model\Family $FAMILY */
/** @var \Geeftlist\Model\Geeftee $CURRENT_GEEFTEE */
/** @var \Geeftlist\Model\Geefter $CURRENT_GEEFTER */

$i18n = $this->getI18n();
?>

<?php if ($FAMILY->isMember($CURRENT_GEEFTEE)): //FIXME Should be handled with ACL ?>
    <?php if ($FAMILY->isOwner($CURRENT_GEEFTER)): //FIXME Should be handled with ACL ?>
        <a class="view-members"
           href="<?= $this->getUrl('family_manage_members', ['family_id' => $FAMILY->getId(), '_referer' => '_keep']) ?>"
        ><?= $this->__('Manage members') ?></a>
        <a class="edit"
           href="<?= $this->getUrl('*/edit', ['family_id' => $FAMILY->getId(), '_referer' => '_keep']) ?>"
        ><?= $this->__('Edit') ?></a>
        <a class="delete" href="javascript:void(0)"
           onclick="oliveOil.confirmAction('<?= $this->inlineJsQuoteEscape($this->__('Are you sure you want to delete this family?\n\n\t{0}', $this->escapeHtml($FAMILY->getName()))) ?>', '<?= $this->getUrl('*/delete', ['family_id' => $FAMILY->getId(), '_referer' => '_keep', '_csrf' => true]) ?>')"
        ><?= $this->__('Delete') ?></a>
        <a class="transfer-ownership"
           href="<?= $this->getUrl('family_manage_transfer', ['family_id' => $FAMILY->getId(), '_referer' => '_keep']) ?>"
        ><?= $this->__('Transfer ownership') ?></a>
    <?php endif; ?>

    <a class="invite"
       href="<?= $this->getUrl('family_manage_invite', ['family_id' => $FAMILY->getId(), '_referer' => '_keep']) ?>"
    ><?= $this->__('Invite relatives') ?></a>

    <?php if ($FAMILY->getOwnerId() != $CURRENT_GEEFTER->getId()): //FIXME Should be handled with ACL ?>
        <a class="leave" href="javascript:void(0)"
           onclick="oliveOil.confirmAction('<?= $this->inlineJsQuoteEscape($this->__('Are you sure you want to leave this family?\n\n\t{0}', $this->escapeHtml($FAMILY->getName()))) ?>', '<?= $this->getUrl('*/leave', ['family_id' => $FAMILY->getId(), '_referer' => '_keep', '_csrf' => true]) ?>')"
        ><?= $this->__('Leave') ?></a>
    <?php endif; ?>

    <a class="view-members"
       href="<?= $this->getUrl('family_explore', ['family_id' => $FAMILY->getId(), '_referer' => '_keep']) ?>"
    ><?= $this->__('Explore') ?></a>
<?php else: ?>
    <a class="join"
       href="<?= $this->getUrl('family_manage/join', ['family_id' => $FAMILY->getId(), '_referer' => '_keep']) ?>"
    ><?= $this->__('Join') ?></a>
<?php endif; ?>
