<?php
/** @var \Geeftlist\Service\View $this */
/** @var \OliveOil\Core\Block\Profiler $_BLOCK */
?>

<h1>[Dev] Overlay test page</h1>

<div class="clearfix"></div>

<div>
    <table style="max-width: 70%; position: relative; margin-left: auto; margin-right: auto;">
        <thead>
            <tr>
                <th style="background-color: lightgreen">With overlay</th>
                <th style="background-color: lightcoral">Without overlay</th>
            </tr>
        </thead>
        <tbody>
            <tr style="vertical-align: top">
                <td>
                    <p><a href="<?= $this->getUrl('*/long') ?>">Long action <strong>with</strong> loading overlay (default)</a></p>
                    <p><a href="javascript:void(0)" onclick="oliveOil.confirmAction('Trigger long action?', '<?= $this->getUrl('*/long') ?>')">JS confirm</a></p>
                </td>
                <td>
                    <p><a class="no-loading-anim" href="<?= $this->getUrl('*/long') ?>">Long action (CSS class)</a></p>
                    <p><a href="javascript:void(0)" onclick="alert('Hello World!')">JS alert</a></p>
                    <p><a href="javascript:void(0)" onclick="oliveOil.confirmAction('Trigger long action?', '<?= $this->getUrl('*/long') ?>', null, {noLoadingOverlay: true})">JS confirm</a></p>
                    <p><input type="button" name="mybutton" value="A button"></p>
                    <p><button type="button" class="button">Another button</button></p>
                    <p><a href="https://www.geeftlist.com/dev_overlay/slow">External href</a></p>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="text-align: center">
        <button class="button" onclick="oliveOil.loadingOverlay.show();">Show overlay</button>
    </div>
</div>
