<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Model\Family $FAMILY */
/** @var string $FORM_ACTION */
?>

<h1><?= $this->__('Geeftees from family {0}', $this->escapeHtml($FAMILY->getName())) ?></h1>

<form method="post" action="<?= $FORM_ACTION ?>">
    <?= $this->renderBlock('csrf_token') ?>
    <div class="toolbar-wrapper-top">
        <?= $this->renderBlock('toolbar'); ?>
    </div>

    <div class="heading">
        <p><?= $this->__("Use the list below to exclude members from this family. They won't be able to share gift ideas or purchase gifts with its members.") ?></p>
        <p><?= $this->__("<strong>Warning : </strong> If the family is public, they'll still be able to join it again.") ?></p>
    </div>

    <?= $this->renderBlock('grid'); ?>
</form>
