<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Model\Family $FAMILY */
?>

<div class="toolbar">
    <a class="button create" href="<?= $this->getUrl('geeftee_manage/new', ['_query' => ['family_id' => $FAMILY->getId()], '_referer' => true]) ?>"><span><?= $this->__('Create new geeftee') ?></span></a>
    <button id="submit-ban-btn" type="submit" class="button ban"><span><?= $this->__('Ban selected geeftees') ?></span></button>
</div>
<script type="text/javascript-lazy" on="ready">
    $('#submit-ban-btn').click(function(ev) {
        if (! confirm('<?= $this->jsQuoteEscape($this->__('Are you sure you want to ban the selected geeftees from the current family?')) ?>')) {
            ev.preventDefault();
            return false;
        }
        return true;
    });
</script>
