<?php
/** @var \Geeftlist\Service\View $this */
?>

<div class="geeftee-search-form form-container">
    <div class="form-col">
        <div class="fields">
            <label><?= $this->__('Email') ?>
                <input type="text" name="email" placeholder="<?= $this->__('geefter@somewhere.com') ?>" />
            </label>
        </div>
        <button type="submit" class="expanded button search"><?= $this->__('Submit') ?></button>
    </div>
</div>