<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Model\Family $FAMILY */
/** @var string $FORM_ACTION */
?>

<h1><?= $this->__('Invite a geefter by email into family {0}', $this->escapeHtml($FAMILY->getName())) ?></h1>

<form method="post" action="<?= $FORM_ACTION ?>">
    <?= $this->renderBlock('csrf_token') ?>
    <div class="toolbar-wrapper-top">
        <?= $this->renderBlock('toolbar'); ?>
    </div>

    <div class="heading">
        <p><?= $this->__("Enter the email address of someone you want to invite to this family. If he/she is a registered geefter, he/she will be asked confirmation before becoming a member.") ?></p>
    </div>

    <?= $this->renderBlock('form'); ?>
</form>
