<ul>
    <repeat group="{{ @itemList->getItems() }}" value="{{ @item }}">
        <li><include href="{{ 'admin/notification/geefter/item/' . @item->getEventName() . '.phtml' }}"/></li>
    </repeat>
</ul>
