@import 'mixins';

table.dataTable {
    thead {
        background-color: $light-gray;
        tr:hover {
            background-color: $light-gray;
        }
    }
}

table.dataTable thead .sorting {
    @include icon-suffix('\f0dc', null, 0);
    background: none !important;
}
table.dataTable thead .sorting_asc {
    @include icon-suffix('\f0dd', null, 0);
    background: none !important;
}
table.dataTable thead .sorting_desc {
    @include icon-suffix('\f0de', null, 0);
    background: none !important;
}
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: none !important;
}
.dataTables_wrapper {
    .button-group {
        float: right;
        margin: 0 2rem;
    }

    .dataTables_info {
        float: left;
    }

    input, select {
        height: 2rem;
    }

    .switch {
        margin-top: 0;
    }

    @include breakpoint(small only) {
        .dt-buttons {
            margin-bottom: 0.5rem;
        }
    }
    @include breakpoint(medium) {
        .dt-buttons {
            margin-bottom: 0.2rem;
        }
    }

    &::after {
        content: "";
        clear: both;
        display: table;
    }
}
/* Replace default expand/collapse icon "+/-" on each rows on mobile display */
body table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child::before,
body table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child::before {
    border: unset;
    border-radius: unset;
    box-shadow: unset;
    background-color: unset;
    opacity: .7;
    @include icon($fa-var-plus-circle, $success-color);
}
body table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child::before,
body table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child::before {
    @include icon($fa-var-minus-circle, $alert-color);
}
