.dropmic {
    display: block;

    &::before,
    &::after {
        display: none !important;
    }
}

.dropmic-menu,
[data-dropmic-direction="bottom-right"] .dropmic-menu {
    // Fix position (dunno why)
    transform: translateY(calc(100% - 8px));
}
