.callout {
    @include callout-base;
    padding: 0.5rem 1rem;
    margin: 0.2rem 0;
    border: solid 1px;
    font-size: small;

    &:last-child {
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: initial;
    }

    > span {
        font-size: large;
        display: inline-block;
        border-bottom: solid 1px;
        margin-bottom: 1rem;
    }

    &.info {
        @include callout-style($info-background);
        @include icon-prefix($fa-var-info-circle, $info-background);
        border-color: $info-background;

        > span {
            border-bottom-color: $info-background;
        }
    }
    &.success {
        @include icon-prefix($fa-var-check, $success-color);
    }
    &.warning {
        @include callout-style($warning-background);
        @include icon-prefix($fa-var-exclamation-circle, $warning-background);
        border-color: $warning-background;

        > span {
            border-bottom-color: $warning-background;
        }
    }
    &.alert,
    &.error {
        @include callout-style($alert-background);
        @include icon-prefix($fa-var-times, $alert-color);
        border-color: $alert-background;

        > span {
            border-bottom-color: $alert-background;
        }
    }
}

.form-error {
    margin-top: auto;
}
