.mm-navbar {
    /* Why this syntax for variables reference? See https://stackoverflow.com/a/45224297/5431347 */
    --mm-color-background: #{$side-menu-background-color};
    --mm-color-text-dimmed: #{$side-menu-font-color};
    --mm-color-button: #{$side-menu-font-color};
}
.mm-panel {
    --mm-color-background: #{$side-menu-background-color};
    --mm-color-text: #{$side-menu-font-color};
    --mm-color-button: #{$side-menu-font-color};
}
.mm-counter {
    --mm-color-background: #{$side-menu-background-color};
    --mm-color-text: #{$side-menu-font-color};
    --mm-color-button: #{$side-menu-font-color};
}
