.ms-container {
    @include breakpoint(small only) {
        .ms-selectable,
        .ms-selection {
            @include grid-column-row();
            float: none !important;
            width: 100%;
            max-width: 12em;
            margin-left: 0;
            margin-right: 0;
        }
    }
}
