.tagify {
    background-color: #fefefe;

    /* See https://github.com/dlmanning/gulp-sass/issues/685#issuecomment-379750068 */
    --placeholder-color: #{$input-placeholder-color};
    --tags-border-color: #{$input-border-color};
    --tags-hover-border-color: #{$input-border-color};

}
tags.tagify {
    width: 100%;
}

/* Geeftee/Geefter Select Input (with Tagify) */
.tagify__dropdown.geeftee-select-dropdown,
.tagify__dropdown.geefter-select-dropdown {
    $avatar-size: 36px;

    font-size: 14px;

    .tagify__dropdown__item {
        padding: .5em .7em;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0 1em;
        grid-template-areas: "avatar name" "avatar email";

        &:hover .tagify__dropdown__item__avatar-wrap {
            transform: scale(1.2);
        }

        &__avatar-wrap {
            grid-area: avatar;
            width: $avatar-size;
            height: $avatar-size;
            border-radius: 50%;
            overflow: hidden;
            background: #EEE;
            transition: .1s ease-out;
        }
    }

    img {
        width: 100%;
        vertical-align: top;
    }

    strong {
        grid-area: name;
        width: 100%;
        align-self: center;
        font-weight: 500;
    }

    span {
        grid-area: email;
        width: 100%;
        font-size: .9em;
        opacity: .6;
    }

    .addAll {
        border-bottom: 1px solid #DDD;
        gap: 0;
    }
}
.geeftee-select-wrapper,
.geefter-select-wrapper {
    .tagify__tag {
        white-space: nowrap;

        &:hover .tagify__tag__avatar-wrap {
            transform: scale(1.6) translateX(-10%);
        }

        .tagify__tag__avatar-wrap {
            width: 16px;
            height: 16px;
            white-space: normal;
            background: silver;
            border-radius: 50%;
            margin-right: 5px;
            transition: .12s ease-out;
        }

        img {
            width: 100%;
            vertical-align: top;
        }
    }
}

/* Tricks to change the appearance of the Tagify components when in "mode:select" */
.tagify--select {
    .tagify__tag {
        right: inherit !important;

        div {
            display: inherit !important;
        }
    }
}
