<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Model\Gift $GIFT */
/** @var string $FORM_ACTION */
/** @var \OliveOil\Core\Model\MagicObject $FORM_DATA */
?>

<?php if ($GIFT->getId()): ?>
    <h1><?= $this->escapeHtml($GIFT->getLabel()) ?></h1>
<?php else: ?>
    <h1><?= $this->__('New gift idea') ?></h1>
<?php endif; ?>

<form id="gift-edit" action="<?= $FORM_ACTION ?>" method="post" data-abide>
    <?= $this->renderBlock('csrf_token') ?>
    <div class="toolbar-wrapper-top">
        <?= $this->renderBlock('toolbar'); ?>
    </div>

    <?php if (! $GIFT->getId()): ?>
        <div class="heading">
            <p><?= $this->__("Use the form below to create a new gift idea for you or one of your relatives.") ?></p>
            <p><?= $this->__("A lot of gifts to add quickly? Use <a href=\"{0}\">this form</a> instead!", $this->getUrl('*/massAdd', ['_referer' => '_keep'])) ?></p>
        </div>
    <?php endif; ?>
    <div class="clearfix"></div>

    <?= $this->renderBlock('form'); ?>

    <div class="toolbar-wrapper-bottom">
        <?= $this->renderBlock('toolbar'); ?>
    </div>
</form>
