<?php
/** @var \Geeftlist\Service\View $this */
?>

<div class="toolbar">
    <a class="button create" href="<?= $this->getUrl('*/new/*', ['_referer' => true]) ?>"><span><?= $this->__('Create new gift') ?></span></a>
    <a class="button mass-add" href="<?= $this->getUrl('*/massAdd/*', ['_referer' => true]) ?>"><span><?= $this->__('Mass-create gifts') ?></span></a>
</div>
