<?php
/** @var \OliveOil\Core\Service\View $this */
/** @var \OliveOil\Core\Block\Template $_BLOCK */
?>
<div class="layout-1column">
    <div class="content">
        <?= $this->renderBlock('content'); ?>
    </div>
</div>
