<?php
/** @var \OliveOil\Core\Service\View $this */
/** @var \OliveOil\Core\Block\Template $_BLOCK */
?>
<div class="layout-2columns-right">
    <div class="content">
        <?= $this->renderBlock('content'); ?>
    </div>
    <div class="col col-right">
        <?= $this->renderBlock('right'); ?>
    </div>
</div>
