<?php
/** @var \OliveOil\Core\Service\View $this */
/** @var \OliveOil\Core\Block\Template $_BLOCK */
?>
<div class="layout-2columns-left">
    <div class="col col-left">
        <?= $this->renderBlock('left'); ?>
    </div>
    <div class="content">
        <?= $this->renderBlock('content'); ?>
    </div>
</div>
