<?php
/** @var \Geeftlist\Service\View $this */
/** @var \OliveOil\Core\Block\Breadcrumbs $_BLOCK */

$breadcrumbs = $_BLOCK->getCrumbs();
?>

<?php if ($breadcrumbs && count($breadcrumbs) > 1): ?>
    <nav>
        <ul class="breadcrumbs">
        <?php $n = 1; foreach ($breadcrumbs as $bc): ?>
            <?php $link = ! empty($bc['url']) ? $bc['url'] : false; ?>
            <li>
                <?php if ($link): ?>
                    <a href="<?= $link ?>">
                <?php endif; ?>
                <?= $this->escapeHtml($this->__($bc['label'])) ?>
                <?php if ($link): ?>
                    </a>
                <?php endif; ?>
            </li>
        <?php endforeach; ?>
        </ul>
    </nav>
<?php endif; ?>
