<?php
/** @var \OliveOil\Core\Service\View $this */
/** @var \OliveOil\Core\Block\HtmlRootContainer $_BLOCK */
$fw = $this->getFw();
$appConfig = $this->getAppConfig();
$version = $appConfig->getValue('SHOW_VERSION') ? $appConfig->getValue('VERSION') : '';

$renderingTime = round(1e3 * (microtime(true) - $fw->get('TIME')), 2);
$memoryUsage = round(memory_get_usage(true) / 1e3, 1);
?>
<div class="footer-content">
    <p class="app-version">
        <?= $this->__('{0} {1}', $appConfig->getValue('TITLE'), $version) ?>
        <span class="powered-by"><?= $this->__('Powered by <a href="{0}">Free Software</a>', $this->getUrl('about')) ?></span>
        <span class="source-link"><?= $this->__('<a href="{0}">Source Code</a>', 'https://codeberg.org/nanawel/geeftlist') ?></span>
        <span class="source-link"><?= $this->__('<a href="{0}">Issues</a>', 'https://codeberg.org/nanawel/geeftlist/issues') ?></span>
    </p>
    <p class="contact-link">
        <span><a href="<?= $this->getUrl('contact') ?>"><?= $this->__('Contact us') ?></a></span>
    </p>

    <?php if ($appConfig->getValue('DISPLAY_STATS')): ?>
        <p class="rendering-stats"><?= $this->__('Page rendered in {0} msecs / Memory usage {1} KiB', $renderingTime, $memoryUsage); ?></p>
    <?php endif ?>
</div>

<?= $_BLOCK->renderItems(); ?>
