<?php
/** @var \OliveOil\Core\Service\View $this */
/** @var \OliveOil\Core\Block\HtmlRootContainer $_BLOCK */
$fw = $this->getFw();
$appConfig = $this->getAppConfig();
$design = $_BLOCK->getDesign();
$url = $_BLOCK->getUrlBuilder();

// Why <meta name="viewport" content="[...] minimum-scale=1">?
// See https://stackoverflow.com/a/44680066/5431347
?>
<meta charset="<?= $fw->get('ENCODING'); ?>" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
<meta data-assets-version-id="<?= $appConfig->getValue('ASSETS_VERSION_ID'); ?>">
<title><?= $fw->get('PAGE_TITLE') ?></title>
<base href="<?= $url->getUrl('*/*/*'); ?>" />
<?php if ($faviconUrl = $design->getFaviconUrl()): ?>
    <link rel="icon" type="image/png" href="<?= $faviconUrl ?>" />
<?php endif; ?>

<?= $_BLOCK->renderItems(); ?>
