<?php
/** @var \OliveOil\Core\Service\View $this */
/** @var \Geeftlist\Block\Page\Header $_BLOCK */
$fw = $this->getFw();
$design = $_BLOCK->getDesign();
$urlBuilder = $this->getUrlBuilder();
?>

<div id="header" class="header">
    <div class="top-bar">
        <div>
            <div class="top-bar-menu">
                <a id="nav-menu-btn"
                   href="#nav-menu"
                   role="button"
                   tabindex="0"
                   title="<?= $this->__('Open the menu') ?>"
                   aria-haspopup="true"
                   aria-controls="nav-menu">
                    <span><?= $this->__('Menu') ?></span>
                </a>
                <?= $this->renderBlock('header.nav'); ?>
            </div>
            <div class="top-bar-title">
                <?php if ($_BLOCK->shouldAddLinkToLogo()): ?>
                    <a class="logo" href="<?= $this->getUrl('/') ?>" title="<?= $this->__('Home') ?>">
                <?php endif; ?>
                    <span>
                        <img class="logo" src="<?= $design->getImageUrl('logo.png') ?>" alt="<?= $fw->get('app.TITLE') ?> logo" height="40"/>
                    </span>
                <?php if ($_BLOCK->shouldAddLinkToLogo()): ?>
                    </a>
                <?php endif; ?>
            </div>
        </div>
    </div>
</div>
