<?php
/** @var \OliveOil\Core\Service\View $this */
/** @var \OliveOil\Core\Block\Template $_BLOCK */
?>

<div id="loading-overlay" class="loading-overlay Fixed" style="display: none">
    <div>
        <span class="spinner"></span>
        <span class="loading-text"><?= $this->__('Please wait...') ?></span>
    </div>
</div>
