<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Block\GiftList $_BLOCK */
/** @var \Geeftlist\Model\GiftList $GIFTLIST */
?>

<a class="view" href="<?= $this->getUrlHelper()->getGiftListViewUrl($GIFTLIST) ?>">
    <span><?= $this->__('View') ?></span>
</a>

<?php if ($_BLOCK->canEdit($GIFTLIST)): ?>
    <a class="edit" href="<?= $this->getUrlHelper()->getGiftListEditUrl($GIFTLIST, ['_referer' => '_keep']) ?>">
        <span><?= $this->__('Edit') ?></span>
    </a>
<?php endif; ?>

<?php if ($_BLOCK->canDelete($GIFTLIST)): ?>
    <a class="delete" href="javascript:void(0)"
       onclick="oliveOil.confirmAction('<?= $this->jsQuoteEscape($this->__(
           'Are you sure you want to delete this list?',
           $this->escapeHtml($GIFTLIST->getLabel()))) ?>', '<?= $this->getUrlHelper()->getGiftListDeleteUrl($GIFTLIST, ['_referer' => '_keep', '_csrf' => true]) ?>')"
    >
        <span><?= $this->__('Delete') ?></span>
    </a>
<?php endif; ?>
