<?php
/** @var \Geeftlist\Service\View $this */
/** @var \OliveOil\Core\Block\Template $_BLOCK */
?>

<?= $this->renderBlock('content_header') ?>

<div id="quick-actions" class="grid-x grid-margin-x">
    <a class="button new for-me cell small-12 medium-6" href="<?= $this->getUrl('gift/new', ['for' => 'me']) ?>"><span><?= $this->__('New gift for me') ?></span></a>
    <a class="button new for-relative cell small-12 medium-6" href="<?= $this->getUrl('gift/new', ['for' => 'relatives']) ?>"><span><?= $this->__('New gift for a relative') ?></span></a>
</div>

<div id="dashboard">
    <div class="dashboard-row grid-x grid-margin-x">
        <?php if ($pendingActionsBlockHtml = $this->renderBlock('pending_actions')): ?>
        <div id="pending-actions" class="cell small-12 medium-auto">
            <div>
                <?= $pendingActionsBlockHtml ?>
            </div>
        </div>
        <?php endif; ?>
        <?php if ($upcomingBirthdaysBlockHtml = $this->renderBlock('upcoming_birthdays')): ?>
        <div id="upcoming-birthdays" class="cell small-12 medium-auto">
            <div>
                <?= $upcomingBirthdaysBlockHtml ?>
            </div>
        </div>
        <?php endif; ?>
        <?php if ($hintsBlockHtml = $this->renderBlock('hints')): ?>
        <div id="hints" class="cell small-12 medium-auto">
            <div>
                <?= $hintsBlockHtml; ?>
            </div>
        </div>
        <?php endif; ?>
    </div>
    <div class="dashboard-row grid-x grid-margin-x">
        <div id="latest-reservations" class="cell small-12 medium-auto">
            <div>
                <?= $this->renderBlock('latest_reservations') ?>
            </div>
        </div>
        <div id="latest-discussion-posts" class="cell small-12 medium-auto">
            <div>
                <?= $this->renderBlock('latest_discussion_posts') ?>
            </div>
        </div>
        <div id="recent-activity" class="cell small-12 medium-auto">
            <div>
                <?= $this->renderBlock('recent_activity') ?>
            </div>
        </div>
    </div>
</div>
