<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Model\Family $FAMILY */
/** @var string $FORM_ACTION */
?>

<h1><?= $this->__('Create an invitation') ?></h1>

<form name="invitation-create" action="<?= $FORM_ACTION ?>" method="post" data-abide>
    <?= $this->renderBlock('csrf_token') ?>

    <div class="heading">
        <p><?= $this->__("Use this page to create an invitation link you can send to a relative so he/she can register on Geeftlist.") ?></p>
    </div>
    <div class="clearfix"></div>

    <?= $this->renderBlock('form'); ?>

    <div class="toolbar-wrapper-bottom">
        <?= $this->renderBlock('toolbar'); ?>
    </div>
</form>
