<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Model\Family $FAMILY */
?>

<h1><?= $this->__('Create an invitation') ?></h1>

<div class="form-col">
    <?= $this->renderBlock('csrf_token') ?>

    <div class="clearfix"></div>

    <div>
        <label for="invitation-link-input"><?= $this->__('Your invitation link is:') ?></label>
        <div class="fields">
            <div class="input-group copy-to-clipboard" onclick="copyLink()">
                <span class="input-group-label"><i class="icon-prefix copy-to-clipboard" aria-hidden="true"></i><span class="label-with-icon-prefix"><?= $this->__('Click to copy') ?></span></span>
                <input type="text"
                       class="input-group-field selectable"
                       id="invitation-link-input"
                       value="<?= $this->escapeHtml($this->getData('INVITATION_LINK')) ?>"
                       readonly="readonly" />
            </div>
        </div>

        <p><?= $this->__('Send it to someone you know so he/she can register and join your family!') ?></p>
    </div>
</div>

<script>
    function copyLink() {
        var input = document.getElementById('invitation-link-input');
        input.select();
        input.setSelectionRange(0, 99999); // For mobile devices
        navigator.clipboard.writeText(input.value);

        oliveOil.Toast.showSuccess('<?= $this->jsQuoteEscape($this->__('Copied!')) ?>');
    }
</script>
