<?php
/** @var \Geeftlist\Service\View $this */
/** @var \OliveOil\Core\Block\Template $_BLOCK */

$families = $_BLOCK->getConfig('families');
?>

<div class="widget-container">
    <div class="widget-header">
        <h2><a href="<?= $this->getUrl('family_manage') ?>"><?= $this->__('My Families') ?></a></h2>
    </div>
    <div class="widget-content">
        <?php if (! count($families)): ?>
            <ul>
                <li class="no-item"><a href="<?= $this->getUrl('family_search') ?>"><?= $this->__('No family? Join one now!'); ?></a></li>
            </ul>
        <?php else: ?>
            <ul>
                <?php foreach ($families as $family): ?>
                    <li class="family name"><a href="<?= $this->getUrl('family_explore', ['family_id' => $family->getId()]) ?>"><?= $this->escapeHtml($family->getName()) ?></a></li>
                <?php endforeach; ?>
            </ul>
        <?php endif; ?>
    </div>
</div>
