<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Block\Widget\LatestReservations $_BLOCK */

$i18n = $this->getI18n();
$urlBuilder = $this->getUrlBuilder();
$urlHelper = $this->getUrlHelper();
?>
<div class="widget-container">
    <div class="widget-header">
        <h2><?= $this->__('Latest Reservations') ?></h2>
    </div>
    <div class="widget-content">
        <div id="<?= $_BLOCK->getId() ?>_loading-placeholder" class="loading-placeholder">
            <ul>
                <li class="loading">
                    <span><?= $this->__('Loading...') ?></span>
                </li>
            </ul>
        </div>

        <div id="<?= $_BLOCK->getId() ?>_loaded-content" style="display: none">
            <!-- ko ifnot: reservations.length -->
            <ul>
                <li class="no-item">
                    <span><?= $this->__('None yet') ?></span>
                </li>
            </ul>
            <!-- /ko -->
            <!-- ko if: reservations.length -->
            <ul data-bind="foreach: {data: reservations, as: 'reservation'}">
                <!-- ko if: $root.shouldShowItem(reservation) -->
                <li class="reservation name" data-bind="class: 'type-' + reservation.type">
                    <span data-bind="html: $root.getItemHtml(reservation)"></span>
                    <span class="date" data-bind="text: $root.getItemDate(reservation)"></span>
                </li>
                <!-- /ko -->
            </ul>
            <!-- /ko -->
        </div>
    </div>
</div>
<script type="text/javascript-lazy" on="ready">
    window.geeftlistApiClient
        .get('reservation', {
            include: 'gift,geefter,gift.geeftees',
            filter: {
                <?php // FIXME API: Handle filters on nested resources ?>
                'gift.status': {'eq': '<?= \Geeftlist\Model\Gift\Field\Status::AVAILABLE ?>'}
            },
            page: {
                size: 4
            },
            sort: '-reserved_at'
        })
        .then(models => {
            var latestReservationsModel = {
                reservations: models,

                shouldShowItem: function(reservation) {
                    return reservation.gift.data
                        && reservation.gift.data.geeftees
                        && reservation.gift.data.geeftees.data;
                },

                getItemHtml: function(reservation) {
                    var context = `${reservation.type}_`;
                    switch (reservation.gift.data.geeftees.data.length) {
                        case 1:
                            context += 'single-geeftee';
                            break;
                        case 2:
                            context += 'two-geeftees';
                            break;
                        case 3:
                            context += 'three-geeftees';
                            break;
                        default:
                            context += 'many-geeftees';
                            break;
                    }

                    return i18n.tr(
                        'widget.latest-reservations.item',
                        {
                            geefter: reservation.geefter.data,
                            gift: reservation.gift.data,
                            geeftees: reservation.gift.data.geeftees.data,
                            context: context,
                            more_geeftees_cnt: reservation.gift.data.geeftees.data.length - 2
                        }
                    );
                },

                getItemDate: function(reservation) {
                    return i18n.formatDateTime(reservation.reserved_at, 'long', 'long');
                }
            };

            $("#<?= $_BLOCK->getId() ?>_loading-placeholder").hide();
            $("#<?= $_BLOCK->getId() ?>_loaded-content").show();
            window.ko.applyBindings(latestReservationsModel, $('#<?= $_BLOCK->getId() ?>_loaded-content')[0]);
        })
        .catch(err => {
            console.error(err);
            $("#<?= $_BLOCK->getId() ?>_loading-placeholder li")
                .removeClass('loading')
                .addClass('error')
                .html('Sorry, could not load content :(');
        });

</script>
