<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Block\Widget\LatestDiscussionPosts $_BLOCK */

$i18n = $this->getI18n();
$urlBuilder = $this->getUrlBuilder();
$urlHelper = $this->getUrlHelper();
$posts = $_BLOCK->getLatestPosts();
?>
<div class="widget-container">
    <div class="widget-header">
        <h2><?= $this->__('Latest Posts') ?></h2>
    </div>
    <div class="widget-content">
        <ul>
            <?php if (! count($posts)): ?>
                <li class="no-item">
                    <span><?= $this->__('None yet') ?></span>
                </li>
            <?php else: ?>
                <?php foreach ($posts as $post): ?>
                    <li class="discussion-post">
                        <?= $this->__(
                            '<a href="{0}">{1}</a> in <a href="{2}">{3}</a>',
                            $urlHelper->getDiscussionPostUrl($post),
                            $_BLOCK->renderTitle($post),
                            $urlHelper->getDiscussionTopicUrl($post->getTopic()),
                            $this->escapeHtml($post->getTopic()->getTitle())
                        ) ?>
                        <span class="author">
                            <?= $this->__(
                                'by <a href="{0}">{1}</a>',
                                $urlHelper->getGeefterProfileUrl($post->getAuthorId()),
                                $this->escapeHtml($post->getAuthorUsername())
                            ) ?>
                        </span>
                        <span class="date"><?= $i18n->datetime($post->getCreatedAt(), 'long'); //TODO Use relative date ?></span>
                    </li>
                <?php endforeach; ?>
            <?php endif; ?>
        </ul>
    </div>
</div>
