<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Block\Widget\PendingActions $_BLOCK */

?>

<div class="widget-container">
    <div class="widget-header">
        <h2><?= $this->__('Pending Actions') ?></h2>
    </div>
    <div class="widget-content">
        <ul>
            <?php foreach ($_BLOCK->getPendingActions() as $pa): ?>
                <li><?= $pa ?></li>
            <?php endforeach; ?>
        </ul>
    </div>
</div>
