<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Block\Widget\RecentActivity $_BLOCK */

$i18n = $this->getI18n();
$activityItems = $_BLOCK->getActivities();
?>
<div class="widget-container">
    <div class="widget-header">
        <h2><?= $this->__('Recent Activity') ?></h2>
    </div>
    <div class="widget-content">
        <ul>
            <?php if (! count($activityItems)): ?>
                <li class="no-item">
                    <span><?= $this->__('None yet') ?></span>
                </li>
            <?php else: ?>
                <?php foreach ($activityItems as $activityItem): /** @var \Geeftlist\Model\Activity $activityItem */ ?>
                    <?php if ($html = $_BLOCK->renderActivityItem($activityItem)): ?>
                        <li class="activity-item type-<?= $activityItem->getTypeId() ?> action-<?= $activityItem->getAction() ?> object-<?= $activityItem->getObjectType() ?>">
                            <?= $html; ?>
                            <span class="date"><?= $i18n->datetime($activityItem->getCreatedAt(), 'long'); //TODO Use relative date ?></span>
                        </li>
                    <?php endif; ?>
                <?php endforeach; ?>
            <?php endif; ?>
        </ul>
    </div>
</div>
