<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Block\Widget\UpcomingBirthdays $_BLOCK */

$i18n = $this->getI18n();
$birthdays = $_BLOCK->getBirthdaysData();
?>
<?php if (count($birthdays)): ?>
<div class="widget-container">
    <div class="widget-header">
        <h2><?= $this->__('Upcoming Birthdays') ?></h2>
    </div>
    <div class="widget-content">
        <ul>
            <?php foreach ($birthdays as $birthday): ?>
                <li class="geeftee-birthday">
                    <img alt="Geeftee's avatar" class="profile-avatar" src="<?= $this->getUrlHelper()->getGeefteeAvatarUrl($birthday['geeftee_id']) ?>">
                    <?= $this->__(
                        '<a href="{0}">{1}</a>: {2} (<span class="birthday-date">{3}</span> y.o.)',
                        $birthday['geeftee_profile_url'],
                        $this->escapeHtml($birthday['geeftee_name']),
                        $i18n->date($birthday['geeftee_dob'], 'long'),
                        $birthday['geeftee_age']
                    ) ?>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
</div>
<?php endif; ?>
