.geeftlist-badge {
    @include button(false, $geeftlist-badge-background, auto, $geeftlist-badge-color, solid);
    position: relative;
    padding: .3rem;
    line-height: 1em;
    border-color: $medium-gray;
    font-weight: $global-weight-normal;

    > span {
        vertical-align: middle;
        display: inline-block;

        &.icon {
            height: 2em;
            width: 2em;

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }

    &:hover,
    &:focus {
        background-color: $geeftlist-badge-background;
    }

    @include breakpoint(small only) {
        font-size: smaller;
        margin: 0 0 .2rem 0;

        > span {
            &.icon {
                height: 1.2em;
                width: 1.2em;
            }
        }
    }
    @include breakpoint(medium) {
        &.small {
            font-size: smaller;
            margin: 0 0 .2rem 0;

            > span {
                &.icon {
                    height: 1.2em;
                    width: 1.2em;
                }
            }
        }
    }
}

.geeftlist-badge-tooltiped {
    cursor: help;
}
