.dialog {
    @include callout-base;
    @include grid-column-row();

    @include breakpoint(small) {
        @include grid-col-size(12);
    }

    @include breakpoint(medium) {
        @include grid-col-size(6);
    }

    &.with-icon {
        &::before {
            display: block;
            position: absolute;
            left: -5rem;
            font-size: 6em;
            line-height: 1em;
            z-index: $z-index-background-icon;
        }
    }

    &.success {
        background-color: lighten($success-color, 40%);
        @include icon-prefix($fa-var-check, lighten($success-color, 20%));
    }
    &.question,
    &.confirm {
        background-color: lighten(#4c81c9, 40%);
        @include icon-prefix($fa-var-question-circle, lighten(#4c81c9, 20%));
    }
    &.error {
        background-color: lighten($alert-color, 32%);
        @include icon-prefix($fa-var-exclamation-circle, lighten($alert-color, 20%));
    }

    .dialog-buttons {
        padding-top: 1rem;
        display: flex;

        /* https://github.com/zurb/foundation-sites/issues/8045 */
        @include foundation-flex-grid;

        @include flex-grid-row();
        @include flex-align("center", "bottom");

        .button {
            @include flex-grid-column();
            margin-bottom: 0;
            margin: 0.2rem;
        }
    }
}
