.discussion-topics-container {
    .topics-title {
        @include icon-prefix($fa-var-comments);
    }
}

.discussion-topic {
    @include grid-column();

    position: relative;

    .discussion-post {
        border-bottom: solid $medium-gray 1px;
        margin-top: .5rem;

        &:last-child {
            border-bottom: none;
        }
    }

    .pinned-items {
        .discussion-post {
            border: solid $secondary-color 1px;

            &:last-child {
                margin-bottom: 3rem;
            }
        }
    }

    .discussion-topic-header {
        .actions {
            text-align: center;
        }
    }
}

.discussion-post {
    @include grid-row();
    position: relative;
    padding: 1rem;
    clear: both;

    &.pinned {
        @include icon-prefix($fa-var-thumbtack);
        &::before {
            font-size: 1.5em;
            position: absolute;
            left: 5px;
            top: -5px;
            transform: rotate(330deg);
            color: $secondary-color;
        }
    }

    .discussion-post-header {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        .author {
            display: inline-block;
        }
        .creation-time {
            display: inline-block;
            color: $dark-gray;

            a {
                color: $dark-gray;
            }
        }
    }

    .discussion-post-body {
        clear: both;
    }

    .discussion-post-footer {
        float: right;
        margin: 0.5rem 0;

        .actions {
            display: inline-block;
            text-align: center;

            .button  {
                margin: 0;
            }
        }

        .creation-time,
        .last-edition-time {
            display: inline-block;
            font-size: small;
            color: $dark-gray;
        }
        .last-edition-time {
            padding: 0 2rem;
        }
    }

    .actions {
        .button {
            @extend .tiny;
            padding:  0.4rem;
        }
    }
}
