.geeftee-card {
    /* https://github.com/zurb/foundation-sites/issues/8045 */
    @include foundation-flex-grid;

    @include flex-grid-row();
    @include flex-align("center", "stretch");

    display: flex;
    position: relative;
    padding: 0;
    border: lighten($primary-color, 30%) solid thin;
    margin-bottom: 1rem;
    word-wrap: break-word;
    align-content: stretch;

    .profile-avatar {
        height: 90%;
        width: 90%;
        max-height: 64px;
        max-width: 64px;
        margin: 0;
    }

    .col-left {
        @include breakpoint(small) {
            @include flex-grid-column(12);
        }
        @include breakpoint(medium) {
            @include flex-grid-column(2);
        }
        @include flex-grid-row();
        @include flex-align("center", "middle");
        background: lighten($primary-color, 30%);
    }

    .col-right {
        @include breakpoint(small) {
            @include flex-grid-column(12);
        }
        @include breakpoint(medium) {
            @include flex-grid-column(10);
        }

        padding: .5rem;

        > div:not(.clearfix):not(:last-child) {
            margin: 0 0 .4rem 0;
            clear: both;
        }

        .geeftee-name {
            @extend h2;
            display: inline-block;
        }
        .created-by-link {
            display: inline-block;
            font-size: .8em;
            color: $dark-gray;
        }

        .claim-profile-link,
        .pending-claim-request-found {
            @include callout-style($info-background);

            display: inline-block;
            padding: .3rem .5rem;
            font-size: 0.8em;
        }
        .claim-profile-link {
            @include icon-prefix($fa-var-question-circle);
        }
        .pending-claim-request-found {
            @include icon-prefix($fa-var-clock);
        }

        .geeftee-subtitle {
            font-size: smaller;
        }

        .gift-count {
            @include icon-prefix($fa-var-gift);
            &::before {
                width: 14px;
            }
        }

        .action-buttons {
            margin-top: .5rem;

            a,button {
                @include button(false);
                padding: 0.4rem;
                margin-bottom: 0.2rem;

                @include breakpoint(small only) {
                    @include grid-col(12);
                }
            }
        }
    }
}
