.geeftee-list-header-container {
    @include grid-row();

    .gift-filters-toolbar {
        @include grid-col-size(12);

        ul.dropdown {
            text-align: $global-right;

            li {
                &.filters {
                    z-index: $z-index-dropdown;

                    > a {
                        @include icon-prefix($fa-var-filter);
                    }
                    li {
                        > a {
                            @include icon-prefix($fa-var-circle);
                        }
                        &:not(.selected) a::before {
                            visibility: hidden; // Hide circle icon above (just here as spacer)
                        }
                        &.selected > a {
                            @include icon-prefix($fa-var-check);
                        }

                        /* Special selected icon for item "all" */
                        &.selected.filter-all > a {
                            @include icon-prefix($fa-var-check-double);
                        }
                    }
                }
                &.sort-by {
                    > a {
                        @include icon-prefix($fa-var-sort);
                    }
                    li {
                        > a {
                            @include icon-prefix($fa-var-circle, null, null, "regular");
                        }
                        &.selected > a {
                            @include icon-prefix($fa-var-dot-circle, null, null, "regular");
                        }
                    }
                }

                &:hover {
                    background-color: $light-gray;
                }

                li {
                    text-align: $global-left;
                    white-space: nowrap;
                }
            }
        }
    }
}

.geeftee-list-container {
    .tabs-title a {
        padding: .75rem;
        font-size: medium;
    }

    .tabs-content {
        border: 0;

        .tabs-panel {
            padding: 0;
        }
    }
}
