.gift-lists-selector {
    .lists-container {
        padding: 0 1rem;
    }
}

.giftlist-select-wrapper {
    tag {
        .tagify__tag-text {
            @include icon-prefix($fa-var-clipboard-list, $color-primary-0);
        }

        &.isnew {
            .tagify__tag-text {
                @include icon-prefix($fa-var-asterisk, $color-primary-0);
            }
        }
    }
}
