.gift {
    .gift-discussion-status.none,
    .gift-reservation-status.none {
        i {
            @extend .far;
        }
    }
    .gift-reservation-status {
        > span {
            padding: 0 2px;

            &.own-reservation {
                border: 1px solid $primary-color;
            }
        }
    }

    .gift-image {
        text-align: center;
    }

    .gift-description {
        background-color: scale-color($color-secondary-2-0, $lightness: $callout-background-fade);
        margin: 0;
        padding: 1rem;

        font-size: medium;
        word-break: break-word;
        border: none;
    }

    .gift-actions {
        .button-group {
            display: grid;
            grid-template-columns: 50% 50%;

            > * {
                display: flex !important;
                flex-direction: column;
                width: auto !important; // Reset width for the grid display

                > button {
                    width: auto !important;
                }
            }

            .dropmic.more-dropdown {
                display: inline;
            }
            .more-dropdown a {
                margin: 0 !important;
                width: 100% !important;
            }
        }
    }

    &li.accordion-item {
        list-style: none;
    }

    a.gift-name-container {
        font-size: medium;
    }
    .gift-name-container {
        border-spacing: 0.5rem 0.2rem;

        &::before {
            display: none;
        }
        div {
            display: table-cell;
            vertical-align: middle;
        }
        div.gift-name {
            width: 100%;
        }
        div:not(.gift-name) {
            text-align: center;
            white-space: nowrap;
        }
    }
    .gift-details-container .gift-creator {
        text-align: center;
    }

    .current-reservations {
        .no-item,
        .reservations-not-visible {
            @extend .subheader;
            text-align: center;
        }

        tr.reservation {
            cursor: help;
        }
        tr.type-reservation span {
            @include icon-prefix($fa-var-bookmark);
            color: $dark-gray;
        }
        tr.type-purchase span {
            @include icon-prefix($fa-var-shopping-cart);
            color: $dark-gray;
        }

        .null-amount {
            @extend em;
            @extend .subheader;
        }
    }
}

.gifts-container {
    .gift-badges {
        margin-top: .5rem;
    }

    .no-item {
        margin-top: 3rem;
        text-align: center;
    }
}

.dialog .gift-name-container {
    font-size: large;
}
