.grid-wrapper {
    clear: both;

    .col-select {
        text-align: right;
    }

    img.profile-avatar {
        margin-right: .5em;
    }

    td.col-actions a {
        display: block;

        &::before {
            min-width: 20px;
            text-align: center;
        }
    }
}

.family-grid {
    tbody td.col-name {
        @include icon-prefix($fa-var-users);
    }
}

.claimrequest-grid {
    td {
        .name,
        .email {
            display: block;
        }
    }
}

th.col-geeftees,
td.col-geeftees,
th.col-geeftees,
td.col-geeftees {
    & > span {
        display: block;

        &:not(:first-child) {
            margin-top: .2rem;
        }
    }
}
th.col-actions,
td.col-actions,
th.col-status,
td.col-status {
    white-space: nowrap;
}
th.col-status,
td.col-status {
    text-align: center;
    > span {
        &::before {
            display: block !important;
            font-size: large;
        }
        > span {
            font-size: small;
        }
    }
}
th.col-estimated-price .not-set,
td.col-estimated-price .not-set {
    font-size: small;
    color: $dark-gray;
}
td.col-priority {
    font-size: x-large;
}

#gift-grid_wrapper {
    .dt-buttons {
        .btn-hidden {
            display: none;
        }

        .switch {
            &.show-archived {
                .switch-paddle i {
                    @extend .fas;
                    @extend .fa-archive;
                }
            }
        }
    }

    @include breakpoint (small only) {
        #gift-grid_filter input {
            width: 10rem !important;
        }
        #gift-grid_length {
            display: none;
        }
    }
}

.gift-grid {
    td.col-image {
        text-align: center;
    }
    td.col-priority {
        .status-label,
        .priority-label {
            display: block;
        }
    }
}
