label .description {
    font-size: initial; /* Ignore this class regarding font-size */
}

.visibility-label {
    &.visibility-public {
        @include icon-prefix($fa-var-users, $public-background-color);
    }
    &.visibility-protected {
        @include icon-prefix($fa-var-unlock-alt, $protected-background-color);
    }
    &.visibility-private {
        @include icon-prefix($fa-var-eye-slash, $private-background-color);
    }
}

.status-label {
    &.status-available {
        @include icon-prefix($fa-var-gift, $available-background-color);
        &::before {
            display: inline !important; /* Need to be forced here*/
        }
    }
    &.status-active {
        @include icon-prefix($fa-var-circle, $available-background-color);
        &::before {
            display: inline !important; /* Need to be forced here*/
        }
    }
    &.status-archived {
        @include icon-prefix($fa-var-archive, $archived-background-color);
        &::before {
            display: inline !important; /* Need to be forced here*/
        }
    }
    &.status-deleted {
        @include icon-prefix($fa-var-trash, $deleted-background-color);
        &::before {
            display: inline !important; /* Need to be forced here*/
        }
    }

    > span {
        display: none;
    }
}

.priority-label {
    display: inline-block;
    text-align: center;
    > span {
        display: none;
    }
    &.priority-0 > span {
        display: none; // Just hide it completely
        /*
        font-size: small;
        display: inline-block;
        color: $dark-gray;
        */
    }
    &::before {
        @extend %fa-icon;
        width: 1.25em;
        height: 1.25em;

        background-size: 1.25em 1.25em;
        background-repeat: no-repeat;
        content: '\00a0';
        /* Thanks to https://isotropic.co/hex-color-to-css-filter/ */
        filter: invert(34%) sepia(56%) saturate(2013%) hue-rotate(334deg) brightness(100%) contrast(105%);
    }
    &.priority-100::before {
        background-image: url(../img/priority/hearts1.svg);
    }
    &.priority-200::before {
        background-image: url(../img/priority/hearts2.svg);
    }
    &.priority-300::before {
        background-image: url(../img/priority/hearts3.svg);
    }
}
