html.is-reveal-open.zf-has-scroll {
    // Fix a nasty visual bug when modal is open that cuts the page
    overflow-y: visible;
}

.reveal {
    h3 {
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }

    .button-group {
        margin-top: 1rem;
        margin-bottom: 0;
    }
}
