/* See node_modules/toastify-js/src/toastify.css */

.toastify {
    /*
    padding: 12px 20px;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3);
    background: -webkit-linear-gradient(315deg, #73a5ff, #5477f5);
    background: linear-gradient(135deg, #73a5ff, #5477f5);
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    */

    @extend .callout;
    font-size: medium;
    border: 0 !important;

    color: #ffffff;
    display: inline-block;
    position: fixed;
    opacity: 0;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    max-width: calc(50% - 20px);
    z-index: 2147483647;

    &::before {
        margin-right: .5rem;
    }
}

.toastify.on {
    opacity: 0.9;
    box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.1);

    &:hover {
        opacity: 1;
    }
}

.toast-close {
    opacity: 1;
    padding: 0 5px 0 2rem;

    border: 0 !important;
}

.toastify-right {
    right: 15px;
}

.toastify-left {
    left: 15px;
}

.toastify-top {
    top: -150px;
}

.toastify-bottom {
    bottom: -150px;
}

.toastify-rounded {
    border-radius: 25px;
}

.toastify-avatar {
    opacity: 1;
    width: 1.5em;
    height: 1.5em;
    margin: -7px 5px;
    border-radius: 2px;
}

.toastify-center {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: fit-content;
    max-width: -moz-fit-content;
}

@media only screen and (max-width: 360px) {
    .toastify-right, .toastify-left {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        max-width: fit-content;
    }
}
