.top-bar {
    z-index: $z-index-top-bar;
    padding: .5rem 0;

    > div {
        @include flex-grid-row();

        .top-bar-menu {
            @include flex-grid-column(2);
            @extend .align-self-middle;
            text-align: left;
        }
        .top-bar-title {
            @include flex-grid-column(8);
            @extend .align-self-middle;
            @extend .align-center;
            text-align: center;
            padding-top: 0;
            padding-bottom: 0;

            > a.logo span {
                position: relative;
            }
        }
    }

    a#nav-menu-btn {
        @include icon-prefix($fa-var-bars);
        font-size: x-large;

        &::before {
            vertical-align: middle;
        }

        > span {
            vertical-align: middle;

            @include breakpoint(small only) {
                display: none;
            }
        }
    }
}

#nav-menu {
    li > a::before {
        border: none !important;
        width: 2em !important;
        display: inline-block !important;
    }

    li.home > a {
        @include icon-prefix($fa-var-home);
    }
    li.gifts-menu > a {
        @include icon-prefix($fa-var-gift);
    }
    li.my-reservations > a {
        @include icon-prefix($fa-var-bookmark);
    }
    li.my-giftlists > a {
        @include icon-prefix($fa-var-clipboard-list);
    }
    li.giftlist-view > a {
        @include icon-prefix($fa-var-clipboard-list);
    }
    li.giftlist-manage > a {
        @include icon-prefix($fa-var-clipboard-list);
    }
    li.giftlist-new > a {
        @include icon-prefix($fa-var-plus);
    }
    li.gifts-for-me > a {
        @include icon-prefix($fa-var-user);
    }
    li.gifts-for-relatives > a {
        @include icon-prefix($fa-var-user-friends);
    }
    li.gift-new > a {
        @include icon-prefix($fa-var-plus);
    }
    li.my-families > a {
        @include icon-prefix($fa-var-users);
    }
    li.family-manage > a {
        @include icon-prefix($fa-var-users);
    }
    li.my-relatives > a,
    li.all-my-relatives > a {
        @include icon-prefix($fa-var-user-friends);
    }
    li.family-explore > a {
        @include icon-prefix($fa-var-users);
    }
    li.family-join > a {
        @include icon-prefix($fa-var-plus);
    }
    li.family-membership-requests > a {
        @include icon-prefix($fa-var-envelope-open-text);
    }
    li.geeftee-claim-requests > a {
        @include icon-prefix($fa-var-link);
    }
    li.create-invitation > a {
        @include icon-prefix($fa-var-ticket);
    }

    li.username > a img.profile-avatar {
        height: 24px;
        width: 24px;
    }

    li.signup > a {
        @include icon-prefix($fa-var-user-plus);
    }
    li.signin > a {
        @include icon-prefix($fa-var-sign-in-alt);
    }
    li.dashboard > a {
        @include icon-prefix($fa-var-tachometer-alt);
    }
    li.profile > a {
        @include icon-prefix($fa-var-user-circle);
    }
    li.help > a {
        @include icon-prefix($fa-var-question);
    }
    li.contact > a {
        @include icon-prefix($fa-var-envelope);
    }
    li.about > a {
        @include icon-prefix($fa-var-info-circle);
    }
    li.logout > a {
        @include icon-prefix($fa-var-sign-out-alt);
    }
}
