<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Model\Family $FAMILY */
/** @var \Geeftlist\Form\Element\Family\VisibilityRadioGroup $VISIBILITY_RADIOGROUP */
?>

<div class="family-edit-form form-container">
    <div class="form-col">
        <input type="hidden" name="family_id" value="<?= $FAMILY->getId() ?>">
        <div class="fields">
            <label><?= $this->__('Name') ?>
                <input type="text" name="name"
                       placeholder="<?= $this->escapeHtml($this->__('E.g. "Smith-Williams Family", "2004 College Class", etc.')) ?>"
                       value="<?= $this->escapeHtml($FAMILY->getName()); ?>" required/>
                <span class="form-error"><?= $this->__('Missing or invalid value.') ?></span>
            </label>
            <div class="form-label">
                <label><?= $this->__('Visibility') ?></label>
                <div class="radiogroup visibility-radiogroup">
                    <?= $VISIBILITY_RADIOGROUP->toHtml() ?>
                </div>
            </div>
        </div>
    </div>
</div>
