<?php
/** @var \Geeftlist\Service\View $_VIEW */
/** @var \Geeftlist\Form\Element\Gift\OpenGiftSwitch $_BLOCK */
?>
<div id="{{ @_BLOCK->getId() }}_container"
     class="input-open_gift {{ @_BLOCK->getClass() }}">
    <p>{{ @_VIEW->__("Should the selected geeftees be able to view this gift?") }}</p>
    <div class="switch-container">
        <div class="switch">
            <input class="switch-input" id="{{ @_BLOCK->getId() }}" type="checkbox" name="{{ @_BLOCK->getName() }}[{{ \Geeftlist\Model\Share\Gift\RuleType\OpenGiftType::CODE }}][rule_type]" value="{{ \Geeftlist\Model\Share\Gift\RuleType\OpenGiftType::CODE }}" {{ @_BLOCK->getCheckedHtml() }}>
            <label class="switch-paddle switch-emphasize-unchecked" for="{{ @_BLOCK->getId() }}">
                <span class="show-for-sr">{{ @_VIEW->__("Yes") }}</span>
                <span class="switch-active switch-check" aria-hidden="true"><i></i></span>
                <span class="switch-inactive switch-x" aria-hidden="true"><i></i></span>
            </label>
        </div>
        <div class="description-container">
            <set geefteeDefinitionUrl="{{ 'help', ['_fragment' => 'definition-geeftee'] | url }}"/>
            <div class="description" id="{{ @_BLOCK->getId() }}_desc_yes">
                <span>{{ @_VIEW->__("The <a href=\"{0}\" target=\"_blank\">geeftees</a> <strong>will</strong> be able to see this gift, but they won't see the reservations and won't be notified about its updates.", @geefteeDefinitionUrl) }}</span>
            </div>
            <div class="description" id="{{ @_BLOCK->getId() }}_desc_no">
                <span>{{ @_VIEW->__("The <a href=\"{0}\" target=\"_blank\">geeftees</a> <strong>will not</strong> be able to see this gift. (default)", @geefteeDefinitionUrl) }}</span>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<script type="text/javascript-lazy" on="ready">
    var toggleOpenGiftDescription = function () {
        if ($('#{{ @_BLOCK->getId() }}').prop('checked')) {
            $('#{{ @_BLOCK->getId() }}_desc_yes').show();
            $('#{{ @_BLOCK->getId() }}_desc_no').hide();
        }
        else {
            $('#{{ @_BLOCK->getId() }}_desc_no').show();
            $('#{{ @_BLOCK->getId() }}_desc_yes').hide();
        }
    };
    $('#{{ @_BLOCK->getId() }}').on('change', toggleOpenGiftDescription);
    toggleOpenGiftDescription();
</script>
