<?php
/** @var \Geeftlist\Service\View $_VIEW */
/** @var \Geeftlist\Form\Element\Gift\ShareRuleRadioGroup $_BLOCK */
?>
<set row="0"/>
<div id="{{ @_BLOCK->getId() }}"
     class="radiogroup input-share_rule {{ @_BLOCK->getClass() }}">
    <div>
        <div class="option-container option-regular">
            <label>
                <input name="{{ @_BLOCK->getName() }}[selected_rule_type]" value="{{ \Geeftlist\Model\Share\Gift\RuleType\RegularType::CODE }}" {{ @_BLOCK->getCheckedHtml(\Geeftlist\Model\Share\Gift\RuleType\RegularType::CODE) }} type="radio">
                <input name="{{ @_BLOCK->getName() }}[{{ \Geeftlist\Model\Share\Gift\RuleType\RegularType::CODE }}][rule_type]" value="{{ \Geeftlist\Model\Share\Gift\RuleType\RegularType::CODE }}" type="hidden">
                <span><span>{{ @_BLOCK->getOptionLabel('Regular') }}</span></span>
                <div class="description">{{ @_VIEW->__("The gift will be visible and reservable by all members of the geeftee's families.") }}</div>
            </label>
        </div>

        <div class="option-container option-family">
            <label>
                <input name="{{ @_BLOCK->getName() }}[selected_rule_type]" value="{{ \Geeftlist\Model\Share\Gift\RuleType\FamilyType::CODE }}" {{ @_BLOCK->getCheckedHtml(\Geeftlist\Model\Share\Gift\RuleType\FamilyType::CODE) }} type="radio">
                <input name="{{ @_BLOCK->getName() }}[{{ \Geeftlist\Model\Share\Gift\RuleType\FamilyType::CODE }}][rule_type]" value="{{ \Geeftlist\Model\Share\Gift\RuleType\FamilyType::CODE }}" type="hidden">
                <span><span>{{ @_BLOCK->getOptionLabel('Families') }}</span></span>
                <div class="description">{{ @_VIEW->__("The gift will be visible and reservable by all members of the selected families.") }}</div>
            </label>
            <div class="additional-container">
                <select multiple="multiple" id="share_rule_params_family" class="input-multiselect" name="{{ @_BLOCK->getName() }}[{{ \Geeftlist\Model\Share\Gift\RuleType\FamilyType::CODE }}][params][family_ids][]">
                    <repeat group="{{ @_BLOCK->getFamilyOptions() }}" value="{{ @option }}">
                        <option value="{{ @option['value'] }}" {{ @_BLOCK->getFamilySelectedHtml(@option['value']) }}>{{ @option['label'] }}</option>
                    </repeat>
                </select>
            </div>
        </div>

        <div class="option-container option-geefter">
            <label>
                <input name="{{ @_BLOCK->getName() }}[selected_rule_type]" value="{{ \Geeftlist\Model\Share\Gift\RuleType\GeefterType::CODE }}" {{ @_BLOCK->getCheckedHtml(\Geeftlist\Model\Share\Gift\RuleType\GeefterType::CODE) }} type="radio">
                <input name="{{ @_BLOCK->getName() }}[{{ \Geeftlist\Model\Share\Gift\RuleType\GeefterType::CODE }}][rule_type]" value="{{ \Geeftlist\Model\Share\Gift\RuleType\GeefterType::CODE }}" type="hidden">
                <span><span>{{ @_BLOCK->getOptionLabel('Geefters') }}</span></span>
                <div class="description">{{ @_VIEW->__("The gift will only be visible and reservable by the selected geefters.") }}</div>
            </label>
            <div class="additional-container">
                <select multiple="multiple" id="share_rule_params_geefter" class="input-multiselect" name="{{ @_BLOCK->getName() }}[{{ \Geeftlist\Model\Share\Gift\RuleType\GeefterType::CODE }}][params][geefter_ids][]">
                    <repeat group="{{ @_BLOCK->getGeefterOptions() }}" value="{{ @option }}">
                        <option value="{{ @option['value'] }}" {{ @_BLOCK->getGeefterSelectedHtml(@option['value']) }}>{{ @option['label'] }}</option>
                    </repeat>
                </select>
            </div>
        </div>

        <div class="option-container option-private">
            <label>
                <input name="{{ @_BLOCK->getName() }}[selected_rule_type]" value="{{ \Geeftlist\Model\Share\Gift\RuleType\PrivateType::CODE }}" {{ @_BLOCK->getCheckedHtml(\Geeftlist\Model\Share\Gift\RuleType\PrivateType::CODE) }} type="radio">
                <input name="{{ @_BLOCK->getName() }}[{{ \Geeftlist\Model\Share\Gift\RuleType\PrivateType::CODE }}][rule_type]" value="{{ \Geeftlist\Model\Share\Gift\RuleType\PrivateType::CODE }}" type="hidden">
                <span><span>{{ @_BLOCK->getOptionLabel('Private') }}</span></span>
                <div class="description">{{ @_VIEW->__('Only you will be able to view and reserve this gift.') }}</div>
            </label>
        </div>
    </div>
</div>

<script type="text/javascript-lazy" on="ready">
    var toggleAdditionalContainers = function () {
        $('#share_rule')
                .find('.additional-container')
                .hide(400);
        $('#share_rule .option-container')
                .has('input:checked')
                .find('.additional-container')
                .show(400);
    };
    $('#{{ @_BLOCK->getId() }} input').on('change', toggleAdditionalContainers);
    toggleAdditionalContainers();

    $("#{{ @_BLOCK->getId() }} .input-multiselect").multiSelect({
        keepOrder: true
    });
</script>
