<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Block\Geeftee $_BLOCK */
/** @var \Geeftlist\Model\Geeftee $GEEFTEE */

$i18n = $this->getI18n();

$geefteeNameHtmlTag = $_BLOCK->getConfig('geeftee_name_html_tag', 'h2');
$geefteeNameHtml = sprintf(
        '<%s class="geeftee-name" title="%s">%s</%s>',
        $geefteeNameHtmlTag,
        $this->escapeHtml($GEEFTEE->getEmail()) ?: '',
        $this->escapeHtml($GEEFTEE->getName()),
        $geefteeNameHtmlTag
);

$isGeefterLess = $GEEFTEE->getGeefterId() === null;

// Show/hide sections
$showClaimLink = $_BLOCK->shouldShowClaimLink($GEEFTEE);
$claimRequest = $_BLOCK->getConfig('claim_request');
$showProfileLink = $_BLOCK->getConfig('show_profile_link');

// Badges
$showBadges = $_BLOCK->getConfig('show_badges', true);
$badgesBlockName = $_BLOCK->getConfig('badges_block_name');

// Gift count
$showGiftCount = $_BLOCK->getConfig('show_gift_count', true);

// Action buttons
$showActionButtons = $_BLOCK->getConfig('show_action_buttons', true);
$showAddGiftButton = $_BLOCK->shouldShowAddGiftButton($GEEFTEE);
$showEditButton = $_BLOCK->shouldShowEditButton($GEEFTEE);
$showDeleteButton = $_BLOCK->shouldShowDeleteButton($GEEFTEE);
?>

<div class="geeftee-card">
    <div class="col-left">
        <div class="profile-avatar-container">
            <?php if ($showProfileLink): ?>
                <a class="profile-link" href="<?= $GEEFTEE->getProfileUrl() ?>">
            <?php endif; ?>
            <img alt="Geeftee's avatar" class="profile-avatar" src="<?= $this->getUrlHelper()->getGeefteeAvatarUrl($GEEFTEE->getId()) ?>">
            <?php if ($showProfileLink): ?>
                </a>
            <?php endif; ?>
        </div>
    </div>
    <div class="col-right">
        <?= $geefteeNameHtml ?>
        <?php if ($isGeefterLess && ($creator = $GEEFTEE->getCreator())): ?>
            <span class="created-by-link"><?= $this->__('created by <a href="{0}">{1}</a>', $creator->getProfileUrl(), $creator->getUsername()) ?></span>
        <?php endif; ?>
        <div class="clearfix"></div>
        <?php if ($isGeefterLess && $showClaimLink): ?>
            <?php if ($claimRequest): ?>
                <div class="pending-claim-request-found">
                    <?= $this->__('Your request created on {0} is currently waiting for approval.', $i18n->date($claimRequest->getCreatedAt(), 'short')) ?>
                </div>
            <?php else: ?>
                <div class="claim-profile-link">
                    <?= $this->__('Is this you?') ?>
                    <a href="<?= $this->getUrl('geeftee_claim_request/create', ['geeftee_id' => $GEEFTEE->getId(), '_referer' => true]) ?>"><?= $this->__('Claim this profile now!') ?></a>
                </div>
            <?php endif; ?>
        <?php endif; ?>
        <div class="geeftee-subtitle geeftee-birthdate" title="<?= $this->inlineJsQuoteEscape($i18n->date($GEEFTEE->getDob(), 'long')) ?>"><?= ($bd = $_BLOCK->getBirthDate($GEEFTEE)) ? $this->__('Born: {0}', $bd) : '' ?></div>
        <?php if ($showBadges): ?>
            <div class="geeftee-badges">
                <?= $this->renderBlock($badgesBlockName, null, ['ENTITY' => $GEEFTEE]) ?>
            </div>
        <?php endif; ?>
        <?php if ($showGiftCount): ?>
            <div class="gift-count"><?= $this->__('{0,plural,zero{No gift},one{1 gift},other{# gifts}} available', $_BLOCK->getGiftCount($GEEFTEE)) ?></div>
        <?php endif; ?>
        <div class="bottom-row">
            <?php if ($showActionButtons): ?>
                <div class="action-buttons">
                    <?php if ($showAddGiftButton): ?>
                    <a class="button small create" href="<?= $this->getUrl('gift/new', ['_referer' => true, 'geeftee_ids' => $GEEFTEE->getId()]) ?>"><span><?= $this->__('Create new gift') ?></span></a>
                    <?php endif; ?>
                    <?php if ($showEditButton): ?>
                        <a class="button small edit" href="<?= $this->getUrl('geeftee_manage/edit', ['geeftee_id' => $GEEFTEE->getId(), '_referer' => true]) ?>"><?= $this->__('Update details') ?></a>
                    <?php endif; ?>
                    <?php if ($showDeleteButton): ?>
                        <a class="button small delete" href="<?= $this->getUrl('geeftee_manage/confirmDelete', ['geeftee_id' => $GEEFTEE->getId(), '_referer' => true]) ?>"><?= $this->__('Delete') ?></a>
                    <?php endif; ?>
                </div>
            <?php endif; ?>
        </div>
    </div>
</div>
