<?php
/** @var \Geeftlist\Service\View $this */
?>

<h1><?= $this->__('Add a geeftee') ?></h1>

<div class="heading">
    <p><?= $this->__("Use this form to create a new geeftee. You'll then be able to create gifts for him/her.") ?></p>
</div>

<?= $this->renderBlock('form'); ?>