<?php
/** @var \Geeftlist\Service\View $this */
?>

<h1><?= $this->__('Add a geeftee') ?></h1>

<div class="heading">
    <p><?= $this->__("Before creating a new geeftee, use the search form below to make sure it doesn't already exist.") ?></p>
</div>

<?= $this->renderBlock('form'); ?>