<?php
/** @var \Geeftlist\Service\View $this */
/** @var string $FORM_ACTION */
?>

<div class="account-lostpassword-form form-container">
    <div class="form-col">
        <form id="account-lost-password" action="<?= $FORM_ACTION ?>" method="post" data-abide>
            <?= $this->renderBlock('csrf_token') ?>
            <div class="fields">
                <div class="input-group">
                    <span class="input-group-label"><i class="icon-prefix email" aria-hidden="true"></i><span class="label-with-icon-prefix"><?= $this->__('Email') ?></span></span>
                    <input type="email" class="input-group-field" name="email" id="email" autocomplete="email" maxlength="128" placeholder="<?= $this->__('you@somewhere.com') ?>" value="<?= $this->escapeHtml($FORM_DATA['email'] ?? '') ?>" required/>
                </div>
                <span class="form-error" data-form-error-for="email"><?= $this->__('Missing or invalid value.') ?></span>

                <button type="submit" class="button submit"><?= $this->__('Send') ?></button>
            </div>
        </form>
    </div>
</div>
