<?php
/** @var \Geeftlist\Service\View $this */
?>

<h1><?= $this->__('Lost Password?') ?></h1>

<div class="heading">
    <p><?= $this->__("Please enter the email address you used at registration. We'll send you a link to reset your password.") ?></p>
</div>

<?= $this->renderBlock('form'); ?>
