
<include href="header.phtml"/>

<!-- @subject {{ 'Geeftlist: You are no longer a member of family {0}', [@family->getName()] | tr }} -->

<include href="content_wrapper_begin.phtml"/>
<columns small="12" large="6">
    <h1>{{ 'You are no longer a member of family {0}', [@family->getName()] | tr }}</h1>

    <p>{{ 'If you think this is a mistake, you may want to contact <a href="mailto:{0}">the owner</a> of this family.',
        [@family->getOwner()->getEmail()]
        | tr }}</p>
</columns>
<include href="content_wrapper_end.phtml"/>

<include href="footer_message.phtml"/>
<include href="footer.phtml"/>
