
<include href="header.phtml"/>

<!-- @subject {{ 'Geeftlist: You are now a member of {0}', [@family->getName()] | tr }} -->

<include href="content_wrapper_begin.phtml"/>
<columns small="12" large="6">
    <h1>{{ 'You are now a member of {0}', [@family->getName()] | tr }}</h1>

    <p>{{ 'You can now see the gifts available for its members, create and reserve some yourself!' | tr }}</p>

    <p><a href="{{ @family->getViewUrl() | url_redirect,esc }}">{{ 'Explore this family now on Geeflist!' | tr }}</a></p>
</columns>
<include href="content_wrapper_end.phtml"/>

<include href="footer_message.phtml"/>
<include href="footer.phtml"/>
