
<include href="header.phtml"/>

<!-- @subject {{ 'Geeftlist: {0} is now a new member of {1}', [@geeftee->getName(), @family->getName()] | tr }} -->

<include href="content_wrapper_begin.phtml"/>
<columns small="12" large="6">
    <h1>{{ '{0} is now a new member of {1}', [@geeftee->getName(), @family->getName()] | tr }}</h1>

    <set manage_family_url="{{ 'family_manage_members/index/family_id/' . @family->getId() | url,url_redirect,esc }}"/>
    <p>{{ 'If you do not approve this membership, you can exclude him/her via <a href="{0}">this page</a>.', [@manage_family_url] | tr }}</p>

    <set profile_url="{{ @geeftee->getProfileUrl() | url_redirect,esc }}"/>
    <p>{{ 'You may also want to check out his/her profile <a href="{0}">here</a>.', [@profile_url] | tr }}</p>
</columns>
<include href="content_wrapper_end.phtml"/>

<include href="footer_message.phtml"/>
<include href="footer.phtml"/>
