
<include href="header.phtml"/>

<!-- @subject {{ 'Geeftlist: You are now the owner of the family: {0}', [@family->getName()] | tr }} -->

<include href="content_wrapper_begin.phtml"/>
<columns small="12" large="6">
    <h1>{{ 'You are now the owner of the family: {0}', [@family->getName()] | tr }}</h1>

    <set old_owner_url="{{ @old_owner->getProfileUrl() | url_redirect,esc }}"/>
    <p>{{ '<a href="{0}">{1}</a> has just transfered the administration of the family <strong>{2}</strong> to you.',
        [@old_owner_url, @old_owner->getName(), @family->getName()]
        | tr }}</p>

    <p><a href="{{ @family->getViewUrl() | url_redirect,esc }}">{{ 'Explore this family now on Geeflist!' | tr }}</a></p>
</columns>
<include href="content_wrapper_end.phtml"/>

<include href="footer_message.phtml"/>
<include href="footer.phtml"/>
