<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Block\Gift $_BLOCK */
/** @var \Geeftlist\Model\Gift $GIFT */
?>

<a class="view" href="<?= $GIFT->getViewUrl() ?>">
    <span><?= $this->__('View') ?></span>
</a>

<?php if ($_BLOCK->canReservePurchase($GIFT) || $_BLOCK->canCancelReservation($GIFT)): ?>
    <a href="<?= $this->getUrl('gift_reservation', ['gift_id' => $GIFT->getId(), '_referer' => '_keep']) ?>" class="reserve-purchase">
        <span><?= $this->__(isset($RESERVE_LABEL) ? $RESERVE_LABEL : 'Reserve') ?></span>
    </a>
<?php endif; ?>

<?php if ($_BLOCK->canEdit($GIFT)): ?>
    <a class="edit" href="<?= $GIFT->getEditUrl(['_referer' => '_keep']) ?>">
        <span><?= $this->__('Edit') ?></span>
    </a>
<?php endif; ?>

<?php if ($_BLOCK->canArchive($GIFT)): ?>
    <a class="archive" href="javascript:void(0)"
       onclick="oliveOil.confirmAction('<?= $this->jsQuoteEscape($this->__(
           'Are you sure you want to archive this gift?\n\t{0}\n\nNotice: The current reservers (if any) will be notified.',
           $this->escapeHtml($GIFT->getLabel()))) ?>', '<?= $GIFT->getArchiveUrl(['_referer' => '_keep', '_csrf' => true]) ?>')"
    >
        <span><?= $this->__('Archive') ?></span>
    </a>
<?php endif; ?>

<?php if ($_BLOCK->canDelete($GIFT)): ?>
    <a class="delete" href="javascript:void(0)"
       onclick="oliveOil.confirmAction('<?= $this->jsQuoteEscape($this->__(
           'Are you sure you want to delete this gift?\n\t{0}\n\nNotice: The current reservers (if any) will be notified.',
           $this->escapeHtml($GIFT->getLabel()))) ?>', '<?= $GIFT->getDeleteUrl(['_referer' => '_keep', '_csrf' => true]) ?>')"
    >
        <span><?= $this->__('Delete') ?></span>
    </a>
<?php endif; ?>
