
<include href="admin/header.phtml"/>
<include href="content_wrapper_begin.phtml"/>

<!-- @subject {{ '[Geeftlist Support] New contact request' | tr }} -->

<columns small="12" large="6">
    <h1>{{ 'New contact request' | tr }}</h1>

    <dl>
        <dt><strong>{{ 'Geefter' | tr }}</strong></dt>
        <dd>{{ @geefter ? @geefter->getUsername() : "(unregistered user)" | esc }}</dd>

        <dt><strong>{{ 'Email' | tr }}</strong></dt>
        <dd>{{ @requester_email | esc }}</dd>

        <check if="{{ @geefter }}">
            <dt><strong>{{ 'Member since' | tr }}</strong></dt>
            <dd>{{ @geefter->getCreatedAt() }}</dd>
        </check>

        <dt><strong>{{ 'Subject' | tr }}</strong></dt>
        <dd>{{ @contact_subject | esc }}</dd>

        <dt><strong>{{ 'Message' | tr }}</strong></dt>
        <dd>{{ @contact_message | esc,nl2br }}</dd>

        <dt><strong>{{ 'Date' | tr }}</strong></dt>
        <dd>{{ @contact_date }}</dd>
    </dl>
</columns>

<include href="content_wrapper_end.phtml"/>
<include href="admin/footer.phtml"/>
