<include href="header.phtml"/>

<!-- @subject {{ 'Geeftlist: A gift you have reserved has been archived' | tr }} -->

<set geeftees_hlist="{{ @geeftee_names | hlist }}" />

<include href="content_wrapper_begin.phtml"/>
<columns small="12" large="6">
    <h1>{{ 'A gift has been archived' | tr }}</h1>

    <p>{{ 'The gift <strong>{0}</strong> for <strong>{1}</strong> that you reserved on {2} has been archived by its creator ({3}).',
        [@gift_label, @geeftees_hlist, @reservation_date, @creator_name]
        | tr }}</p>
    <p>{{ 'This means you will not be able to access it anymore.' | tr }}</p>

    <p><strong>{{ 'If you think this is a mistake, you may want to <a href="mailto:{0}">contact him/her</a>.',
        [@creator_email]
        | tr }}</strong></p>
    <p>{{ 'If it is a gift that has already been offered, you can safely ignore this message.' | tr }}</p>
</columns>
<include href="content_wrapper_end.phtml"/>

<include href="footer_message.phtml"/>
<include href="footer.phtml"/>
