<include href="header.phtml"/>

<!-- @subject {{ 'Geeftlist: About your reservation for {0}', [@gift_label] | tr }} -->

<set gift_url="{{ @gift_url | url_redirect }}"/>
<set reservation_url="{{ @reservation_url | url_redirect }}"/>
<set geeftees_hlist="{{ @geeftee_names | hlist }}" />

<include href="content_wrapper_begin.phtml"/>
<columns small="12" large="6">
    <h1>{{ 'About your reservation' | tr }}</h1>

    <p>{{ 'You made a reservation on <a href="{0}">{1}</a> for {2} on {3}, but never turned it into a purchase so far.',
        [@gift_url, @gift_label, @geeftees_hlist, @reservation_date]
        | tr }}</p>

    <p>{{ 'No immediate action is required, but you might want to <a href="{0}">cancel your reservation</a> to make the gift available to others if you do not plan to purchase it soon.',
        [@reservation_url]
        | tr }}</p>

    <spacer size-sm="5" size-lg="20"></spacer>

    <button href="{{ @reservation_url | esc }}" class="expanded">{{ 'Check out my reservation on Geeftlist' | tr }}</button>
</columns>
<include href="content_wrapper_end.phtml"/>

<include href="footer_message.phtml"/>
<include href="footer.phtml"/>
