<include href="header.phtml"/>

<!-- @subject {{ 'Geeftlist: About your reservation for {0}', [@gift_label] | tr }} -->

<set gift_url="{{ @gift_url | url_redirect }}"/>
<set request_archiving_url="{{ @request_archiving_url | url_redirect }}"/>
<set geeftees_hlist="{{ @geeftee_names | hlist }}" />

<include href="content_wrapper_begin.phtml"/>
<columns small="12" large="6">
    <h1>{{ 'About your reservation' | tr }}</h1>

    <p>{{ 'You made a purchase on <a href="{0}">{1}</a> for {2} on {3}, but it seems this gift has not been archived nor deleted so far.',
        [@gift_url, @gift_label, @geeftees_hlist, @reservation_date]
        | tr }}</p>

    <p>{{ 'No immediate action is required, but you might want to <a href="{0}">send an archiving request</a> to its creator if this gift has already been offered.',
        [@request_archiving_url]
        | tr }}</p>

    <p>{{ 'This situation might also be normal if the gift has not been offered yet. In this case you may simply ignore this message.' | tr }}</p>

    <spacer size-sm="5" size-lg="20"></spacer>

    <button href="{{ @gift_url | esc }}" class="expanded">{{ 'Check out this gift on Geeftlist' | tr }}</button>
    <button href="{{ @request_archiving_url | esc }}" class="expanded">{{ 'Send an archiving request' | tr }}</button>
</columns>
<include href="content_wrapper_end.phtml"/>

<include href="footer_message.phtml"/>
<include href="footer.phtml"/>
