<set gift_url="{{ @item->getGift()->getViewUrl() | url_redirect,esc }}"/>
<set geeftees_hlist="{{ @item->getGeefteeNames() | hlist }}" />

{{ '{0} has cancelled his/her reservation of <a href="{1}"><strong>{2}</strong></a> for {3}',
    [@item->getGeefterName(), @gift_url, @item->getGift()->getLabel(), @geeftees_hlist]
    | tr }}
