<set gift_url="{{ @item->getGift()->getViewUrl() | url_redirect,esc }}"/>
<set geeftees_hlist="{{ @item->getGeefteeNames() | hlist }}" />

<check if="{{ @item->getType() == \Geeftlist\Model\Reservation::TYPE_RESERVATION }}">
{{ '{0} has reserved <a href="{1}"><strong>{2}</strong></a> for {3}',
    [@item->getGeefterName(), @gift_url, @item->getGift()->getLabel(), @geeftees_hlist]
    | tr }}
</check>

<check if="{{ @item->getType() == \Geeftlist\Model\Reservation::TYPE_PURCHASE }}">
{{ '{0} has purchased <a href="{1}"><strong>{2}</strong></a> for {3}',
    [@item->getGeefterName(), @gift_url, @item->getGift()->getLabel(), @geeftees_hlist]
    | tr }}
</check>
