<set gift_url="{{ @item->getGift()->getViewUrl() | url_redirect,esc }}"/>
<set geeftees_hlist="{{ @item->getGeefteeNames() | hlist }}" />

{{ '{0} has updated his/her reservation of <a href="{1}"><strong>{2}</strong></a> for {3}',
    [@item->getGeefterName(), @gift_url, @item->getGift()->getLabel(), @geeftees_hlist]
    | tr }}

<check if="{{ @item->getOldType() != @item->getType() || @item->getOldAmount() != @item->getAmount() }}">
    <ul>
        <check if="{{ @item->getOldType() != @item->getType() }}">
            <set item_type="{{ @item->getType() | tr }}"/>
            <li>{{ 'New type:&nbsp;<strong>{0}</strong>', [@item_type] | tr }}</li>
        </check>
        <check if="{{ (@item->getOldAmount() || @item->getAmount()) && @item->getOldAmount() != @item->getAmount() }}">
            <li>
                <dl>
                    <check if="{{ @item->getOldAmount() }}">
                        <dt>{{ 'Old amount:' | tr }}</dt>
                        <dd>{{ @item->getOldAmount(), @i18n | price }}</dd>
                    </check>
                    <check if="{{ @item->getAmount() }}">
                        <dt>{{ 'New amount:' | tr }}</dt>
                        <dd>{{ @item->getAmount(), @i18n | price }}</dd>
                    </check>
                </dl>
            </li>
        </check>
    </ul>
</check>
