<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Model\Geeftee $GEEFTEE */
/** @var string $FORM_ACTION */
?>

<?php if ($GEEFTEE->getId()): ?>
    <h1><?= $this->escapeHtml($GEEFTEE->getName()) ?></h1>

    <div class="heading">
        <p><?= $this->__("Use this form to update the geeftee's details. Changes will be immediately visible to your relatives.") ?></p>
    </div>
<?php else: ?>
    <h1><?= $this->__('Add a geeftee') ?></h1>

    <div class="heading">
        <p><?= $this->__("Use this form to create a new geeftee. You'll then be able to create gifts for him/her.") ?></p>
    </div>
<?php endif; ?>

<form id="geeftee-edit" action="<?= $FORM_ACTION ?>" method="post" data-abide>
    <?= $this->renderBlock('csrf_token') ?>

    <?= $this->renderBlock('form'); ?>
</form>
