<?php
/** @var \Geeftlist\Service\View $_VIEW */
/** @var \OliveOil\Core\Form\Element\File\Image $_BLOCK */
/** @var \OliveOil\Core\Model\MagicObject $FORM_DATA */
?>

<div id="{{ @_BLOCK->getId() }}_wrapper"
     class="image-input {{ @_BLOCK->getClass() }}">
    <div class="image-preview">
        <img data-bind="attr:{src: imageUrl}, visible: errorMessages.length == 0">
        <span class="error-message" style="display: none"
              data-bind="html: errorMessages().join('<br/>'), visible: errorMessages().length > 0"></span>
    </div>
    <div class="button-wrapper">
        <button type="button" class="button small expanded upload">{{ 'From your computer' | tr,esc }}</button>
        <button type="button" class="button small expanded upload-from-url">{{ 'From a URL' | tr,esc }}</button>
        <button type="button" class="button small expanded delete" style="display: none"
                data-bind="visible: imageId().length, click: deleteImage">{{ 'Remove' | tr,esc }}</button>
    </div>
    <input type="hidden" name="{{ @_BLOCK->getName() }}"
           data-bind="value: imageId">
    <script type="text/javascript-lazy" on="ready">
        ko.applyBindings(
            new (function() {
                var self = this;

                self.uploadBtn = $('#{{ @_BLOCK->getId() }}_wrapper button.upload').first();
                self.uploadFromUrlBtn = $('#{{ @_BLOCK->getId() }}_wrapper button.upload-from-url').first();
                self.dropZone = $('#{{ @_BLOCK->getId() }}_wrapper .image-preview').first();
                self.imageUploadConfig = {{ json_encode(@_BLOCK->getJsConfig()) }};

                var imageUrl = {{ json_encode(@_BLOCK->getImageUrl(@_BLOCK->getValue()) ?? '') }};

                // Observables
                self.imageUrl = ko.observable(imageUrl ? imageUrl : self.imageUploadConfig['placeholder_url']);
                self.imageId = ko.observable({{ json_encode(@_BLOCK->getValue() ?? '') }});
                self.errorMessages = ko.observable([]);

                self.deleteImage = function() {
                    self.imageId('');
                    self.imageUrl(self.imageUploadConfig['placeholder_url']);
                    self.errorMessages([]);
                };
                self.onImageUploadError = function(filename, errorType, status, statusText, response, uploadBtn, fileSize) {
                    if (status === 413) {
                        self.errorMessages(['{{ 'Invalid image filesize.' | tr,esc_js }}']);
                    } else {
                        if (response.messages) {
                            self.errorMessages(response.messages);
                        } else {
                            self.errorMessages(['Unknown error!']);
                        }
                    }
                    self.imageUrl('');
                };
                self.uploader = new simpleAjaxUploader.SimpleUpload({
                    button: self.uploadBtn,
                    dropzone: self.dropZone,
                    url: self.imageUploadConfig.url,
                    name: '{{ @_BLOCK->getName() }}',
                    allowedExtensions: self.imageUploadConfig['allowed_extensions'],
                    maxSize: self.imageUploadConfig['max_filesize'],
                    data: self.imageUploadConfig['post_data'],
                    responseType: 'json',
                    onComplete: function(filename, response, uploadBtn, fileSize) {
                        if (response.status === 'success') {
                            self.imageId(response.imageId);
                            self.imageUrl(response.imageUrl);
                            self.errorMessages([]);
                        } else {
                            self.onImageUploadError(filename, 'soft', 400, 'Unknown error', response, uploadBtn, fileSize);
                        }
                    },
                    onError: self.onImageUploadError
                });
                $(self.uploadFromUrlBtn).click(function(ev) {
                    self.errorMessages([]);
                    let url = prompt('{{ 'Type or paste the URL to your image.' | tr,esc_js }}');
                    if (url === null) {
                        return;
                    }
                    try {
                        new URL(url);
                    } catch (e) {
                        self.errorMessages(['{{ 'Invalid URL. Please try again.' | tr,esc_js }}']);
                        return;
                    }

                    let postData = {};
                    postData['{{ @_BLOCK->getName() }}'] = url;
                    $.extend(postData, self.imageUploadConfig['post_data'])

                    $.ajax({
                        dataType: 'json',
                        url: self.imageUploadConfig.url,
                        method: 'POST',
                        data: postData,
                    }).done(function (response, textStatus, jqXHR) {
                        if (response.status === 'success') {
                            self.imageId(response.imageId);
                            self.imageUrl(response.imageUrl);
                            self.errorMessages([]);
                        } else {
                            self.onImageUploadError('(unknown)', 'soft', 400, 'Unknown error', response);
                        }
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        self.onImageUploadError('(unknown)', 'hard', jqXHR.status, textStatus, {});
                    });
                });
            }),
            $('#{{ @_BLOCK->getId() }}_wrapper')[0]
        );
    </script>
</div>
