<include href="header.phtml"/>

<!-- @subject {{ 'Geeftlist: Report for {0} by {1}', [@gift->getLabel(), @requester->getUsername()] | tr }} -->

<include href="content_wrapper_begin.phtml"/>
<columns small="12" large="6">
    <h1>{{ 'Gift report' | tr }}</h1>

    <p>{{ 'Hello {0},', [@recipient->getUsername()] | tr }}</p>
    <p>{{ '{0} has reported the following gift: <a href="{1}">{2}</a> for {3}.',
        [@requester->getUsername(), @gift->getViewUrl(), @gift->getLabel(), implode(', ', @geefteeNames)],
        | tr }}</p>

    <fieldset>
        <set report_date="{{ @reportDate | datetime }}"/>
        <legend>{{ '{0} wrote on {1}', [@requester->getUsername(), @report_date] | tr }}</legend>
        {{ @message | esc,nl2br }}
    </fieldset>
</columns>
<include href="content_wrapper_end.phtml"/>

<include href="footer_message.phtml"/>
<include href="footer.phtml"/>
