<include href="admin/header.phtml"/>
<include href="content_wrapper_begin.phtml"/>

<!-- @subject {{ '[Geeftlist Admin] Report for {0} by {1}', [@gift->getLabel(), @requester->getUsername()] | tr }} -->

<columns small="12" large="6">
    <h1>{{ 'Gift report' | tr }}</h1>

    <p>{{ '{0} has reported the following gift:', [@requester->getUsername()] | tr }}</p>

    <p><a href="{{ @gift->getViewUrl() }}">{{ @gift->getLabel() | esc }}</a></p>
    <dl>
        <dt><strong>{{ 'Creator:' | tr }}</strong></dt>
        <dd>{{ @gift->getCreator()->getUsername() | esc }}</dd>

        <dt><strong>{{ 'Created at:' | tr }}</strong></dt>
        <dd>{{ @gift->getCreatedAt() | datetime }}</dd>

        <dt><strong>{{ 'Geeftees:' | tr }}</strong></dt>
        <dd>{{ implode(', ', @geefteeNames)  | esc }}</dd>

        <dt><strong>{{ 'Image URL:' | tr }}</strong></dt>
        <dd>{{ @gift->getImageUrl() ?: 'N/A' }}</dd>

        <dt><strong>{{ 'Description:' | tr }}</strong></dt>
        <dd>{{ @gift->getDescription() | esc }}</dd>
    </dl>

    <fieldset>
        <set report_date="{{ @reportDate | datetime }}"/>
        <legend>{{ '{0} wrote on {1}', [@requester->getUsername(), @report_date] | tr }}</legend>
        {{ @message | esc,nl2br }}
    </fieldset>
</columns>

<include href="content_wrapper_end.phtml"/>
<include href="admin/footer.phtml"/>
