<include href="header.phtml"/>

<!-- @subject {{ 'Geeftlist: Archiving request for {0}', [@gift->getLabel()] | tr }} -->

<include href="content_wrapper_begin.phtml"/>
<columns small="12" large="6">
    <h1>{{ 'New archiving request' | tr }}</h1>

    <p>{{ 'Hello {0},', [@recipient->getUsername()] | tr }}</p>

    <p>{{ '{0} has requested the archiving of <a href="{1}">{2}</a> for {3}.',
        [@requester->getUsername(), @gift->getViewUrl(), @gift->getLabel(), implode(', ', @geefteeNames)]
        | tr }}</p>

    <set archive_url="{{ @archiveUrl | url_redirect,esc }}"/>
    <p>{{ 'If you agree, you can do so <a href="{0}">by clicking here</a> (you might need to log in first).', [@archive_url] | tr }}</p>

    <set delete_url="{{ @deleteUrl | url_redirect,esc }}"/>
    <p>{{ 'If you prefer to delete this gift instead, <a href="{0}">click here</a>.', [@delete_url] | tr }}</p>
</columns>
<include href="content_wrapper_end.phtml"/>

<include href="footer_message.phtml"/>
<include href="footer.phtml"/>
