<?php
/** @var \Geeftlist\Service\View $this */
/** @var \OliveOil\Core\Block\Template $_BLOCK */

/** @var \Geeftlist\View\Grid\Family $grid */
$grid = $_BLOCK->getConfig('grid');
?>

<div class="grid-wrapper">
    <table id="family-grid" class="datatable family-grid"></table>
</div>

<script id="gift-grid-script" type="text/javascript-lazy" on="ready">
    const familyGrid = new GeeftlistGrid(
        $('#family-grid'),
        {
            dataTable: <?= $grid->getRenderer()->getDataTableConfigJson() ?>
        }
    );
</script>
