<?php
/** @var \Geeftlist\Service\View $this */
?>

<h1><?= $this->__('New account') ?></h1>

<div class="heading">
    <p><?= $this->__("Please set a password for your new account.") ?></p>
</div>

<?= $this->renderBlock('form'); ?>
