<?php
/** @var \Geeftlist\Service\View $this */
/** @var \OliveOil\Core\Block\Template $_BLOCK */
/** @var array $FORM_DATA */
/** @var \Geeftlist\Form\Element\GeefteeSelect $GEEFTEE_SELECT */
/** @var \Geeftlist\Form\Element\GeefteeSelect $ROW_GEEFTEE_SELECT */

$i18n = $this->getI18n();
?>

<div id="<?= $_BLOCK->getId() ?>_wrapper" class="gift-mass-add-form form-container">
    <div class="form-col">
        <div class="fields">
            <label for="<?= $GEEFTEE_SELECT->getId() ?>">
                <?= $this->escapeHtml($this->__('Geeftee(s) (will apply to all gifts below if not empty)')) ?>
            </label>
            <?= $GEEFTEE_SELECT
                ->setAdditionalAttribute('data-bind', 'value: geefteeIds')
                ->setSkipJsInit(true)
                ->toHtml() ?>
        </div>
    </div>

    <div class="multirow-form-col">
        <div id="form-body" class="multirow-form-body"
             data-bind="template: { name: 'row-tmpl', foreach: gifts, as: 'gift', afterRender: onAfterRenderRow }">
        </div>
        <div class="row footer">
            <div id="multirow-form-gift-count" class="description"
                 data-bind="html: giftCountLabel"></div>
            <button type="button" id="add-btn" class="button add expanded"
                data-bind="click: onAddRowClick">
                <span><?= $this->escapeHtml($this->__('Add new line')) ?></span>
            </button>
        </div>
    </div>

    <?php /* <pre style="font-size: x-small" data-bind="text: ko.toJSON($data, null, 2)"></pre> */ ?>
</div>

<script id="row-tmpl" type="text/html">
    <div class="row-wrapper">
        <div class="row-body">
            <div class="cell gift-label">
                <input type="text"
                       data-bind="attr: { id: $root.getInputId('label', $index()), name: $root.getInputName('label', $index()) }, value: label"
                       placeholder="<?= $this->escapeHtml($this->__('My idea...')) ?>" required/>
                <span class="form-error"
                      data-bind="attr: { for: $root.getInputId('label', $index()) }"><?= $this->escapeHtml($this->__('Missing or invalid value.')) ?></span>
            </div>
            <div class="cell gift-estimated-price">
                <div class="input-group">
                    <input type="text"
                           data-bind="attr: { name: $root.getInputName('estimated_price', $index()) }, value: estimated_price"
                           class="input-group-field"
                           maxlength="16"
                           placeholder="<?= $this->escapeHtml($i18n->number(12.34)) ?>" />
                    <span class="input-group-label"><?= $i18n->getCurrencySymbol() ?></span>
                </div>
            </div>
            <div class="cell gift-geeftees">
                <div data-bind="visible: !$root.geefteeIds().length">
                    <?= $ROW_GEEFTEE_SELECT
                        ->setAdditionalAttribute(
                            'data-bind',
                            'attr: { id: $root.getInputId(\'geeftee_ids\', $index()), name: $root.getInputName(\'geeftee_ids\', $index()) }, value: geefteeIds'
                        )
                        ->setSkipJsInit(true)
                        ->toHtml() ?>
                </div>
            </div>
        </div>
        <div class="row-after">
            <button type="button"
                    data-bind="visible: $parent.gifts().length > 1, click: $parent.removeRow"
                    class="button no-ffab delete"><span><?= $this->escapeHtml($this->__('Remove')) ?></span></button>
        </div>
    </div>
</script>

<script type="text/javascript-lazy" on="ready">
    var FormViewModel = function(formData) {
        let self = this;
        formData = $.extend(true, {geeftee_ids: '', gifts: []}, formData);

        // Observables
        self.geefteeIds = ko.observable(formData['geeftee_ids'] || '');
        self.gifts = ko.observableArray();
        self.giftCountLabel = ko.computed(function() {
            var validGiftCount = ko.unwrap(self.gifts()).reduce(function (acc, cur) {
                return (cur.label && cur.label().trim().length) ? acc + 1 : acc;
            }, 0);
            return i18n.tr('gift-massadd-form.gift-count', {
                context: validGiftCount > 1 ? 'multiple' : 'single',
                count: validGiftCount
            });
        }, this);

        self.getInputId = function(name, idx) {
            return `gifts-${idx}-${name}`;
        };
        self.getInputName = function(name, idx) {
            return `gifts[${idx}][${name}]`;
        };
        self.onAddRowClick = function(model) { // Careful: the model is always the first argument of binding callbacks
            self.addRow();
        };
        self.addRow = function(giftData) {
            self.gifts.push(new GiftRowViewModel(giftData));
        };
        self.removeRow = function(row) {
            self.gifts.remove(row);
        };
        self.onAfterRenderRow = function(elements, rowViewModel) {
            rowViewModel.onAfterRender(elements);
        };

        for (var g in formData['gifts']) {
            self.addRow(formData['gifts'][g]);
        }
        if (!self.gifts().length) {
            self.addRow();
        }
    };
    var GiftRowViewModel = function(giftData) {
        let self = this;
        giftData = giftData || {};

        self.label = ko.observable(giftData['label'] || '');
        self.estimated_price = ko.observable(giftData['estimated_price'] || '');
        self.geefteeIds = ko.observable(giftData['geeftee_ids'] || '');

        self.onAfterRender = function(elements) {
            new GeefteeSelect($(elements).find('.gift-geeftees input')[0]);
        };
    };

    // Init KO
    ko.applyBindings(
        new FormViewModel(<?= json_encode($FORM_DATA) ?: json_encode([], JSON_FORCE_OBJECT) ?>),
        $('#<?= $_BLOCK->getId() ?>_wrapper')[0]
    );

    // Deferred init now that KO is initialized
    new GeefteeSelect('#geeftee_ids');
</script>
