<?php
/** @var \Geeftlist\Service\View $this */
/** @var string $FORM_ACTION */
?>

<h1><?= $this->__('New gifts') ?></h1>

<form id="gift-mass-add" action="<?= $FORM_ACTION ?>" method="post" data-abide>
    <?= $this->renderBlock('csrf_token') ?>
    <div class="toolbar-wrapper-top">
        <?= $this->renderBlock('toolbar'); ?>
    </div>

    <div class="heading">
        <p><?= $this->__("Use the form below to create multiple gifts at once. Quite convenient if you already have a list somewhere :)") ?></p>
    </div>

    <?= $this->renderBlock('form'); ?>

    <div class="toolbar-wrapper-bottom">
        <?= $this->renderBlock('toolbar'); ?>
    </div>
</form>
