<?php
/** @var \Geeftlist\Service\View $this */
/** @var string $FORM_ACTION */
?>

<h1><?= $this->__('Geeftee Claim Requests') ?></h1>

<form method="post" action="<?= $FORM_ACTION ?>">
    <?= $this->renderBlock('csrf_token') ?>
    <div class="toolbar-wrapper-top">
        <?= $this->renderBlock('toolbar'); ?>
    </div>

    <div class="heading">
        <p><?= $this->__("The following geefters asked for their profile to be merged with the specified geeftees you created.") ?></p>
        <p><?= $this->__("You may accept or decline each request using the link on the grid or the by selecting them then pressing the button in the toolbar.") ?></p>
    </div>

    <?= $this->renderBlock('grid'); ?>
</form>
