<?php
/** @var \Geeftlist\Service\View $this */
?>

<div class="toolbar">
    <button id="submit-accept-btn" name="action" type="submit" class="button accept" value="accept"><span><?= $this->__('Accept selected requests') ?></span></button>
    <button id="submit-reject-btn" name="action" type="action" class="button reject" value="reject"><span><?= $this->__('Reject selected requests') ?></span></button>
</div>
<script type="text/javascript-lazy" on="ready">
    $('#submit-reject-btn').click(function(ev) {
        if (! confirm('<?= $this->jsQuoteEscape($this->__('Are you sure you want to reject the selected requests?')) ?>')) {
            ev.preventDefault();
            return false;
        }
        return true;
    });
</script>