<?php
/** @var \Geeftlist\Service\View $this */
/** @var \OliveOil\Core\Block\Template $_BLOCK */
/** @var \Geeftlist\Model\Gift $GIFT */
?>

<div id="dialog-form-inputs" class="inputs">
    <div class="form-label">
        <div class="radiogroup">
            <div class="radiogroup-label">
                <span><?= $this->__('Recipient') ?></span>
            </div>
            <div class="recipient-container">
                <div>
                    <input id="recipient-creator" type="radio" name="recipient" value="<?= \Geeftlist\Model\Gift\Constants::REPORT_CREATOR ?>" data-bind="checked: recipient">
                    <label for="recipient-creator">
                        <span><?= $this->__('Creator ({0})', $this->escapeHtml($GIFT->getCreator()->getUsername())) ?></span>
                    </label>
                </div>
                <div>
                    <input id="recipient-administrator" type="radio" name="recipient" value="<?= \Geeftlist\Model\Gift\Constants::REPORT_ADMINISTRATOR ?>" data-bind="checked: recipient">
                    <label for="recipient-administrator">
                        <span><?= $this->__('Administrator') ?></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <label><?= $this->__('Please provide the reason of your report:') ?>
        <textarea name="message"
                  id="message"
                  rows="5"
                  data-bind="attr: {placeholder: textAreaPlaceholder}"
                  maxlength="<?= $_BLOCK->getConfig('message_max_length', 1000) ?>"
                  required
        ></textarea>
    </label>
</div>
<script type="text/javascript-lazy" on="ready">
    const formModel = {
        recipient: ko.observable(),
        textAreaPlaceholder: ko.observable(),
    };
    formModel.recipient.subscribe(function(value) {
        if (value == '<?= \Geeftlist\Model\Gift\Constants::REPORT_CREATOR ?>') {
            this.textAreaPlaceholder('<?= $this->jsQuoteEscape($this->__('Reasons might be: already offered, duplicate, not pertinent for this person, etc.')) ?>');
        } else {
            this.textAreaPlaceholder('<?= $this->jsQuoteEscape($this->__('Reasons might be: inappropriate, offensive, spam, illegal, etc.')) ?>');
        }
    }.bind(formModel));

    ko.applyBindings(formModel, document.getElementById('dialog-form-inputs'));
    formModel.recipient('<?= \Geeftlist\Model\Gift\Constants::REPORT_CREATOR ?>'); // Apply initial value now to trigger subscriber function
</script>
