<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Model\Gift $GIFT */

/** @var \Geeftlist\Model\ResourceModel\Db\Geeftee\Collection $geeftees */
$geeftees = $GIFT->getGeefteeCollection();
$urlHelper = $this->getUrlHelper();
?>

<?php if ($GIFT->getStatus() == \Geeftlist\Model\Gift\Field\Status::ARCHIVED): ?>
    <div class="status-notice">
        <span class="status-<?= $GIFT->getStatus() ?>">
            <?= $this->__('This gift has been <a href="{0}">archived</a>. The other geefters cannot see it.', $this->getUrl('help', ['_fragment' => 'how-to-archive-gift'])) ?>
        </span>
    </div>
<?php endif; ?>

<?= $this->renderBlock('gift'); ?>

<div class="clearfix"></div>

<div class="geeftees">
    <?php if ($geeftees->count() == 0): ?>
        <span class="not-assigned">
            <?= $this->__('This gift has currently no geeftee assigned.'); ?>
            <a href="<?= $GIFT->getEditUrl(['_referer' => true]) ?>"><?= $this->__('Assign it now!'); ?></a>
        </span>

    <?php else: ?>
        <h2><?= $this->__('This gift is for {0,plural,one{1 geeftee},other{# geeftees}}', $geeftees->count()) ?></h2>
        <?php if ($geeftees->count() == 1 && $geeftees->getFirstItem()->getId() == $this->getGeefterSession()->getGeeftee()->getId()): ?>
                <span class="for-you"><?= $this->__('you!'); ?></span>
            <?php else: ?>
                <?php foreach ($geeftees as $geeftee): ?>
                    <?= $this->renderBlock('geeftee_card', null, ['GEEFTEE' => $geeftee]); ?>
                <?php endforeach; ?>
        <?php endif; ?>
    <?php endif; ?>
</div>

<div id="discussion" class="gift-discussion">
    <?= $this->renderBlock('discussion'); ?>
</div>
