<?php
/** @var \Geeftlist\Service\View $this */
/** @var \OliveOil\Core\Block\Template $_BLOCK */
/** @var \Geeftlist\Model\Discussion\Topic|null $PROTECTED_TOPIC */
/** @var \Geeftlist\Model\Discussion\Topic|null $PUBLIC_TOPIC */

$title = $_BLOCK->getConfig('title', 'Discussion / Comments');
$hasProtectedTopic = $PROTECTED_TOPIC ?? false;
$hasPublicTopic = $PUBLIC_TOPIC ?? false;
$dualTopicDisplay = $hasProtectedTopic && $hasPublicTopic;
$postCountTitle = 0;
$postCountTitle += $hasProtectedTopic ? $PROTECTED_TOPIC->getPostCount() : 0;
$postCountTitle += $hasPublicTopic ? $PUBLIC_TOPIC->getPostCount() : 0;
?>

<div class="discussion-topics-container<?php if ($dualTopicDisplay): ?> dual-topic<?php endif; ?>">
    <h2 class="topics-title"><?= $this->escapeHtml($this->__($title)) ?>
        <span class="post-count"><?= $this->__('({0})', $postCountTitle) ?></span>
    </h2>

    <?php if ($dualTopicDisplay): ?>
        <div class="topic-title-col">
            <ul class="topic-title-list" id="topic-titles-container">
                <li class="topic-title is-active" id="topic-link-protected">
                    <a href="#topic-protected">
                        <?= $this->__('Protected messages ({0})', $PROTECTED_TOPIC->getPostCount()) ?>
                    </a>
                </li>
                <li class="topic-title" id="topic-link-public">
                    <a href="#topic-public">
                        <?= $this->__('Public messages ({0})', $PUBLIC_TOPIC->getPostCount()) ?>
                    </a>
                </li>
            </ul>
        </div>
    <?php endif ?>
    <div class="topics-col">
        <div id="topic-bodies-container" class="topic-bodies-container" data-tabs-content="topic-titles-container">
            <?php if ($hasProtectedTopic): ?>
                <div class="topic-body-tab is-active" id="topic-protected">
                    <?= $this->renderBlock('discussion_protected_topic') ?>
                </div>
            <?php endif; ?>
            <?php if ($hasPublicTopic): ?>
                <div class="topic-body-tab" id="topic-public">
                    <?= $this->renderBlock('discussion_public_topic') ?>
                </div>
            <?php endif; ?>
        </div>
    </div>
</div>
<a href="#top" class="top-link"><?= $this->__('Back to top') ?></a>

<?php if ($dualTopicDisplay): ?>
    <script type="text/javascript-lazy" on="ready">
        var tabs = new Foundation.Tabs($("#topic-titles-container"), {
            linkClass: "topic-title",
            panelClass: "topic-body-tab",
            deepLink: true
        });
    </script>
<?php endif ?>
