<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Model\Family $FAMILY */
/** @var string $FORM_ACTION */
?>

<h1><?= $this->__('Invite geeftees into family {0}', $this->escapeHtml($FAMILY->getName())) ?></h1>

<form method="post" action="<?= $FORM_ACTION ?>">
    <?= $this->renderBlock('csrf_token') ?>
    <div class="toolbar-wrapper-top">
        <?= $this->renderBlock('toolbar'); ?>
    </div>

    <div class="heading">
        <p><?= $this->__("Select users below to invite them into your family. They'll be able to share and purchase gifts with all other members.") ?></p>
        <p><?= $this->__("Can't find the geefter? That's normal if you don't already share at least one family with him/her. Then use \"Invite using geefter's email\" button above.") ?></p>
    </div>

    <?= $this->renderBlock('grid'); ?>
</form>
