<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Model\Family $FAMILY */
?>

<div class="toolbar">
    <a class="button create" href="<?= $this->getUrl('geeftee_manage/new', ['_query' => ['family_id' => $FAMILY->getId()], '_referer' => true]) ?>"><span><?= $this->__('Create new geeftee') ?></span></a>
    <a class="button invite-by-email" href="<?= $this->getUrl('family_manage_invite_by_email', ['family_id' => $FAMILY->getId(), '_referer' => true]) ?>"><span><?= $this->__('Invite using geefter\'s email') ?></span></a>
    <button type="submit" class="button invite"><span><?= $this->__('Invite selected geeftees') ?></span></button>
</div>
