body.account-index {
    .avatar-section {
        .label-title {
            display: block;
        }
        input[type="file"] {
            margin-top: .5rem;
        }
        img.profile-avatar {
            width: 48px;
            height: 48px;
            margin-left: 5rem;

            &:hover {
                cursor: pointer;
            }
        }

        &+.validation-rules {
            margin-top: -.5rem;
        }
    }

    #deleteAccountConfirmationDialog {
        h2 {
            &::before {
                @extend .fas;
                @extend .fa-question-circle;
                margin-right: .5em;
            }
        }

        .geefter-select-wrapper {
            margin-bottom: 1rem;
        }

        p.question {
            text-align: center;
            font-weight: bold;
        }

        button.delete {
            &:not(.loading) {
                @extend .fa-trash-alt;
            }
            &.loading {
                @extend .fa-spinner;
            }
            @include button-style($delete-alt-background-color, auto, auto);
        }
    }

    .account-edit-api-form {
        button.regenerate {
            @extend .fa-sync;
            @include button-style($save-background-color, auto, auto);
        }
    }
    .account-delete-form {
        button.delete {
            @include button-style($delete-alt-background-color, auto, auto);
        }
    }
    #delete-account-error-messages {
        text-align: center;
        color: red;
    }

    .col .shortcuts {
        ul {
            margin-left: 0;
            list-style: none;

            li {
                margin-top: 0.5em;

                a {
                    @include icon-prefix($fa-var-arrow-circle-right);
                }
            }
        }
    }

    #api {
        margin-top: 2rem;
    }
}
