body.dashboard-index {
    #quick-actions {
        .button {
            &.for-me span {
                @include icon-prefix($fa-var-user-circle);
            }
            &.for-relative span {
                @include icon-prefix($fa-var-user-friends);
            }
        }
    }

    #dashboard {
        > .dashboard-row {
            padding: 0 !important;

            > div {
                margin-top: 0.5rem;
                word-wrap: break-word;

                .widget-header {
                    padding: 0.5rem 1rem;

                    > * {
                        margin-right: 0.5rem;

                        &::before {
                            margin-right: 1rem !important;
                        }
                    }
                }
                .widget-content {
                    min-height: 8rem;

                    li {
                        color: $dark-gray;

                        &.no-item,
                        &.loading,
                        &.error {
                            text-align: center;
                        }
                    }
                }

                &#pending-actions {
                    > div {
                        .widget-header h2 {
                            @include icon-prefix($fa-var-clock);
                        }
                        .widget-content {
                            min-height: 0;
                        }
                    }
                }
                &#hints {
                    > div {
                        border: 1px solid $color-primary-1;
                        .widget-header {
                            background-color: $color-primary-1;
                            > * {
                                @extend .h2;
                                @include icon-prefix($fa-var-lightbulb);
                            }
                        }
                        .widget-content {
                            min-height: 0;
                            padding: 1rem;
                        }
                    }
                }
                &#upcoming-birthdays {
                    > div {
                        .widget-header h2 {
                            @include icon-prefix($fa-var-birthday-cake);
                        }
                        .widget-content {
                            min-height: 0;
                        }
                    }
                }
                &#latest-reservations {
                    .widget-header h2 {
                        @include icon-prefix($fa-var-gift);
                    }

                    .widget-content li {
                        &.type-reservation {
                            @include icon-prefix($fa-var-bookmark);
                        }
                        &.type-purchase {
                            @include icon-prefix($fa-var-shopping-cart);
                        }
                    }
                }
                &#latest-discussion-posts {
                    .widget-header h2 {
                        @include icon-prefix($fa-var-comments);
                    }
                    .widget-content li {
                        @include icon-prefix($fa-var-comment);
                    }
                }
                &#recent-activity {
                    .widget-header h2 {
                        @include icon-prefix($fa-var-podcast);
                    }

                    .widget-content li {
                        &.object-gift {
                            @include icon-prefix($fa-var-gift);
                        }
                        &.object-geeftee {
                            @include icon-prefix($fa-var-user);
                        }
                        &.object-family {
                            @include icon-prefix($fa-var-users);
                        }
                    }
                }
                &#my-families {
                    .widget-header h2 {
                        @include icon-prefix($fa-var-users);
                    }
                }

                > div {
                    min-height: 20%;

                    ul {
                        padding-left: 0;
                        margin-left: 0;
                        list-style: none;

                        li {
                            margin: .2rem 0;
                            padding: 1rem;
                            background-color: $color-secondary-2-1;

                            .date {
                                display: block;
                                text-align: right;
                                color: $secondary-color;
                                font-size: small;
                            }

                            &.loading {
                                @include icon-prefix($fa-var-spinner);
                                &::before {
                                    @extend .fa-spin;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #my-families {
        li.family a {
            @include icon-prefix($fa-var-users);
        }
    }
}
