.geeftee-claim-request-create {
    .card-wrapper {
        @include grid-row();

        @include breakpoint(small) {
            @include grid-col-size(12);
        }

        @include breakpoint(medium) {
            @include grid-col-size(6);
            @include grid-column-offset(3);
        }
    }
}
