body.geeftee-manage-new,
body.geeftee-manage-edit {
    label {
        clear: both;
    }

    .no-email-chkbox-container {
        float: right;
        font-size: $global-font-size * 0.9;

        input[type="checkbox"] {
            margin: 0 0.5rem;
            position: relative;
            vertical-align: text-bottom;
        }
    }

    .fields {
        margin-bottom: 4rem;
    }
}
