body.gift-report .dialog {
    &.with-icon {
        background-color: lighten($alert-color, 32%);
        @include icon-prefix($fa-var-flag, lighten($alert-color, 20%));
    }

    form > p {
        @extend .h1;
    }

    .inputs {
        .radiogroup-label {
            @extend label;
        }

        .recipient-container {
            /* https://github.com/zurb/foundation-sites/issues/8045 */
            @include foundation-flex-grid;
            @include flex-grid-row();

            > div {
                @include breakpoint(small) {
                    @include flex-grid-column(12);
                }
                @include breakpoint(medium) {
                    @include flex-grid-column(6);
                }
            }
        }

        input[type="radio"] {
            margin: 0;
            display: none;

            ~ label {
                @include button(true);

                span::before {
                    float: left;
                    display: none;
                }
            }

            &:checked ~ label span {
                @include icon-prefix($fa-var-check);

                &::before {
                    float: left;
                }
            }

            &:checked ~ label {
                @include button-style($save-background-color, auto, auto);
            }
        }
    }
}
