body.gift-new,
body.gift-edit {
    .content > h1 {
        @include icon-prefix($content: $fa-var-gift, $margin: 1rem);
    }

    .gift-edit-form {
        @include breakpoint(small) {
            @include grid-col-size(100%);
        }
        @include breakpoint(medium) {
            @include grid-col-size(70%);
            margin: 0 auto;
        }
    }
}
