body.gift-view {
    .content {
        clear: both;

        .gift-name-container .gift-reservation-status {
            display: none;
        }

        .geeftees {
            > h2 {
                @include icon-prefix($fa-var-gift);
            }

            .for-you {
                display: block;
                text-align: center;
                font-size: larger;
            }
        }
        .status-notice {
            margin: 2rem;
            text-align: center;
            color: $dark-gray;

            @include icon-prefix($fa-var-archive);
        }

        .discussion-topics-container {
            &.dual-topic {
                ul.topic-title-list {
                    @include tabs-container();

                    li.topic-title {
                        @include tabs-title();
                        text-align: center;
                        width: 50%;
                        background-color: transparent !important;

                        a {
                            font-size: 1em;
                            &:hover {
                                background-color: $light-gray;
                            }
                            &:nth-of-type(odd):hover {
                                background-color: $table-row-stripe-hover;
                            }

                            &#topic-protected-label {
                                @include icon-prefix($fa-var-lock);
                            }
                            &#topic-public-label {
                                @include icon-prefix($fa-var-book-open);
                            }
                        }
                    }
                }

                .topic-bodies-container {
                    @include tabs-content();
                    border: none;

                    .topic-body-tab {
                        @include tabs-panel();
                    }
                }
            }
        }
    }
}
