body.gift-reservation-index {
    form#gift-reservation {
        @include breakpoint(small) {
            @include grid-col-size(100%);
        }
        @include breakpoint(medium) {
            @include grid-col-size(50%);
            margin: 0 auto;
        }
    }

    .other-reservations {
        tr.reservation {
            td.date,
            td.type {
                text-align: center;
            }
            td.amount {
                text-align: right;
            }
        }
    }
}
