body.help-index {
    .content > .loc-block {
        @include grid-col-row();

        @include breakpoint(small) {
            @include grid-col-size(100%);
        }
        @include breakpoint(medium) {
            @include grid-col-size(50%);
        }

        p, ul, ol {
            padding-left: 1rem;
            color: $secondary-color;
        }
    }
}
