body.index-index {
    .content {
        @include grid-row();

        .loc-block-welcome {
            @include grid-col();
            @include breakpoint(small) {
                @include grid-col-size(100%);
            }
            @include breakpoint(medium) {
                @include grid-col-size(60%);
            }
        }
        .cms-block-home {
            @include grid-col();
            @include breakpoint(small) {
                @include grid-col-size(100%);
            }
            @include breakpoint(medium) {
                @include grid-col-size(40%);
            }

            background-color: rgba(255, 255, 255, 0.3);
            border: solid 1px $light-gray;
            box-shadow: $medium-gray 0 0 2px 2px;
            max-height: 600px;
            overflow-y: scroll;
        }
    }
}
