body.login-index {
    .form-container {
        span.password-lost-link {
            font-size: $small-font-size;
            display: inline-block;
            float: right;
            line-height: 2rem;
        }

        div.remember-me {
            display: inline-block;
            float: left;
            line-height: 2rem;
        }

        span.create-account-link {
            display: block;
            text-align: center;
        }

        button.submit {
            margin-top: 1rem;
        }
    }
}
