<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Model\Family\MembershipRequest $MEMBERSHIPREQUEST */
/** @var string[] $AVAILABLE_ACTIONS */
?>

<?php if (in_array(\Geeftlist\Model\Family\MembershipRequest::ACTION_CANCEL, $AVAILABLE_ACTIONS)): ?>
    <a class="cancel" href="<?= $this->getUrl(
       'family_manage_membership_request/postCancel',
       ['request_id' => $MEMBERSHIPREQUEST->getId(), '_referer' => '_keep', '_csrf' => true]) ?>"><?= $this->__('Cancel') ?></a>
<?php endif; ?>

<?php if (in_array(\Geeftlist\Model\Family\MembershipRequest::ACTION_ACCEPT, $AVAILABLE_ACTIONS)): ?>
    <a class="accept" href="<?= $this->getUrl(
        'family_manage_membership_request/postAccept',
        ['request_id' => $MEMBERSHIPREQUEST->getId(), '_referer' => '_keep', '_csrf' => true]) ?>"><?= $this->__('Accept') ?></a>
<?php endif; ?>

<?php if (in_array(\Geeftlist\Model\Family\MembershipRequest::ACTION_REJECT, $AVAILABLE_ACTIONS)): ?>
    <?php if ($MEMBERSHIPREQUEST->isInvitation()): ?>
        <a class="reject" href="javascript:void(0)"
           onclick="oliveOil.confirmAction('<?= $this->jsQuoteEscape(
                $this->__('Are you sure you want to decline invitation from {0} to join family {1}?', $this->escapeHtml($MEMBERSHIPREQUEST->getSponsorUsername()), $this->escapeHtml($MEMBERSHIPREQUEST->getFamilyName()))
            ) ?>', '<?= $this->getUrl('family_manage_membership_request/postReject', ['request_id' => $MEMBERSHIPREQUEST->getId(), '_referer' => '_keep', '_csrf' => true]) ?>')"
        ><?= $this->__('Reject') ?></a>
    <?php else: ?>
        <a class="reject" href="javascript:void(0)"
           onclick="oliveOil.confirmAction('<?= $this->jsQuoteEscape(
                $this->__('Are you sure you want to decline membership request from {0} for family {1}?', $this->escapeHtml($MEMBERSHIPREQUEST->getGeefteeName()), $this->escapeHtml($MEMBERSHIPREQUEST->getFamilyName()))
            ) ?>', '<?= $this->getUrl('family_manage_membership_request/postReject', ['request_id' => $MEMBERSHIPREQUEST->getId(), '_referer' => '_keep', '_csrf' => true]) ?>')"
        ><?= $this->__('Reject') ?></a>
    <?php endif; ?>
<?php endif; ?>
