<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Block\Form\Gift $_BLOCK */
/** @var \OliveOil\Core\Model\MagicObject $FORM_DATA */
/** @var \Geeftlist\Form\Element\GeefteeSelect|null $GEEFTEE_SELECT */
/** @var \Geeftlist\Form\Element\Gift\PriorityRadioGroup $PRIORITY_RADIOGROUP */
/** @var \Geeftlist\Form\Element\Gift\StatusRadioGroup $STATUS_RADIOGROUP */
/** @var \Geeftlist\Form\Element\GiftListSelect $GIFTLIST_SELECT */
/** @var \Geeftlist\Form\Element\BadgeSelect $BADGE_SELECT */
/** @var \Geeftlist\Form\Element\Gift\ShareRuleRadioGroup $SHARERULE_RADIOGROUP */
/** @var \Geeftlist\Form\Element\Gift\OpenGiftSwitch $OPENGIFT_SWITCH */
/** @var \Geeftlist\Form\Element\Gift\Image $FILE_IMAGE */

$i18n = $this->getI18n();
?>

<div class="gift-edit-form form-container">
    <div class="form-col">
        <input type="hidden" name="gift_id" value="<?= $FORM_DATA->getGiftId() ?>">
        <ul class="fields">
            <div data-abide-error class="alert callout" style="display: none;">
                <p><i class="fi-alert"></i><?= $this->__('There are some errors in your form.') ?></p>
            </div>

            <?php if ($GEEFTEE_SELECT ?? false): ?>
                <label for="<?= $GEEFTEE_SELECT->getId() ?>"><?= $this->__('Geeftees') ?></label>
                <?= $GEEFTEE_SELECT->toHtml() ?>
                <div class="description"><?= $this->__('Choose who this gift is for.') ?></div>
            <?php endif; ?>

            <label><?= $this->__('Label') ?>
                <input type="text" name="label"
                       placeholder="<?= $this->escapeHtml($this->__('E.g. "TV set", "Trip to Paris", etc.')) ?>"
                       value="<?= $this->escapeHtml($FORM_DATA->getLabel()) ?>" required/>
                <span class="form-error"><?= $this->__('Missing or invalid value.') ?></span>
            </label>
            <label><?= $this->__('Estimated price or goal amount (optional)') ?>
                <div class="input-group">
                    <input type="text" class="input-group-field" name="estimated_price" maxlength="16" value="<?= $FORM_DATA->getEstimatedPrice() ?>"/>
                    <span class="input-group-label"><?= $i18n->getCurrencySymbol() ?></span>
                </div>
            </label>
            <label><?= $this->__('Description') ?>
                <textarea name="description" type="text"
                          placeholder="<?= $this->escapeHtml($this->__('Use this space to describe the gift or precise some of its characteristics.')) ?>"><?= $this->escapeHtml($FORM_DATA->getDescription()); ?></textarea>
                <div class="description"><?= $this->__('You can use <a href="{0}">BBCode</a> to format your text. <a href="{0}">Click here</a> to know how.', 'https://www.wikipedia.org/wiki/BBCode') ?></div>
            </label>
            <div class="form-label">
                <label><?= $this->__('Add to lists (optional)') ?></label>
                <div class="gift-lists">
                    <?= $GIFTLIST_SELECT->toHtml() ?>
                </div>
            </div>
            <div class="form-label image-form-container">
                <label for="<?= $FILE_IMAGE->getId() ?>"><?= $this->__('Image') ?></label>
                <?= $FILE_IMAGE->toHtml() ?>
                <div class="description">
                    <?= $this->__(
                        'Choose an image (max size: {0}, {1}x{2}px)',
                        $this->getI18n()->numberUnit(\OliveOil\humanSize($FILE_IMAGE->getMaxFilesize(), true)),
                        $FILE_IMAGE->getMaxWidth(),
                        $FILE_IMAGE->getMaxHeight()
                    ); ?>
                </div>
            </div>
            <div class="form-label">
                <label><?= $this->__('Priority') ?></label>
                <div class="radiogroup gift-priority">
                    <?= $PRIORITY_RADIOGROUP->toHtml() ?>
                </div>
            </div>
            <div class="form-label">
                <label for="<?= $BADGE_SELECT->getId() ?>"><?= $this->__('Badges') ?></label>
                <div class="gift-badges">
                    <?= $BADGE_SELECT->toHtml() ?>
                </div>
            </div>
            <div class="form-label">
                <label><?= $this->__('Advanced Settings') ?></label>
                <ul class="accordion" data-accordion data-allow-all-closed="true">
                    <li class="accordion-item status-section" data-accordion-item>
                        <a href="#" class="accordion-title"><?= $this->__('Status') ?></a>
                        <div class="accordion-content" data-tab-content >
                            <div class="form-label">
                                <div class="radiogroup status-radiogroup">
                                    <?= $STATUS_RADIOGROUP->toHtml() ?>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="accordion-item share-rule-section" data-accordion-item>
                        <a href="#" class="accordion-title"><?= $this->__('Share Rule') ?></a>
                        <div class="accordion-content" data-tab-content >
                            <div class="form-label">
                                <div class="radiogroup sharerule-radiogroup">
                                    <?= $SHARERULE_RADIOGROUP->toHtml() ?>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="accordion-item open-gift-section" data-accordion-item>
                        <a href="#" class="accordion-title"><?= $this->__('Open Gift') ?></a>
                        <div class="accordion-content" data-tab-content >
                            <div class="form-label">
                                <div class="radiogroup opengift-radiogroup">
                                    <?= $OPENGIFT_SWITCH->toHtml() ?>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </ul>
    </div>
</div>
