<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Block\Badges $_BLOCK */
/** @var \Geeftlist\Model\AbstractModel $ENTITY */
?>

<div class="badges-list-wrapper">
    <div class="badges-list">
        <?php foreach ($_BLOCK->getBadges($ENTITY) as $badge): /* @var \Geeftlist\Model\Badge $badge */ ?>
            <button class="geeftlist-badge selectable <?= implode(' ', $_BLOCK->getConfig('badge_classes', [])) ?>"
                    <?php if ($description = $badge->getDescription()): ?>
                        title="<?= $this->escapeHtml($description) ?>"
                        data-tippy-tooltip
                        data-tippy-content="<?= $this->escapeHtml($description) ?>"
                    <?php endif; ?>
            >
                    <span class="icon">
                        <?= $_BLOCK->getIconHtml($badge) ?>
                    </span>
                <span><?= $this->escapeHtml($badge->getLabel()) ?></span>
            </button>
        <?php endforeach; ?>
    </div>
</div>
