<?php
/** @var \Geeftlist\Service\View $this */
/** @var \OliveOil\Core\Block\Template $_BLOCK */
/** @var \Geeftlist\Model\Reservation[] $RESERVATIONS */
$i18n = $this->getI18n();
?>

<?php if (count($RESERVATIONS)): ?>
    <h3><?= $this->__('Current reservations by other geefters') ?></h3>
    <table class="gift-reservations">
        <tr>
            <th class="geefter"><?= $this->__('Geefter'); ?></th>
            <th class="date"><?= $this->__('Date'); ?></th>
            <th class="type"><?= $this->__('Type'); ?></th>
            <th class="amount"><?= $this->__('Amount'); ?></th>
        </tr>
        <?php foreach ($RESERVATIONS as $reservation): ?>
            <tr class="reservation">
                <td class="geefter"><?= $this->escapeHtml($reservation->getGeefterUsername()); ?></td>
                <td class="date"><?= $i18n->date($reservation->getReservedAt()); ?></td>
                <td class="type"><?= $this->__($reservation->getType()); ?></td>
                <td class="amount"><?= $reservation->getAmount() !== null ? $i18n->currency($reservation->getAmount()) : ''; ?></td>
            </tr>
        <?php endforeach; ?>
    </table>
<?php endif; ?>
