<?php
/** @var \Geeftlist\Service\View $this */
/** @var \OliveOil\Core\Block\Dialog $_BLOCK */

$formAction = $_BLOCK->getConfig('form_action');
$formMethod = $_BLOCK->getConfig('form_method', 'post');
$titleHtmlTag = $_BLOCK->getConfig('title_html_tag', 'h2');
?>


<div class="dialog <?= $_BLOCK->getCssClass() ?>">
    <?php if ($formAction): ?>
        <form action="<?= $formAction ?>"
              method="<?= $formMethod ?>"
              rel="noreferrer">
        <?= $this->renderBlock('csrf_token') ?>
    <?php endif; ?>
            <?php if ($title = $_BLOCK->getTitle()): ?>
                <<?= $titleHtmlTag ?>><?= $title ?></<?= $titleHtmlTag ?>>
            <?php endif; ?>
            <?php if ($messages = $_BLOCK->getMessage()): ?>
                <?php foreach ($messages as $line): ?>
                    <p class="dialog-message"><?= $line ?></p>
                <?php endforeach; ?>
            <?php endif; ?>

            <?php if ($blocks = $_BLOCK->getContentBlocks()): ?>
                <?php foreach ($blocks as $block): ?>
                    <div class="dialog-content-block"><?= $this->renderBlock($block) ?></div>
                <?php endforeach; ?>
            <?php endif; ?>

            <div class="dialog-buttons">
                <?= $_BLOCK->getButtonsHtml() ?>
            </div>
    <?php if ($formAction): ?>
        </form>
    <?php endif; ?>
</div>

