<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Block\Gift $_BLOCK */
$i18n = $this->getI18n();

$geeftees = $_BLOCK->getGeeftees();
$showEmptyTabs = $_BLOCK->getConfig('show_empty_tabs');

$getTabTitleId = function(\Geeftlist\Model\Geeftee $geeftee) {
    return "geeftee-{$geeftee->getId()}";
};
$getTabContentId = function(\Geeftlist\Model\Geeftee $geeftee) {
    return "geeftee-{$geeftee->getId()}-gifts";
};
?>

<?php if (! count($geeftees)): ?>
    <div class="no-item"><?= $this->__('No geeftees here! :(') ?></div>
<?php else: ?>
    <div id="geeftee-list_<?= $_BLOCK->getId() ?>">
        <div class="geeftee-list-header-container">
            <div id="geeftee-list-toolbar" class="gift-filters-toolbar">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="filters">
                        <a href="#" data-bind="text: $root.getFilterSelectTitle()"></a>
                        <ul class="menu" data-bind="foreach: {data: availableFilters, as: 'filter'}">
                            <li data-bind="class: $root.getFilterClass(filter), click: () => $root.selectFilter(filter)">
                                <a href="#" data-bind="text: $root.getFilterLabel(filter)"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="sort-by">
                        <a href="#" data-bind="text: $root.getSortOrderSelectTitle()"></a>
                        <ul class="menu" data-bind="foreach: {data: availableSortOrders, as: 'sortOrder'}">
                            <li data-bind="class: $root.getSortOrderClass(sortOrder), click: () => $root.selectSortOrder(sortOrder)">
                                <a href="#" data-bind="text: $root.getSortOrderLabel(sortOrder)"></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="geeftee-list-container grid-x grid-margin-x grid-margin-y">
            <div class="cell medium-3 geeftees-col">
                <ul class="vertical tabs" id="tabs-geeftees-container" data-tabs data-deep-link="true">
                    <?php $isFirst = true; foreach ($geeftees as $geeftee): ?>
                        <?php $gifts = $_BLOCK->getGifts($geeftee); ?>
                        <?php if (empty($gifts) && ! $showEmptyTabs) continue; ?>
                        <li class="tabs-title<?= $isFirst ? ' is-active' : ''; $isFirst = false; ?> <?= $_BLOCK->getCssClasses($geeftee) ?>">
                            <a href="#geeftee-<?= $geeftee->getId() ?>-gifts"
                               class="geeftee-tab">
                                <img alt="Geeftee's avatar" class="profile-avatar" src="<?= $this->getUrlHelper()->getGeefteeAvatarUrl($geeftee->getId()) ?>">
                                <span><?= $this->escapeHtml($geeftee->getName()) ?></span>
                            </a>
                        </li>
                    <?php endforeach; ?>
                </ul>
            </div>
            <div class="cell medium-9 gifts-col">
                <div class="tabs-content vertical" data-tabs-content="tabs-geeftees-container">
                    <?php $isFirst = true; foreach ($geeftees as $geeftee): ?>
                    <div class="tabs-panel geeftee-gifts-tab<?= $isFirst ? ' is-active' : ''; $isFirst = false; ?>"
                         id="<?= $getTabContentId($geeftee) ?>">
                        <?php $gifts = $_BLOCK->getGifts($geeftee); ?>
                        <?php if (!empty($gifts) || $showEmptyTabs): ?>
                            <?= $this->renderBlock('gift_list', null, [
                                'GIFTS' => $gifts,
                                'GEEFTEES' => [$geeftee],
                                'REFERER_FRAGMENT' => $getTabContentId($geeftee)
                            ]); ?>
                        <?php endif; ?>
                    </div>
                    <?php endforeach; ?>
                </div>
            </div>
        </div>
        <script type="text/javascript-lazy" on="ready">
            const ToolbarModel = function (filters, sortOrder) {
                let self = this;
                this.filters = new ko.observableArray(filters || ['all'])
                    .extend({ deferred: true });
                this.sortOrder = new ko.observable(sortOrder || ['priority', 'desc'])
                    .extend({ deferred: true });

                this.availableFilters = [
                    'all',
                    'unreserved-only',
                    'mine-only'
                ];
                this.availableSortOrders = [
                    ['priority', 'desc'],
                    ['priority', 'asc'],
                    ['label', 'asc'],
                    ['label', 'desc'],
                    ['created-at', 'desc'],
                    ['latest-reservation-date', 'desc'],
                ];

                // Filters
                this.getFilterSelectTitle = function() {
                    return i18n.tr(
                        'geeftee-list.toolbar.filter.title',
                        {
                            context: self.filters().length > 1 ? 'multiple' : 'single',
                            count: self.filters().length,
                            current: self.getFilterLabel(self.filters())
                        }
                    );
                };
                this.isFilterSelected = id => self.filters.indexOf(id) != -1;
                this.getFilterClass = id =>
                    'filter-' + id
                    + (self.isFilterSelected(id) ? ' selected' : '');
                this.getFilterLabel = filter => i18n.tr('geeftee-list.toolbar.filter.' + filter);
                this.selectFilter = function (id) {
                    if (id === 'all') {
                        self.filters.removeAll();
                        self.filters.push('all');
                    } else {
                        self.filters.remove('all');
                        if (self.filters.indexOf(id) != -1) {
                            self.filters.remove(id);
                        } else {
                            self.filters.push(id);
                        }
                    }
                    if (self.filters().length === 0) {
                        self.filters.push('all');
                    }
                };

                // Sort order
                this.getSortOrderSelectTitle = function() {
                    return i18n.tr(
                        'geeftee-list.toolbar.sort-order.title',
                        {current: self.getSortOrderLabel(self.sortOrder())}
                    );
                };
                this.isSortOrderSelected = sortOrder => JSON.stringify(sortOrder) === JSON.stringify(self.sortOrder());
                this.getSortOrderClass = sortOrder =>
                        'filter-' + sortOrder[0] + '-' + sortOrder[1]
                        + (self.isSortOrderSelected(sortOrder) ? ' selected' : '');
                this.getSortOrderLabel = sortOrder => i18n.tr(
                    'geeftee-list.toolbar.sort-order.' + sortOrder[0] + '_' + sortOrder[1]
                );
                this.selectSortOrder = sortOrder => self.sortOrder(sortOrder);

                var isGiftVisible = giftEl => {
                    if (self.filters().indexOf('all') !== -1) {
                        return true;
                    }
                    let giftGeefterIds = giftEl.getAttribute('data-reservation-geefters')
                        ? giftEl.getAttribute('data-reservation-geefters').split(',')
                        : [];
                    if (self.filters().indexOf('unreserved-only') !== -1) {
                        if (giftGeefterIds.length > 0) {
                            return false;
                        }
                    }
                    if (self.filters().indexOf('mine-only') !== -1) {
                        if (!giftEl.getAttribute('data-own-gift')) {
                            return false;
                        }
                    }

                    return true;
                };
                this.applyFilter = function() {
                    //console.log('APPLY FILTER', self.filters());
                    $('#geeftee-list_<?= $_BLOCK->getId() ?> ul.gifts .gift').each(function(i, giftEl) {
                        if (isGiftVisible(giftEl)) {
                            $(giftEl).show();
                        } else {
                            $(giftEl).hide();
                        }
                    });

                    oliveOil.saveToLocalStorage(
                        oliveOil.getElementPathId('geeftee_list_filters'),
                        self.filters()
                    );
                };
                this.filters.subscribe(() => oliveOil.loadingOverlay.wrap(self.applyFilter));

                var compareElements = (a, b) => {
                    const valueA = a.getAttribute('data-' + self.sortOrder()[0]) || '';
                    const valueB = b.getAttribute('data-' + self.sortOrder()[0]) || '';
                    const dir = self.sortOrder()[1];

                    let diff = valueA.localeCompare(valueB) * (dir === 'desc' ? -1 : 1);
                    // Fallback to alphabetical order if values are the same
                    if (diff === 0) {
                        diff = a.getAttribute('data-label').localeCompare(b.getAttribute('data-label'));
                    }
                    return diff;
                };
                this.applySort = function() {
                    //console.log('APPLY SORT', self.sortOrder());
                    $('#geeftee-list_<?= $_BLOCK->getId() ?> ul.gifts').each(function(i, listEl) {
                        let fragment = new DocumentFragment();
                        $(listEl).children().get().sort(compareElements).forEach(giftEl => {
                            fragment.appendChild(giftEl);
                        });
                        listEl.appendChild(fragment);
                    });

                    oliveOil.saveToLocalStorage(
                        oliveOil.getElementPathId('geeftee_list_sortOrder'),
                        self.sortOrder()
                    );
                };
                this.sortOrder.subscribe(() => oliveOil.loadingOverlay.wrap(self.applySort));

                oliveOil.loadingOverlay.wrap(function() {
                    self.applyFilter();
                    self.applySort();
                });
            };
            ko.applyBindings(
                new ToolbarModel(
                    oliveOil.loadFromLocalStorage(oliveOil.getElementPathId('geeftee_list_filters')),
                    oliveOil.loadFromLocalStorage(oliveOil.getElementPathId('geeftee_list_sortOrder')),
                ),
                $('#geeftee-list_<?= $_BLOCK->getId() ?>')[0]
            );
        </script>
        <!--                <pre data-bind="text: ko.toJSON($data, null, 2)"></pre>-->
    </div>
<?php endif; ?>
