.plain.error-page-wrapper {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #6355bc;
    padding: 0 5%;
    position: relative;
}

.plain.error-page-wrapper .content-container {
    -webkit-transition: left .5s ease-out, opacity .5s ease-out;
    -moz-transition: left .5s ease-out, opacity .5s ease-out;
    -ms-transition: left .5s ease-out, opacity .5s ease-out;
    -o-transition: left .5s ease-out, opacity .5s ease-out;
    transition: left .5s ease-out, opacity .5s ease-out;
    max-width: 400px;
    position: relative;
    left: -30px;
}

.plain.error-page-wrapper .content-container.in {
    left: 0px;
    opacity: 1;
}

.plain.error-page-wrapper .head-line {
    transition: color .2s linear;
    font-size: 48px;
    line-height: 60px;
    color: rgba(255, 255, 255, .2);
    letter-spacing: -1px;
    margin-bottom: 5px;
}

.plain.error-page-wrapper .subheader {
    transition: color .2s linear;
    font-size: 36px;
    line-height: 46px;
    color: #fff;
}

.plain.error-page-wrapper hr {
    height: 1px;
    background-color: rgba(255, 255, 255, .2);
    border: none;
    width: 250px;
    margin: 35px 0;
}

.plain.error-page-wrapper .context {
    transition: color .2s linear;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
}

.plain.error-page-wrapper .context p {
    margin: 0;
}

.plain.error-page-wrapper .context p:nth-child(n+2) {
    margin-top: 12px;
}

.plain.error-page-wrapper .buttons-container {
    margin-top: 45px;
    overflow: hidden;
}

.plain.error-page-wrapper .buttons-container a {
    transition: color .2s linear, border-color .2s linear;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border: 2px solid white;
    border-radius: 99px;
    padding: 8px 30px 9px;
    display: inline-block;
    float: left;
}

.plain.error-page-wrapper .buttons-container a:hover {
    background-color: rgba(255, 255, 255, .05);
}

.plain.error-page-wrapper .buttons-container a:first-child {
    margin-right: 25px;
}

@media screen and (max-width: 485px) {
    .plain.error-page-wrapper .header {
        font-size: 36px;
    }

    .plain.error-page-wrapper .subheader {
        font-size: 27px;
        line-height: 38px;
    }

    .plain.error-page-wrapper hr {
        width: 185px;
        margin: 25px 0;
    }

    .plain.error-page-wrapper .context {
        font-size: 16px;
        line-height: 24px;
    }

    .plain.error-page-wrapper .buttons-container {
        margin-top: 35px;
    }

    .plain.error-page-wrapper .buttons-container a {
        font-size: 13px;
        padding: 8px 0 7px;
        width: 45%;
        text-align: center;
    }

    .plain.error-page-wrapper .buttons-container a:first-child {
        margin-right: 10%;
    }
}

.background-color {
    background-color: rgba(230, 230, 230, 1) !important;
}

.primary-text-color {
    color: rgba(0, 0, 0, 1) !important;
}

.secondary-text-color {
    color: rgba(255, 85, 85, 1) !important;
}

.sign-text-color {
    color: #FFBA00 !important;
}

.sign-frame-color {
    color: #343C3F;
}

.pane {
    background-color: #FFFFFF !important;
}

.border-button {
    color: rgba(255, 85, 85, 1) !important;
    border-color: rgba(255, 85, 85, 1) !important;
}

.button {
    background-color: rgba(255, 85, 85, 1) !important;
    color: rgba(255, 85, 85, 1) !important;
}

img.logo {
    margin-bottom: 2rem;
}