body {
    padding: 1em;
}

h1 {
    font-size: 28px;
    margin-bottom: 1.5em;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

table {
    table-layout: fixed;
}

pre {
    font-size: x-small;
    overflow: auto;
}

table.data-table tr th,
table.data-table tr td {
    padding: 1em;
    margin: 2em;
}

.header p {
    text-align: center;
}
.header img {
    display: inline-block;
}

.footer p {
    text-align: center;
    font-size: x-small;
    color: #8a8a8a;
}

/* Use primary color for buttons */
table.button table td {
    background: #ff5555;
    border: 2px solid #ff5555
}
