.button.reset {
    display: none;
}

.ffab.small:not(.before):not(.after)::before,
.small.button:not(.before):not(.after)::before {
    right: .7em !important; /* Fix icon position on small buttons */
}

.button:not(.no-ffab) {
    @extend .ffab;

    @include breakpoint(small only) {
        min-height: 2.5em;
    }

    &::before {
        margin-right: 0 !important;
        @include breakpoint(small only) {
            top: 8px !important;
        }
    }
}

a.button,
button.button {
    @include button();

    &.secondary {
        color: $white;
    }

    &.back {
        @extend .fa-angle-double-left;
        @include button-style($back-background-color, auto, auto);
        color: $white !important;
    }
    &.no,
    &.cancel {
        @include button-style($cancel-background-color, auto, auto);
        @extend .fa-ban;
        color: $white !important;
    }
    &.ok,
    &.yes,
    &.submit {
        @extend .fa-check;
        @include button-style($save-background-color, auto, auto);
        color: $white !important;
    }
    &.save {
        @extend .fa-save;
        @include button-style($save-background-color, auto, auto);
        color: $white !important;
    }
    &.reset {
        @extend .fa-redo;
        @include button-style($reset-background-color, auto, auto);
    }
    &.delete {
        @extend .fa-trash-alt;
        @include button-style($delete-background-color, auto, auto);
    }
    &.upload {
        @extend .fa-file-upload;
    }
    &.upload-from-url {
        @extend .fa-cloud-upload-alt;
    }
}

a.discuss {
    @include icon-prefix($fa-var-comments);
}
a.more,
button.more {
    @include icon-prefix($fa-var-chevron-down);
}
a.new, button.new,
a.add, button.add,
a.create, button.create {
    @include icon-prefix($fa-var-plus-square);
}
a.mass-add {
    @include icon-prefix($fa-var-folder-plus);
}
a.geeftee-add, button.geeftee-add {
    @include icon-prefix($fa-var-user-plus);
}
a.reset {
    @include icon-prefix($fa-var-redo);
}
a.reserve-purchase {
    @include icon-prefix($fa-var-bookmark);
}
a.view {
    @include icon-prefix($fa-var-eye);
}
a.edit {
    @include icon-prefix($fa-var-edit);
}
a.archive,
button.archive {
    @include icon-prefix($fa-var-archive);
}
a.duplicate-archive,
button.duplicate-archive {
    @include icon-prefix($fa-var-clone);
}
a.delete,
button.delete {
    @include icon-prefix($fa-var-trash-alt);
}
a.save,
button.save {
    @include icon-prefix($fa-var-save);
}
a.duplicate,
button.duplicate {
    @include icon-prefix($fa-var-copy);
}
a.add-to-list,
button.add-to-list {
    @include icon-prefix($fa-var-clipboard-list);
}
a.request-archiving,
button.request-archiving {
    @include icon-prefix($fa-var-archive);
}
a.report,
button.report {
    @include icon-prefix($fa-var-flag);
}
a.pin,
button.pin {
    background-color: $secondary-color;
    @include icon-prefix($fa-var-thumbtack);
}
a.unpin,
button.unpin {
    background-color: $cancel-background-color;
    /* No alternative for "unpin" provided in the Free edition of Font Awesome :( */
    @include icon-prefix($fa-var-thumbtack);
}
a.submit,
button.submit {
    @include icon-prefix($fa-var-check);
}
a.search,
button.search {
    @include icon-prefix($fa-var-search);
}
a.view-members,
button.view-members {
    @include icon-prefix($fa-var-users);
}
a.invite,
a.signup,
button.invite,
button.signup {
    @include icon-prefix($fa-var-user-plus);
}
a.signin,
button.signin {
    @include icon-prefix($fa-var-sign-in-alt);
}
a.invite-by-email {
    @include icon-prefix($fa-var-envelope);
}
a.transfer-ownership {
    @include icon-prefix($fa-var-key);
}
a.leave {
    @include icon-prefix($fa-var-sign-out-alt);
}
a.join {
    @include icon-prefix($fa-var-plus);
}
a.ban,
button.ban {
    @include icon-prefix($fa-var-user-minus);
}
a.accept,
button.accept {
    @include icon-prefix($fa-var-thumbs-up);
}
a.accept {
    color: $accept-background-color;
}
button.accept {
    background-color: $accept-background-color;
}
a.reject,
button.reject {
    @include icon-prefix($fa-var-thumbs-down);
}
a.reject {
    color: $reject-background-color;
}
a.cancel,
button.cancel {
    @include icon-prefix($fa-var-ban);
}
a.add-comment,
button.add-comment {
    @include icon-prefix($fa-var-comment);
}
button.reject {
    background-color: $reject-background-color;
}
a.disabled,
button.disabled,
button:disabled {
    opacity: .75 !important;
}
label.disabled,
label:disabled {
    opacity: .75 !important;
}
a.top-link {
    display: block;
    text-align: right;
    @include icon-prefix($fa-var-arrow-circle-up);
}

a.loading,
button.loading {
    @extend .fa-spinner;
    @extend .spin;
}

.switch {
    @include switch-size(1rem, 2rem);
    margin-bottom: 0;
    margin-top: 0.2rem;

    input ~ .switch-emphasize-unchecked {
        background: $alert-color;
    }
    input:checked ~ .switch-paddle {
        background: $success-color;
    }

    /* Fix positioning */
    &.tiny .switch-check {
        left: 16% !important;
    }

    .switch-paddle {
        font-size: 1.2rem;
        line-height: 1;

        .switch-check i {
            @extend .fas;
            @extend .fa-check;
        }
        .switch-x i {
            @extend .fas;
            @extend .fa-times-circle;
        }
    }

    .side-label {
        position: relative;
        display: inline-block;
        top: -6px;
        margin-left: 1rem;
        font-size: medium;
    }
}
