html, body {
    height: 100%;
    font-family: Roboto, Arial, sans-serif;
}

.content {
    > h1,
    > h2,
    > h3 {
        float: left;
    }
}

h2, h3 {
    clear: both;
    margin-top: 1.5rem;
}

table {
    @include table-hover;
}

/* Tiny hack for Chrome - https://stackoverflow.com/a/7555130/5431347 */
::-webkit-file-upload-button { cursor:pointer; }

/* Tiny fix for Firefox - https://stackoverflow.com/a/19621642 */
::placeholder {
    opacity: 1;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-index-loading-overlay;
    background-color: rgba(255, 255, 255, .5);
    text-align: center;
    color: map-get($foundation-palette, primary);

    > div {
        position: relative;
        top: 40%;

        > .spinner {
            @extend .fa;
            @extend .fa-spinner;
            @extend .fa-spin;

            display: block;
            font-size: 7rem;
            margin-bottom: 2rem;
        }
        > .loading-text {
            display: block;
            font-size: large;
        }
    }
}

.heading {
    @include callout;
    @include callout-style($callout-heading-background);
    clear: both;
    padding-left: 30px;
    margin-bottom: 30px;
    padding: 0.5rem 1rem;
    font-size: small;

    > p {
        margin-bottom: 0;
    }

    @include breakpoint(small only) {
        display: none;
    }
}

.body-wrapper {
    height: 80%;
}

footer {
    width: 100%;
    max-width: none !important;
    font-size: small;
    background-color: $footer-background;
    clear: both;

    .footer-content {
        @include grid-column-row();

        p {
            margin: 0.5rem 0;

            &.app-version {
                @include grid-col(5);

                &::before {
                    display: inline-block;
                    margin-right: 5px;
                    content: ' ';
                    width: 16px;
                    height: 16px;
                    background-image: url(../img/gift-box_16px.png);
                    position: relative;
                    top: 2px;
                }

                > *::before {
                    content: ' - ';
                }
            }
            &.contact-link {
                @include grid-col(3);
                text-align: center;

                a {
                    @include icon-prefix($fa-var-envelope);
                }
            }
            &.rendering-stats {
                @include grid-col(4);
                text-align: right;
            }
        }
    }
}

.main-content {
    @extend .grid-container;
    min-height: calc(100vh - 160px);
    padding: 0.5rem;
}

.messages-container {
    display: table;
    border-collapse: separate;
    border-spacing: 0 0.2rem;
    width: 100%;
    margin-bottom: 1rem;

    .message {
        @include callout-base;
        display: table-row;

        opacity: 0.9;

        &::before {
            display: table-cell;
            padding: 0.5rem 1rem;
            opacity: 1;
        }

        > span {
            display: table-cell;
            padding: 0.5rem;
            opacity: 1;
        }

        .close-button {
            top: 0.1em;
            right: 1rem;
        }
    }
    .message-info {
        @include callout-style($info-background);
        &::before {
            @include icon($fa-var-info-circle, #415fa5);
        }
    }
    .message-question {
        @include callout-style(#4c81c9);
        &::before {
            @include icon($fa-var-question-circle, #4c81c9);
        }
    }
    .message-success {
        @include callout-style($success-color);
        &::before {
            @include icon($fa-var-check, #58a535);
        }
    }
    .message-warn {
        @include callout-style($warning-color);
        &::before {
            @include icon($fa-var-exclamation-circle, #ff8c00);
        }
    }
    .message-error {
        @include callout-style($alert-color);
        &::before {
            @include icon($fa-var-exclamation-circle, #cd0000);
        }
    }
}

.global-messages,
.session-messages,
.content {
    @extend .cell;
}

nav > .breadcrumbs {
    @extend .cell;

    padding-left: 1em;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    @include breakpoint(small) {
        display: none;
    }
    @include breakpoint(medium) {
        display: block;
    }
}

.loc-block {
    &.notice-text {
        border: lighten($secondary-color, 20%) solid thin;
        border-radius: $global-radius;
    }
}

.toolbar {
    @include button-group();

    .switch-container label.switch-paddle {
        float: right;
    }
    @include breakpoint(small only) {
        > a, button {
            @include grid-col(12);
        }
    }
}

.toolbar-wrapper-top .toolbar {
    float: right;

    /* Hide top toolbar on mobile devices */
    @include breakpoint(small only) {
        display: none;
    }
}
/* Use all available width on mobile devices */
.toolbar-wrapper-bottom .toolbar {
    @include breakpoint(medium) {
        float: right;
    }
}

.no-item {
    > span {
        display: block;
    }

    .no-item-heading {
        font-size: 1.5rem;
    }
}

.null-price {
    visibility: hidden;
}
