@font-face {
    font-family: 'Amaranth';
    src: url('../font/Amaranth-Regular.woff') format('woff'), url('../font/Amaranth-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/roboto-latin-400.woff') format('woff'), url('../font/roboto-latin-400.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../font/roboto-latin-700.woff') format('woff'), url('../font/roboto-latin-700.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../font/roboto-latin-400italic.woff') format('woff'), url('../font/roboto-latin-400italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('../font/roboto-latin-700italic.woff') format('woff'), url('../font/roboto-latin-700italic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}
