.form-container {
    @include grid-column-row();

    @media print, screen { /* Override and remove default padding from grid-column-row */
        padding-right: 0;
        padding-left: 0;
    }

    .form-col {
        .button[type="submit"] {
            @extend .expanded;
            margin-top: 3em;
        }

        .fields {
            margin-left: 0;
            .notice {
                text-align: right;
                font-size: $small-font-size;
            }
        }
    }

    .multirow-form-col {
        .row {
            @include flex-grid-row();

            .cell {
                @include flex-grid-column();
            }
        }
    }

    label {
        padding-top: 1em;
    }

    .description {
        color: $dark-gray;
        font-size: $small-font-size;
    }

    label > .description,
    .fields input + .description,
    .fields .input + .description {
        text-align: right;
    }

    .radiogroup {
        @include breakpoint(large) {
            padding-left: 2rem;
        }

        .description {
            margin-bottom: 1rem;
        }
    }
}

form h1:not(:first-of-type),
form h2:not(:first-of-type),
form h3:not(:first-of-type) {
    margin-top: 1em;
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
    margin-bottom: 0;
}

textarea {
    line-height: 1.2em;
}

.input-group.copy-to-clipboard {
    cursor: pointer !important;

    input {
        cursor: pointer !important;
    }
}

.input-group-label:last-child {
    border-radius: 0 $global-radius $global-radius 0;
}

input.selectable {
    cursor: text;
}

.input-group-label {
    .label-with-icon-prefix {
        display: none;
    }

    i.icon-prefix {
        &.email {
            @include icon-prefix($fa-var-envelope, null, 0);
        }
        &.username {
            @include icon-prefix($fa-var-id-card-alt, null, 0);
        }
        &.password {
            @include icon-prefix($fa-var-key, null, 0);
        }
        &.captcha {
            @include icon-prefix($fa-var-question-circle, null, 0);
        }
        &.copy-to-clipboard {
            @include icon-prefix($fa-var-clipboard, null, 0);
        }
    }
}

.input-visibility {
    label {
        cursor: pointer;

        &.option-public {
            > span {
                @include icon-prefix($fa-var-unlock, $public-background-color);
            }
        }
        &.option-protected {
            > span {
                @include icon-prefix($fa-var-unlock-alt, $protected-background-color);
            }
        }
        &.option-private {
            > span {
                @include icon-prefix($fa-var-lock, $private-background-color);
            }
        }
    }
}

.input-status {
    label {
        cursor: pointer;

        &.option-active,
        &.option-available {
            > span {
                @include icon-prefix($fa-var-gift, $available-background-color);
            }
        }
        &.option-archived {
            > span {
                @include icon-prefix($fa-var-archive, $archived-background-color);
            }
        }
    }
}

.captcha-wrapper {
    @extend .input-group-label;
    white-space: normal;

    label {
        display: inline-block;
    }
    img {
        display: inline-block;
        margin: 2px;
    }
    input[type="text"] {
        display: inline-block;
        width: auto;
    }

    &+ span[role='alert'] {
        margin-top: .5em;
    }
}

.image-form-container {
    .image-input {
        @include grid-column-row();
        padding: 0 !important;

        > .image-preview {
            @include grid-column(6);
            min-height: 6rem;
            border: lightgrey 1px solid;
            padding: .2em;

            > * {
                margin: auto;
                display: block;
                text-align: center;
                font-size: small;
            }

            .error-message {
                @include icon-prefix($fa-var-exclamation-circle, #ff3f3c);
            }
        }
        > .button-wrapper {
            @include grid-column(6);

            .button {
                margin-bottom: .4rem;
            }
        }
    }

    .description {
        clear: both;
    }
}

.validation-rules,
.form-element-help {
    &.info {
        @include callout-style($info-background);
        @include icon-prefix($fa-var-info-circle, #415fa5);
    }
    &.warning {
        @include callout-style(#ff8c00);
        @include icon-prefix($fa-var-exclamation-circle, #ff8c00);
    }

    padding: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;

    p {
        display: inline;
    }
}

div[data-abide-error] p {
    display: inline-block;
}
