.content-wrapper >.layout-1column {
}

.content-wrapper > .layout-2columns-left,
.content-wrapper > .layout-2columns-right {
    @include grid-row();

    > .content {
        @include breakpoint(small) {
            @include grid-col(12);
        }
        @include breakpoint(large) {
            @include grid-col(9);
        }
    }

    > .col {
        @include breakpoint(small) {
            @include grid-col(12);
        }
        @include breakpoint(large) {
            @include grid-col(3);
            margin-top: 2em;
        }
    }
}
