@mixin icon($content, $color: null, $style: "solid") {
    @include fa-icon;
    content: fa-content($content);

    // See .fa-fw;
    text-align: center;
    width: $fa-fw-width;

    // See .fas / .far
    font-family: var(--fa-style-family, "Font Awesome 6 Free");
    @if ($style == "solid") {
        font-weight: 900;
    }
    @if ($style == "regular") {
        font-weight: 400;
    }

    // Reset VA
    /*vertical-align: middle;*/

    @if ($color != null) {
        color: $color;
    }
}

@mixin icon-prefix($content, $color: null, $margin: null, $style: "solid") {
    &::before {
        display: inline;
        @include icon($content, $color, $style);
        @if ($margin != null) {
            margin-right: $margin;
        }
        @else {
            margin-right: 5px;
        }
    }
}
@mixin icon-suffix($content, $color: null, $margin: null, $style: "solid") {
    &::after {
        @include icon($content, $color, $style);
        @if ($margin != null) {
            margin-left: $margin;
        }
        @else {
            margin-left: 5px;
        }
    }
}
