.oo-block-rendering-error {
    border: 1px red dashed;
    opacity: 40%;
    text-align: center;
    color: red;
    padding: .5rem;

    &:hover {
        opacity: 70%;
        cursor: not-allowed;
    }
}
