@charset "utf-8";

@import 'settings';

/* Font Awesome */
@import 'fontawesome';
@import 'solid';
@import 'regular';

/* Foundation Font Awesome Buttons - https://github.com/joshmedeski/foundation-font-awesome-buttons */
@import 'ffab';

/* MHead */
@import 'mhead';

/* MMenuJS */
@import 'mmenu';

/* Luminous */
@import 'luminous-basic';

/* Tippy */
@import 'tippy';

/* Dropmic */
@import 'dropmic';

/* Tagify */
@import 'tagify';

/* Multiselect */
@import 'multi-select';

/* DataTables */
@import 'dataTables.foundation.min';
@import 'responsive.foundation.min';

/* Geeftlist - Begin of (almost) standard app.scss from Foundation 6
 * See https://github.com/foundation/foundation-sites-template/blob/master/scss/app.scss
 */

/*@import 'settings';  // Needed by fontawesome above */
@import 'foundation';
@import 'motion-ui';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
//@include foundation-grid;
//@include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
//@include foundation-progress-bar;
//@include foundation-slider;
@include foundation-range-input;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
//@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
//@include foundation-tooltip;

// Containers
@include foundation-accordion;
//@include foundation-media-object;
//@include foundation-orbit;
//@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;

/* Geeftlist - End of (almost) standard app.scss from Foundation 6 */

@include ffab-everything;

/*****************************************************************************/
/* FOUC-related directives / http://foundation.zurb.com/sites/docs/responsive-navigation.html#preventing-fouc */

.no-js {
    #nav-menu,
    .no-js-hidden {
        display: none;
    }
}

/*****************************************************************************/

@import 'libs/datatables';
@import 'libs/dropmic';
@import 'libs/mmenujs';
@import 'libs/lightbox';
@import 'libs/tagify';
@import 'libs/multiselect';
@import 'libs/foundation';

/*****************************************************************************/

@import 'fonts';
@import 'mixins';
@import 'layouts';
@import 'common';
@import 'oliveoil';
@import 'buttons';

/*****************************************************************************/

@import 'components/avatar';
@import 'components/badges';
@import 'components/dialog';
@import 'components/discussion';
@import 'components/geeftee';
@import 'components/geeftee-card';
@import 'components/geeftee-list';
@import 'components/gift';
@import 'components/giftlist';
@import 'components/grids';
@import 'components/labels';
@import 'components/reveal';
@import 'components/toast';
@import 'components/topbar';

/*****************************************************************************/

@import 'forms';
@import 'forms/badge';
@import 'forms/discussion';
@import 'forms/geeftee';
@import 'forms/gift';
@import 'forms/reservation';

/*****************************************************************************/

@import 'pages/account-index';
@import 'pages/dashboard-index';
@import 'pages/family-explore-index';
@import 'pages/geeftee-claim-request-create';
@import 'pages/geeftee-manage-edit';
@import 'pages/gift-edit';
@import 'pages/gift-report';
@import 'pages/gift-reservation-index';
@import 'pages/gift-reservation-list';
@import 'pages/gift-view';
@import 'pages/giftlist';
@import 'pages/help-index';
@import 'pages/index-index';
@import 'pages/invitation-create';
@import 'pages/login-index';
@import 'pages/relative-explore-index';
