<?php
/** @var \Geeftlist\Service\View $this */
/** @var \OliveOil\Core\Block\Template $_BLOCK */
/** @var string $API_FORM_ACTION */

$geefter = $this->getGeefterSession()->getGeefter();
?>

<div class="account-edit-api-form form-container">
    <div class="form-col">
        <form action="<?= $API_FORM_ACTION ?>" name="api-form" method="post">
            <?= $this->renderBlock('csrf_token') ?>

            <h2><?= $this->__('API') ?></h2>

            <div class="fields">
                <label><?= $this->__('API Key') ?>
                    <input type="text" name="api_key" value="<?= $this->escapeHtml($geefter->getApiKey()) ?? $this->__('(None yet)'); ?>" class="selectable" readonly="readonly"/>
                    <input type="hidden" name="confirm" value="1">
                    <div class="validation-rules warning">
                        <p><?= $this->__("<strong>Warning</strong>: Regenerating your API key will break your connection with the mobile application. You will need to authenticate again from it.") ?></p>
                    </div>

                    <button type="submit" class="button regenerate"><?= $this->__('Regenerate') ?></button>
                </label>
            </div>
        </form>
    </div>
</div>
