<?php
/** @var \Geeftlist\Service\View $this */
/** @var \OliveOil\Core\Block\Template $_BLOCK */
/** @var string $DELETE_FORM_ACTION */
/** @var \OliveOil\Core\Form\Element\Select $RECOVERER_GEEFTER_SELECT */

$geefter = $this->getGeefterSession()->getGeefter();
$i18n = $this->getI18n();
?>

<div class="account-delete-form form-container">
    <div class="form-col">
        <h2><?= $this->__('Delete my account') ?></h2>
        <label><?= $this->__('Click on the button bellow to delete your account after confirmation.') ?></label>
        <button type="submit"
                id="delete-account-btn"
                class="expanded button delete"
                data-open="deleteAccountConfirmationDialog"><?= $this->__('Delete') ?></button>
    </div>

    <div class="account-confirm-delete-form reveal modal-dialog" id="deleteAccountConfirmationDialog" data-reveal>
        <h2><?= $this->__('Account Deletion') ?></h2>
        <form id="account-delete-form"
              class="no-loading-anim"
              action="<?= $DELETE_FORM_ACTION ?>"
              method="post"
              autocomplete="off"
              data-abide>
            <?= $this->renderBlock('csrf_token') ?>
            <p><?= $this->__("<strong>Important: </strong> You won't be able to login and you'll lose all your preferences, but your relatives will still be able to create and reserve gifts for you.") ?></p>

            <label for="<?= $RECOVERER_GEEFTER_SELECT->getId() ?>">
                <?= $this->__("Choose one of your relatives that will handle your geeftee profile and the gifts you created once your account is deleted.") ?>
            </label>
            <?= $RECOVERER_GEEFTER_SELECT
                ->setSkipJsInit(true)   // Must defer Tagify init for proper working order (see <script> below)
                ->toHtml() ?>

            <div class="validation-rules warning">
                <p><?= $this->__('You must enter your current password to delete your account.') ?></p>
                <label>
                    <input type="password"
                           name="current_password"
                           id="delete_current_password"
                           autocomplete="new-password"
                           placeholder="<?= $this->__('Your password') ?>" value="" required/>
                    <span class="form-error"><?= $this->__('Missing or invalid value.') ?></span>
                </label>
            </div>

            <p class="question"><?= $this->__('Are you sure you want to delete your Geeftlist account?') ?></p>
            <button type="submit"
                    id="confirm-delete-account-btn"
                    class="expanded button delete no-loading-anim"
                    data-open="deleteAccountConfirmationDialog"><?= $this->__('Yes, delete my account') ?></button>

            <div id="delete-account-error-messages"></div>
        </form>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<script type="text/javascript-lazy" on="ready">
    $('#deleteAccountConfirmationDialog').on('open.zf.reveal', function(ev) {
        // Append the dropdown to the closest ".reveal-overlay" to get a proper rendering and behavior
        const gs = <?= $RECOVERER_GEEFTER_SELECT->getInitJs(['_dropdownAppendTargetSelector' => '.reveal-overlay']); ?>
    });

    $('#account-delete-form').submit(function(ev) {
        var unknownErrorMessage = "<?= $this->jsQuoteEscape($this->__('Unknown Error')) ?>";
        ev.preventDefault();
        var formPost = $(this).serialize();
        $('#confirm-delete-account-btn')
            .addClass('loading')
            .prop('disabled',  true);
        $('#delete-account-error-messages').html("");

        var onErrorCallback = function(message) {
            $('#delete-account-error-messages').html(message);
            $('#confirm-delete-account-btn')
                .removeClass('loading')
                .prop('disabled', false);
        };

        $.ajax({
            type: "POST",
            url: this.action,
            data: formPost,
            success: function(data, textStatus, jqXHR) {
                if (data.status != "success") {
                    onErrorCallback(data.status ? data.status : unknownErrorMessage);
                    return;
                }
                document.location.href = data.redirect;
            },
            error: function(jqXHR, textStatus, errorThrown) {
                var textMessage = typeof jqXHR.responseJSON.userMessage != "undefined"
                    ? jqXHR.responseJSON.userMessage
                    : unknownErrorMessage;
                onErrorCallback(textMessage);
            }
        });
    });
</script>
