<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Block\Account $_BLOCK */
/** @var string $FORM_ACTION */
/** @var string $UPDATEEMAIL_CANCEL_URL */
/** @var \OliveOil\Core\Form\Element\LanguageSelect $LANGUAGE_SELECT */
/** @var \Geeftlist\Form\Element\Geeftee\Avatar $AVATAR_IMAGE */
/** @var \Geeftlist\Form\Element\BadgeSelect $BADGE_SELECT */
/** @var \OliveOil\Core\Form\Element\Select $NOTIFICATION_FREQUENCY_SELECT */
/** @var \OliveOil\Core\Form\Element\YesNoSelect $STALE_RESERVATIONS_YESNO */

$geefter = $this->getGeefterSession()->getGeefter();
$i18n = $this->getI18n();
?>

<div class="account-edit-form form-container">
    <div class="form-col">
        <form action="<?= $FORM_ACTION ?>" name="account-form" method="post" enctype="multipart/form-data" data-abide>
            <?= $this->renderBlock('csrf_token') ?>
            <div class="fields">
                <div data-abide-error class="alert callout" style="display: none;">
                    <p><i class="fi-alert"></i><?= $this->__('There are some errors in your form.') ?></p>
                </div>

                <h2 id="general-information-section"><?= $this->__('General Information') ?></h2>

                <label><?= $this->__('Username') ?>
                    <input type="text" name="username" id="username" autocomplete="username" value="<?= $this->escapeHtml($geefter->getUsername()); ?>" required/>
                    <span class="form-error"><?= $this->__('Missing or invalid value.') ?></span>
                </label>

                <label><?= $this->__('Date of birth') ?> <?= $this->__('(optional)') ?>
                    <input type="date" name="dob" autocomplete="off" value="<?= $geefter->getGeeftee()->getDob(); ?>"/>
                </label>

                <label><?= $this->__('Language') ?>
                    <?= $LANGUAGE_SELECT->toHtml() ?>
                </label>

                <div class="form-label image-form-container">
                    <label for="<?= $AVATAR_IMAGE->getId() ?>"><?= $this->__('Avatar') ?></label>
                    <?= $AVATAR_IMAGE->toHtml() ?>
                    <div class="description">
                        <?= $this->__(
                            'Choose an image (max size: {0}, {1}x{2}px)',
                            $this->getI18n()->numberUnit(\OliveOil\humanSize($AVATAR_IMAGE->getMaxFilesize(), true)),
                            $AVATAR_IMAGE->getMaxWidth(),
                            $AVATAR_IMAGE->getMaxHeight()
                        ); ?>
                    </div>
                </div>

                <div id="badges-container" class="form-label">
                    <label for="<?= $BADGE_SELECT->getId() ?>"><?= $this->__('Badges') ?></label>
                    <?= $BADGE_SELECT->toHtml() ?>
                </div>
                <div class="validation-rules info">
                    <p><?= $this->__(
                            'Those badges will be visible by your relatives to help them to choose gifts for you.',
                        ); ?></p>
                </div>


                <h2 id="email-password-section"><?= $this->__('Email & Password') ?></h2>

                <label>
                    <input type="checkbox" name="update_email" id="update_email">
                    <?= $this->__('Update my email address') ?>
                </label>
                <label>
                    <input type="checkbox" name="update_password" id="update_password">
                    <?= $this->__('Update my password') ?>
                </label>

                <div id="update-email-password-notice" class="validation-rules warning" style="display: none">
                    <p><?= $this->__('You must enter your current password to change your email or your password.') ?></p>
                    <label><?= $this->__('Current Password') ?>
                        <input type="password" name="current_password" id="current_password" autocomplete="password" value=""/>
                        <span class="form-error"><?= $this->__('Missing or invalid value.') ?></span>
                    </label>
                </div>

                <div id="email-container" style="display: none">
                    <label><?= $this->__('Email') ?>
                        <input type="email" name="email" id="email" autocomplete="email" value="<?= $this->escapeHtml($geefter->getEmail()); ?>" required/>
                        <span class="form-error"><?= $this->__('Missing or invalid value.') ?></span>
                    </label>
                    <?php if ($pendingEmail = $geefter->getPendingEmail()): ?>
                        <div class="validation-rules info">
                            <p><?= $this->__(
                                    'You have a pending validation for address <strong>{0}</strong>, please check your mail or <a href="{1}">click here to cancel your request</a>.',
                                    $pendingEmail,
                                    $UPDATEEMAIL_CANCEL_URL
                                ); ?></p>
                        </div>
                    <?php endif; ?>
                </div>

                <div id="password-container" style="display: none">
                    <label><?= $this->__('New password') ?>
                        <input type="password" name="password" id="password" autocomplete="off" value=""/>
                        <span class="form-error"><?= $this->__('Missing or invalid value.') ?></span>
                    </label>
                    <label><?= $this->__('New password (again)') ?>
                        <input type="password" name="password_confirm" id="password_confirm" autocomplete="off" value="" data-equalto="password"/>
                        <span class="form-error"><?= $this->__('Missing or invalid value.') ?></span>
                    </label>
                    <?= $this->renderBlock('password_validation_notice'); ?>
                </div>

                <h2 id="email-notifications-section"><?= $this->__('Email Notifications') ?></h2>

                <label><?= $this->__('Sending frequency') ?>
                    <?= $NOTIFICATION_FREQUENCY_SELECT->setValue($geefter->getEmailNotificationFreq())->toHtml() ?>
                </label>

                <label><?= $this->__('Stale reservations notifications') ?>
                    <?= $STALE_RESERVATIONS_YESNO->setValue($geefter->getStaleReservationNotificationEnabled())->toHtml() ?>
                </label>
                <?= $this->renderBlock('stale_reservations_notice'); ?>

                <button type="submit" class="expanded button submit"><?= $this->__('Save') ?></button>
            </div>

            <script type="text/javascript-lazy" on="ready">
                var showHideContainers = function() {
                    var showPasswordNotice = false;
                    var showDuration = 400;

                    if ($('#update_email').prop('checked')) {
                        $('#email-container').show(showDuration);
                        showPasswordNotice = true;
                    }
                    else {
                        $('#email-container').hide(showDuration);
                    }
                    if ($('#update_password').prop('checked')) {
                        $('#password-container').show(showDuration);
                        showPasswordNotice = true;
                    }
                    else {
                        $('#password-container').hide(showDuration);
                    }

                    if (showPasswordNotice) {
                        $('#update-email-password-notice').show(showDuration);
                    }
                    else {
                        $('#update-email-password-notice').hide(showDuration);
                    }
                };

                $('#update_email').change(showHideContainers);
                $('#update_password').change(showHideContainers);

                showHideContainers();
            </script>
        </form>
    </div>
</div>
