<?php
/** @var \Geeftlist\Service\View $this */
?>

<h1><?= $this->__('My Account') ?></h1>

<div class="heading">
    <p><?= $this->__("Something's wrong with your profile? You're in the right place!") ?></p>
</div>

<div id="account">
    <?= $this->renderBlock('form'); ?>
</div>

<?php if ($html = $this->renderBlock('api_form')): ?>
<hr/>
<div id="api">
    <?= $html ?>
</div>
<?php endif; ?>

<hr/>

<div id="delete">
    <?= $this->renderBlock('delete_form'); ?>
</div>
