<?php
/** @var \Geeftlist\Service\View $this */
?>

<h2><?= $this->__('Quick links') ?></h2>
<div class="shortcuts">
    <ul>
        <li><a href="<?= $this->getUrl('geeftee_profile') ?>"><?= $this->__('See your profile') ?></a></li>
        <li><a href="<?= $this->getUrl('family_manage/index') ?>"><?= $this->__('Manage your families') ?></a></li>
        <li><a href="<?= $this->getUrl('family_search/index') ?>"><?= $this->__('Join new families') ?></a></li>
        <li><a href="<?= $this->getUrl('gift_reservation/list') ?>"><?= $this->__('View your reservations') ?></a></li>
    </ul>
</div>
