<set family_url="{{ @item->getFamily()->getViewUrl() | url_redirect,esc }}"/>
<check if="{{ count(@item->getGeeftees()) > 1 }}">
    <true>
        {{ 'The following geeftees have left family <a href="{0}">{1}</a> :', [@family_url, @item->getFamily()->getName()] | tr }}
        <ul>
            <repeat group="{{ @item->getGeeftees() }}" value="{{ @geeftee }}">
                <li><a href="{{ @geeftee->getProfileUrl() | url_redirect,esc }}">{{ @geeftee->getName() | esc }}</a></li>
            </repeat>
        </ul>
    </true>
    <false>
        <set geeftee="{{ current(@item->getGeeftees()) }}"/>
        <set geeftee_url="{{ @geeftee->getProfileUrl() | url_redirect,esc }}"/>
        {{ '<a href="{0}">{1}</a> has left family <a href="{2}">{3}</a>',
        [@geeftee_url, @geeftee->getName(), @family_url, @item->getFamily()->getName()]
        | tr }}
    </false>
</check>
