<?php
/** @var \Geeftlist\Service\View $this */
/** @var \OliveOil\Core\Block\Template $_BLOCK */

$i18n = $this->getI18n();
/** @var \Geeftlist\View\Grid\Gift $grid */
$grid = $_BLOCK->getConfig('grid');
?>

<div class="grid-wrapper">
    <table id="giftlist-grid" class="datatable giftlist-grid"></table>
</div>

<script id="giftlist-grid-script" type="text/javascript-lazy" on="ready">
    const giftlistGift = new GeeftlistGrid(
        $('#giftlist-grid'),
        {
            dataTable: $.extend(true, <?= $grid->getRenderer()->getDataTableConfigJson() ?>, {
                buttons: [
                    {
                        className: "btn-toggle-show-archived btn-hidden"
                    }
                ]
            }),
            customDataDefaults: {
                custom_filters: {
                    show_archived: false
                }
            }
        }
    );

    // DataTable customization
    giftlistGift.dataTable.on('init', function(ev) {
        // Replace "Show archived gifts" button with a switch
        $(".btn-toggle-show-archived").replaceWith($('#toggle-switch-tmpl').html());

        giftlistGift.model.showArchived = ko.observable(!!giftlistGift.dataTableCustomDataLoad().custom_filters.show_archived);
        giftlistGift.model.showArchived.subscribe(function (newValue) {
            giftlistGift.dataTableCustomDataSave({
                custom_filters: {
                    show_archived: newValue
                }
            });
            giftlistGift.dataTable.ajax.reload(null, false);
        });

        ko.applyBindings(giftlistGift.model);
    });
</script>

<script id="toggle-switch-tmpl" type="text/html">
    <div class="switch show-archived" title="<?= $this->escapeHtml($this->__('Show archived lists')) ?>">
        <input class="switch-input" id="switch-show-archived" type="checkbox" name="switch-show-archived"
               data-bind="checked: showArchived">
        <label class="switch-paddle" for="switch-show-archived">
            <span class="show-for-sr"><?= $this->escapeHtml($this->__('Show archived lists')) ?></span>
            <span class="switch-active switch-check" aria-hidden="true"><i></i></span>
            <span class="switch-inactive" aria-hidden="true"><i></i></span>
        </label>
    </div>
</script>
