<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Model\GiftList $GIFTLIST */
/** @var bool $IS_EMPTY */
?>

<h1><?= $this->__('{0}', $this->escapeHtml($GIFTLIST->getName())) ?></h1>

<div class="toolbar-wrapper-top">
    <?= $this->renderBlock('toolbar'); ?>
</div>

<div class="clearfix"></div>

<?php if ($IS_EMPTY): ?>
    <div class="no-item">
        <?= $this->renderBlock('empty_dialog'); ?>
    </div>
<?php else: ?>
    <?= $this->renderBlock('geeftee_list'); ?>
<?php endif; ?>
