<?php
/** @var \Geeftlist\Service\View $this */
/** @var string $FORM_ACTION */
/** @var string $TOKEN */
?>

<div class="account-password-form form-container">
    <div class="form-col">
        <?= $this->renderBlock('password_validation_notice'); ?>

        <form id="account-set-password" action="<?= $FORM_ACTION ?>" method="post" data-abide>
            <?= $this->renderBlock('csrf_token') ?>
            <input type="hidden" name="token" value="<?= $TOKEN ?>">
            <div class="fields">
                <div class="input-group">
                    <span class="input-group-label"><i class="icon-prefix password" aria-hidden="true"></i><span class="label-with-icon-prefix"><?= $this->__('Password') ?></span></span>
                    <input type="password" class="input-group-field" name="password" id="password" autocomplete="off" placeholder="<?= $this->__('Your password') ?>" required/>
                </div>
                <span class="form-error" data-form-error-for="password"><?= $this->__('Missing or invalid value.') ?></span>

                <div class="input-group">
                    <span class="input-group-label"><i class="icon-prefix password" aria-hidden="true"></i><span class="label-with-icon-prefix"><?= $this->__('Password') ?></span></span>
                    <input type="password" class="input-group-field" name="password_confirm" id="password_confirm" autocomplete="off" placeholder="<?= $this->__('Your password (again)') ?>" required/>
                </div>
                <span class="form-error" data-form-error-for="password_confirm"><?= $this->__('Missing or invalid value.') ?></span>

                <button type="submit" class="button submit"><?= $this->__('Submit') ?></button>
            </div>
        </form>
    </div>
</div>
