<?php
/** @var \Geeftlist\Service\View $this */
?>

<h1><?= $this->__('Reset Password') ?></h1>

<div class="heading">
    <p><?= $this->__("Please choose a new password.") ?></p>
</div>

<?= $this->renderBlock('form'); ?>
