<?php
/** @var \Geeftlist\Service\View $this */
/** @var string $FORM_ACTION */
/** @var \Geeftlist\Model\GiftList $GIFTLIST */
?>

<?php if ($GIFTLIST->getId()): ?>
    <h1><?= $this->escapeHtml($GIFTLIST->getName()) ?></h1>
<?php else: ?>
    <h1><?= $this->__('New gift list') ?></h1>
<?php endif; ?>

<form id="giftlist-edit" action="<?= $FORM_ACTION ?>" method="post" data-abide>
    <?= $this->renderBlock('csrf_token') ?>
    <div class="toolbar-wrapper-top">
        <?= $this->renderBlock('toolbar'); ?>
    </div>

    <?php if (! $GIFTLIST->getId()): ?>
        <div class="heading">
            <p><?= $this->__("Use the form below to create a new list. Use lists to group gifts for events!") ?></p>
        </div>
    <?php endif; ?>
    <div class="clearfix"></div>

    <?= $this->renderBlock('form'); ?>

    <div class="toolbar-wrapper-bottom">
        <?= $this->renderBlock('toolbar'); ?>
    </div>
</form>
