<?php
/** @var \Geeftlist\Service\View $this */
?>

<h1><?= $this->__('Manage my lists') ?></h1>

<div class="toolbar-wrapper-top">
    <?= $this->renderBlock('toolbar'); ?>
</div>

<div class="heading">
    <p><?= $this->__("Here are your lists. You may <a href=\"{0}\">add</a>, modify them or delete them if you like.", $this->getUrl('*/new')) ?></p>
</div>

<?= $this->renderBlock('grid'); ?>
