<?php
/** @var \Geeftlist\Service\View $this */
?>

<div class="toolbar">
    <a class="button create" href="<?= $this->getUrl('*/new/*', ['_referer' => true]) ?>"><span><?= $this->__('Create new list') ?></span></a>
</div>
