<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Model\GiftList $GIFTLIST */
?>

<div class="toolbar">
    <a class="button giftlist-edit edit" href="<?= $this->getUrlHelper()->getGiftListEditUrl($GIFTLIST, ['_referer' => true]) ?>"><span><?= $this->__('Edit this list') ?></span></a>
</div>
