<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Model\GiftList $GIFTLIST */
/** @var \Geeftlist\Form\Element\GiftList\VisibilityRadioGroup $VISIBILITY_RADIOGROUP */
/** @var \Geeftlist\Form\Element\GiftList\StatusRadioGroup $STATUS_RADIOGROUP */
?>

<div class="giftlist-edit-form form-container">
    <div class="form-col">
        <input type="hidden" name="giftlist_id" value="<?= $GIFTLIST->getId() ?>">
        <div class="fields">
            <label><?= $this->__('Name') ?>
                <input type="text" name="name"
                       placeholder="<?= $this->escapeHtml($this->__('E.g. "X-mas 2021", "Smith\'s Wedding", etc.')) ?>"
                       value="<?= $this->escapeHtml($GIFTLIST->getName()); ?>" required/>
                <span class="form-error"><?= $this->__('Missing or invalid value.') ?></span>
            </label>

            <?php /* The visibility is not currently configurable. Using a fixed hidden <input> instead.
            <div class="form-label">
                <label><?= $this->__('Visibility') ?></label>
                <div class="radiogroup visibility-radiogroup">
                    <?= $VISIBILITY_RADIOGROUP->toHtml() ?>
                </div>
            </div>
            */ ?>
            <input type="hidden"
                   name="<?= $VISIBILITY_RADIOGROUP->getName() ?>"
                   value="<?= \Geeftlist\Model\GiftList\Field\Visibility::PRIVATE ?>">

            <div class="form-label">
                <label><?= $this->__('Status') ?></label>
                <div class="radiogroup status-radiogroup">
                    <?= $STATUS_RADIOGROUP->toHtml() ?>
                </div>
            </div>
        </div>
    </div>
</div>
