<?php

use Geeftlist\Model\Activity\Field\Action;

/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Block\Widget\RecentActivity\Action\Family $_BLOCK */

// The following variables are HTML-safe (see \Geeftlist\Block\Widget\RecentActivity\Action\Family::getTemplateVars)
/** @var string $ACTION */
/** @var string $GEEFTEE_PROFILE_URL */
/** @var string $GEEFTEE_NAME */
/** @var array $FAMILY_NAME */
/** @var string $FAMILY_VIEW_URL */
?>

<?php switch ($ACTION):
    case Action::JOIN: ?>
        <?= $this->__('<a href="{0}">{1}</a> has joined family <a href="{2}">{3}</a>',
            [$GEEFTEE_PROFILE_URL, $GEEFTEE_NAME, $FAMILY_VIEW_URL, $FAMILY_NAME]); ?>
        <?php break; ?>
    <?php case Action::LEAVE: ?>
        <?= $this->__('<a href="{0}">{1}</a> has left family <a href="{2}">{3}</a>',
            [$GEEFTEE_PROFILE_URL, $GEEFTEE_NAME, $FAMILY_VIEW_URL, $FAMILY_NAME]); ?>
        <?php break; ?>
<?php endswitch; ?>
