<?php

use Geeftlist\Model\Activity\Field\Action;

/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Block\Widget\RecentActivity\Action\Gift $_BLOCK */

// The following variables are HTML-safe (see \Geeftlist\Block\Widget\RecentActivity\Action\Gift::getTemplateVars)
/** @var string $ACTION */
/** @var string $GEEFTER_PROFILE_URL */
/** @var string $GEEFTER_USERNAME */
/** @var array $GEEFTEES_DATA */
/** @var string $GIFT_VIEW_URL */
/** @var string $GIFT_LABEL */

$geefteesDesc = '';
switch (count($GEEFTEES_DATA)) {
    case 0:
        $geefteesDesc = $this->__('(nobody)');
        break;

    case 1:
        $geefteesDesc = $this->__(
            '<a href="{0}">{1}</a>',
            [$GEEFTEES_DATA[0]['profile_url'], $GEEFTEES_DATA[0]['name']]
        );
        break;

    case 2:
        $geefteesDesc = $this->__(
            '<a href="{0}">{1}</a> and <a href="{2}">{3}</a>',
            [
                $GEEFTEES_DATA[0]['profile_url'],
                $GEEFTEES_DATA[0]['name'],
                $GEEFTEES_DATA[1]['profile_url'],
                $GEEFTEES_DATA[1]['name'],
            ]
        );
        break;

    case 3:
        $geefteesDesc = $this->__(
            '<a href="{0}">{1}</a>, <a href="{2}">{3}</a> and <a href="{4}">{5}</a>',
            [
                $GEEFTEES_DATA[0]['profile_url'],
                $GEEFTEES_DATA[0]['name'],
                $GEEFTEES_DATA[1]['profile_url'],
                $GEEFTEES_DATA[1]['name'],
                $GEEFTEES_DATA[2]['profile_url'],
                $GEEFTEES_DATA[2]['name'],
            ]
        );
        break;

    default:
        $geefteesDesc = $this->__(
            '<a href="{0}">{1}</a>, <a href="{2}">{3}</a> and {4} other geeftees',
            [
                $GEEFTEES_DATA[0]['profile_url'],
                $GEEFTEES_DATA[0]['name'],
                $GEEFTEES_DATA[1]['profile_url'],
                $GEEFTEES_DATA[1]['name'],
                count($GEEFTEES_DATA) - 2,
            ]
        );
        break;
}
?>

<?php switch ($ACTION):
    case Action::CREATE: ?>
        <?= $this->__('<a href="{0}">{1}</a> has added a new gift for {2}: <a href="{3}">{4}</a>',
            [$GEEFTER_PROFILE_URL, $GEEFTER_USERNAME, $geefteesDesc, $GIFT_VIEW_URL, $GIFT_LABEL]); ?>
        <?php break; ?>
    <?php case Action::UPDATE: ?>
        <?= $this->__('<a href="{0}">{1}</a> has updated <a href="{2}">{3}</a> for {4}',
            [$GEEFTER_PROFILE_URL, $GEEFTER_USERNAME, $GIFT_VIEW_URL, $GIFT_LABEL, $geefteesDesc]); ?>
        <?php break; ?>
    <?php case Action::DELETE: ?>
        <?= $this->__('<a href="{0}">{1}</a> has deleted <a href="{2}">{3}</a> for {4}',
            [$GEEFTER_PROFILE_URL, $GEEFTER_USERNAME, $GIFT_VIEW_URL, $GIFT_LABEL, $geefteesDesc]); ?>
        <?php break; ?>
<?php endswitch; ?>
