<?php
/** @var \Geeftlist\Service\View $this */
/** @var \OliveOil\Core\Block\Template $_BLOCK */
/** @var \OliveOil\Core\Form\Element\Referer|null $DISCUSSION_POST_REFERER */
/** @var Closure|null $POST_RECIPIENTS_SELECT_PROVIDER */

/** @var \OliveOil\Core\Model\MagicObject $formValues */
$formValues = $_BLOCK->getConfig('form_values', []);
if (is_array($formValues)) {
    $formValues = new \OliveOil\Core\Model\MagicObject($formValues);
}
$standalone = $_BLOCK->getConfig('standalone', true);
if (isset($POST)) {
    /** @var \Geeftlist\Model\Discussion\Post $post */
    $post = $POST;
    /** @var \Geeftlist\Model\Discussion\Topic $topic */
    $topic = $post->getTopic();
}
elseif (isset($TOPIC)) {
    /** @var \Geeftlist\Model\Discussion\Topic $topic */
    $topic = $TOPIC;

    if (isset($POST_RECIPIENTS_SELECT_PROVIDER)) {
        /** @var \Geeftlist\Form\Element\GeefterSelect|null $postRecipientsSelect */
        $postRecipientsSelect = $POST_RECIPIENTS_SELECT_PROVIDER($topic);
    }
} else {
    throw new \OliveOil\Core\Exception\TemplateException('Missing required variable: $POST or $TOPIC');
}
if ($formValues->getTopicId() == $topic->getId()) {
    // Do not use saved values referring to another topic
    $formValues->setData($formValues->getValues());
}
$blockHtmlId = $_BLOCK->getConfig('html_id', "discussion-topic-{$topic->getId()}-form");
?>

<div id="<?= $blockHtmlId ?>" class="discussion-post-form form-container">
    <?php if (! $formValues->getPostId()): ?>
        <div class="title-new"><?= $this->__('New message') ?></div>
    <?php endif; ?>
    <?php if ($standalone): ?>
        <form action="<?= $_BLOCK->getConfig('form_action') ?>" method="post" data-abide>
    <?php endif; ?>
            <?= $this->renderBlock('csrf_token'); ?>
            <?php if (isset($DISCUSSION_POST_REFERER)): ?>
                <?= $DISCUSSION_POST_REFERER
                    ->setParam('_fragment', $blockHtmlId)
                    ->toHtml(); ?>
            <?php endif; ?>

            <input type="hidden" name="post_id" value="<?= $formValues->getPostId() ?>" />
            <input type="hidden" name="topic_id" value="<?= $topic->getId() ?>" />
            <div class="form-col">
                <div class="fields">
                    <label><?= $this->__('Title') ?>
                        <input type="text" name="title"
                               placeholder="<?= $this->escapeHtml($this->__('(optional)')) ?>"
                               value="<?= $this->escapeHtml($formValues->getTitle()); ?>"/>
                        <span class="form-error"><?= $this->__('Missing or invalid value.') ?></span>
                    </label>
                    <label><?= $this->__('Message') ?>
                        <textarea name="message" type="text" required><?= $this->escapeHtml($formValues->getMessage()); ?></textarea>
                        <div class="description"><?= $this->__('You can use <a href="{0}">BBCode</a> to format your text. <a href="{0}">Click here</a> to know how.', 'https://www.wikipedia.org/wiki/BBCode') ?></div>
                        <span class="form-error"><?= $this->__('Missing or invalid value.') ?></span>
                    </label>

                    <?php if (isset($postRecipientsSelect)): ?>
                        <input type="checkbox"
                               id="<?= $postRecipientsSelect->getId() ?>_toggleCheckbox"
                               data-bind="checked: showRecipientsSelect">
                        <label for="<?= $postRecipientsSelect->getId() ?>_toggleCheckbox">
                            <?= $this->__('Send also this message to the following recipients (optional)') ?>
                        </label>
                        <div data-bind="visible: showRecipientsSelect">
                            <?= $postRecipientsSelect
                                ->setAdditionalAttribute('data-bind', 'enable: showRecipientsSelect')
                                ->toHtml() ?>
                            <div class="description"><?= $this->__('These geefters will receive this message by email after you post it.') ?></div>
                        </div>
                    <?php endif ?>
                </div>
                <?php if ($standalone): ?>
                    <button type="submit" class="expanded button submit"><?= $this->__('Post') ?></button>
                <?php endif; ?>
            </div>
    <?php if ($standalone): ?>
        </form>
    <?php endif; ?>
</div>

<?php if (isset($postRecipientsSelect)): ?>
<script type="text/javascript-lazy" on="ready">
    ko.applyBindings({
        showRecipientsSelect: ko.observable(false)
    }, $('#discussion-topic-<?= $topic->getId() ?>-form')[0]);
</script>
<?php endif ?>
