<set post_url="{{ @item->getPostUrl() | url_redirect,esc }}"/>
<set topic_url="{{ @item->getTopicUrl() | url_redirect,esc }}"/>
{{ '{0} has posted a <a href="{1}">new comment</a> in <a href="{2}">{3}</a>',
    [@item->getAuthorName(), @post_url, @topic_url, @item->getTopicTitle()]
    | tr }}
