<?php
/** @var \Geeftlist\Service\View $this */
/** @var \OliveOil\Core\Block\Template $_BLOCK */
/** @var string $FORM_ACTION */
/** @var array $FORM_DATA */
/** @var bool $SHOW_EMAIL_FIELD */
/** @var \OliveOil\Core\Form\Element\Select $SUBJECT_SELECT */

$i18n = $this->getI18n();
?>

<div class="contact-form form-container">
    <div class="form-col">
        <form action="<?= $FORM_ACTION ?>" name="login-form" method="post" data-abide>
            <?= $this->renderBlock('csrf_token') ?>
            <div class="fields">
                <label><?= $this->__('Subject') ?>
                    <?= $SUBJECT_SELECT->toHtml() ?>
                </label>
                <label style="display: none"><?= $this->__('Custom subject') /* Not supported yet */ ?>
                    <input type="text" name="custom_subject" value="">
                </label>
                <label><?= $this->__('Message') ?>
                    <textarea name="message" rows="5" required><?= $this->escapeHtml($FORM_DATA['message'] ?? '') ?></textarea>
                    <span class="form-error"><?= $this->__('Missing or invalid value.') ?></span>
                </label>
                <?php if ($SHOW_EMAIL_FIELD): ?>
                    <label><?= $this->__('Your email') ?>
                        <input type="email" name="requester_email" value="<?= $this->escapeHtml($FORM_DATA['requester_email'] ?? '') ?>" required>
                    </label>
                <?php endif; ?>

                <?php if (isset($CAPTCHA)): ?>
                    <?= $CAPTCHA->toHtml() ?>
                    <span class="form-error" data-form-error-for="<?= $CAPTCHA->getData('name') ?>"><?= $this->__('Missing or invalid value.') ?></span>
                <?php endif; ?>

                <button type="submit" class="expanded button submit"><?= $this->__('Send') ?></button>
            </div>
        </form>
    </div>
</div>
