<?php
/** @var \Geeftlist\Service\View $this */
/** @var \OliveOil\Core\Block\Template $_BLOCK */
?>

<h1><?= $this->__('Contact Form') ?></h1>

<div class="heading">
    <p><?= $this->__("Found a bug? Have a question? Let us know!") ?></p>
</div>

<div id="contact">
    <?= $this->renderBlock('form'); ?>
</div>
