<?php
/** @var \Geeftlist\Service\View $this */
?>

<div class="invitation-create-form form-container">
    <div class="form-col">
        <div class="fields">
            <?php if (isset($CAPTCHA)): ?>
                <?= $CAPTCHA->toHtml() ?>
                <span class="form-error" data-form-error-for="<?= $CAPTCHA->getData('name') ?>"><?= $this->__('Missing or invalid value.') ?></span>
            <?php endif; ?>

            <button type="submit" class="expanded button submit"><?= $this->__('Generate a link') ?></button>
        </div>
    </div>
</div>
