
<include href="header.phtml"/>

<!-- @subject {{ 'Geeftlist: New pending membership request for family {0}', [@request->getFamily()->getName()] | tr }} -->

<include href="content_wrapper_begin.phtml"/>
<columns small="12" large="6">
    <h1>{{ 'New pending membership request for family {0}', [@request->getFamily()->getName()] | tr }}</h1>

    <p>{{ '{0} is asking to join <strong>{1}</strong>.', [@request->getGeeftee()->getName(), @request->getFamily()->getName()] | tr }}</p>

    <set mr_url="{{ 'family_manage_membership_request/index' | url,url_redirect,esc }}"/>
    <p>{{ 'You can <a href="{0}">accept or decline his/her request</a> from your account.', [@mr_url] | tr }}</p>
</columns>
<include href="content_wrapper_end.phtml"/>

<include href="footer_message.phtml"/>
<include href="footer.phtml"/>
