
<include href="header.phtml"/>

<!-- @subject {{ 'Geeftlist: Membership rejected for family {0}', [@request->getFamily()->getName()] | tr }} -->

<include href="content_wrapper_begin.phtml"/>
<columns small="12" large="6">
    <h1>{{ 'Your request to join family {0} has been rejected', [@request->getFamily()->getName()] | tr }}</h1>

    <p>{{ 'You may want to contact <a href="mailto:{0}">{1}</a> if you think this is a mistake.',
        [@request->getFamily()->getOwner()->getEmail(), @request->getFamily()->getOwner()->getUsername()]
        | tr }}</p>
</columns>
<include href="content_wrapper_end.phtml"/>

<include href="footer_message.phtml"/>
<include href="footer.phtml"/>
