<include href="header.phtml"/>

<!-- @subject {{ 'Geeftlist: Recent activity in your families' | tr }} -->

<include href="content_wrapper_begin.phtml"/>
<columns small="12" large="6">
    <h1>{{ 'Recent Activity' | tr }}</h1>

    <p>{{ 'Hello {0}, here are the latest updates for you on Geeftlist.', [@recipient->getUsername()] | tr }}</p>

    <spacer size-sm="5" size-lg="20"></spacer>

    <check if="{{ @itemList = (@itemLists[\Geeftlist\Model\Reservation::ENTITY_TYPE] ?? []) }}">
        <h2>{{ 'Reservations' | tr }}</h2>

        <include href="notification/reservation/items.phtml"/>
    </check>

    <check if="{{ @itemList = (@itemLists[\Geeftlist\Model\Gift::ENTITY_TYPE] ?? []) }}">
        <h2>{{ 'Gifts' | tr }}</h2>

        <include href="notification/gift/items.phtml"/>
    </check>

    <check if="{{ @itemList = (@itemLists[\Geeftlist\Model\Discussion\Post::ENTITY_TYPE] ?? []) }}">
        <h2>{{ 'Discussions' | tr }}</h2>

        <include href="notification/discussion/post/items.phtml"/>
    </check>

    <check if="{{ @itemList = (@itemLists[\Geeftlist\Model\Family::ENTITY_TYPE] ?? []) }}">
        <h2>{{ 'Families' | tr }}</h2>

        <include href="notification/family/items.phtml"/>
    </check>
</columns>
<include href="content_wrapper_end.phtml"/>

<include href="footer_message.phtml"/>
<include href="footer.phtml"/>
