<?php
/** @var \Geeftlist\Service\View $this */
/** @var \OliveOil\Core\Block\Template $_BLOCK */
/** @var string $FORM_ACTION */
/** @var string $LOST_PASSWORD_URL */
/** @var string $CREATE_ACCOUNT_URL */
?>

<div class="account-login form-container">
    <div class="form-col">
        <form action="<?= $FORM_ACTION ?>" name="login-form" method="post" data-abide>
            <?= $this->renderBlock('csrf_token') ?>
            <fieldset class="login">
                <legend><strong><?= $this->__('Please sign in to use Geeftlist') ?></strong></legend>

                <div data-abide-error class="alert callout" style="display: none;">
                    <p><i class="fi-alert"></i><?= $this->__('There are some errors in your form.') ?></p>
                </div>

                <div class="input-group">
                    <span class="input-group-label"><i class="icon-prefix email" aria-hidden="true"></i><span class="label-with-icon-prefix"><?= $this->__('Email') ?></span></span>
                    <input type="email" class="input-group-field" name="email" id="email" autocomplete="email" maxlength="128" placeholder="<?= $this->__('you@somewhere.com') ?>" value="<?= $this->escapeHtml($FORM_DATA['email'] ?? '') ?>" required/>
                </div>
                <span class="form-error" data-form-error-for="email"><?= $this->__('Missing or invalid value.') ?></span>

                <div class="input-group">
                    <span class="input-group-label"><i class="icon-prefix password" aria-hidden="true"></i><span class="label-with-icon-prefix"><?= $this->__('Password') ?></span></span>
                    <input type="password" class="input-group-field" name="password" id="password" placeholder="<?= $this->__('Your password') ?>" required/>
                </div>
                <span class="form-error" data-form-error-for="password"><?= $this->__('Missing or invalid value.') ?></span>

                <span class="password-lost-link"><?= $this->__('<a href="{0}">Forgot password?</a>', $LOST_PASSWORD_URL)?></span>

                <div class="switch remember-me tiny" title="<?= $this->escapeHtml($this->__("Remember me so I won't need to authenticate next time.")) ?>">
                    <input class="switch-input" id="switch-remember-me" type="checkbox" name="remember_me" value="1">
                    <label class="switch-paddle" for="switch-remember-me">
                        <span class="show-for-sr"><?= $this->__('Remember me') ?></span>
                        <span class="switch-active switch-check" aria-hidden="true"><i></i></span>
                        <span class="switch-inactive" aria-hidden="true"><i></i></span>
                    </label>
                    <label class="side-label" for="switch-remember-me"><?= $this->__('Remember me') ?></label>
                </div>

                <div class="clearfix"></div>

                <button type="submit" class="expanded button submit"><?= $this->__('Log in') ?></button>

                <span class="create-account-link"><?= $this->__('No account yet? <a href="{0}">Create it now!</a>', $CREATE_ACCOUNT_URL)?></span>
            </fieldset>
        </form>
    </div>
</div>
