<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Block\Gift $_BLOCK */
/** @var \Geeftlist\Model\Gift $GIFT */

$reserveLabel = $RESERVE_LABEL ?? $_BLOCK->getConfig('reserve_label', 'Reserve');

$defaultShowActionButtons = [
    'archive',
    'add_to_list',
    'discuss',
    'duplicate',
    'edit',
    'request_archiving',
    'reserve-purchase',
    'report',
    'view'
];
$showActionButtons = array_diff(
    $_BLOCK->getConfig('show_action_buttons', $defaultShowActionButtons),
    $_BLOCK->getConfig('hide_action_buttons', [])
);
if ($showActionButtons === '*') {
    $showActionButtons = $defaultShowActionButtons;
} elseif (empty($showActionButtons)) {
    $showActionButtons = [];
}
$showDropDown = in_array('duplicate', $showActionButtons)
    || in_array('archive', $showActionButtons)
    || in_array('add_to_list', $showActionButtons)
    || in_array('request_archiving', $showActionButtons)
    || in_array('report', $showActionButtons);
$discussionMessageCount = $_BLOCK->getDiscussionMessageCount($GIFT);

$primaryAction = null;
?>

<div class="expanded button-group">
    <?php if (in_array('reserve-purchase', $showActionButtons)
        && ($_BLOCK->canReservePurchase($GIFT) || $_BLOCK->canCancelReservation($GIFT))
    ): ?>
        <a href="<?= $this->getUrl('gift_reservation', ['gift_id' => $GIFT->getId(), '_referer' => true, '_refererFragment' => $REFERER_FRAGMENT ?? false]) ?>"
           class="button reserve-purchase"><?= $this->escapeHtml($this->__($reserveLabel)) ?></a>
        <?php $primaryAction = 'reserve-purchase'; ?>
    <?php elseif (in_array('edit', $showActionButtons) && $_BLOCK->canEdit($GIFT)): ?>
        <a href="<?= $GIFT->getEditUrl(['_referer' => true, '_refererFragment' => $REFERER_FRAGMENT ?? false]) ?>"
           class="button edit"><?= $this->escapeHtml($this->__('Edit')) ?></a>
        <?php $primaryAction = 'edit'; ?>
    <?php elseif (in_array('discuss', $showActionButtons)): ?>
        <a href="<?= $GIFT->getViewUrl(['_fragment' => 'discussion']) ?>"
           class="button discuss"><?= $this->escapeHtml($this->__('Discuss')) ?>
            <?php if ($discussionMessageCount): ?>
                <em><?= $this->escapeHtml($discussionMessageCount) ?></em>
            <?php endif ?>
        </a>
        <?php $primaryAction = 'discuss'; ?>
    <?php endif; ?>

    <?php if ($showDropDown): ?>
        <div class="dropmic more-dropdown"
             data-dropmic="1"
             role="navigation">
            <button type="button" class="button secondary more" data-dropmic-btn><?= $this->__('Actions...') ?></button>
            <div class="dropmic-menu grid-y"
                 aria-hidden="true">
                <?php if (in_array('view', $showActionButtons) && $primaryAction != 'view'): ?>
                    <a href="<?= $GIFT->getViewUrl() ?>"
                       class="button secondary cell view"
                       title="<?= $this->escapeHtml($this->__('View this gift.')) ?>"
                    ><?= $this->escapeHtml($this->__('View')) ?></a>
                <?php endif; ?>

                <?php if (in_array('reserve-purchase', $showActionButtons)
                    && $primaryAction != 'reserve-purchase'
                    && ($_BLOCK->canReservePurchase($GIFT) || $_BLOCK->canCancelReservation($GIFT))
                ): ?>
                    <a href="<?= $this->getUrl('gift_reservation', ['gift_id' => $GIFT->getId(), '_referer' => true, '_refererFragment' => $REFERER_FRAGMENT ?? false]) ?>"
                       class="button secondary reserve-purchase"
                       title="<?= $this->escapeHtml($this->__($reserveLabel)) ?>"><?= $this->escapeHtml($this->__($reserveLabel)) ?></a>
                <?php endif; ?>

                <?php if (in_array('edit', $showActionButtons) && $primaryAction != 'edit' && $_BLOCK->canEdit($GIFT)): ?>
                    <a href="<?= $GIFT->getEditUrl(['_referer' => true, '_refererFragment' => $REFERER_FRAGMENT ?? false]) ?>"
                       class="button secondary cell edit"
                       title="<?= $this->escapeHtml($this->__('Edit this gift.')) ?>"
                    ><?= $this->escapeHtml($this->__('Edit')) ?></a>
                <?php endif; ?>

                <?php if (in_array('add_to_list', $showActionButtons) && $primaryAction != 'add_to_list'): ?>
                    <a onclick="giftListModal.show(this)"
                       class="button secondary cell add-to-list"
                       title="<?= $this->escapeHtml($this->__('Add to list...')) ?>"
                    ><?= $this->escapeHtml($this->__('Add to list...')) ?></a>
                <?php endif; ?>

                <?php if (in_array('duplicate', $showActionButtons) && $_BLOCK->canDuplicate($GIFT)): ?>
                    <a href="<?= $GIFT->getDuplicateUrl(['_referer' => true, '_refererFragment' => $REFERER_FRAGMENT ?? false]) ?>"
                       class="button secondary cell duplicate"
                       title="<?= $this->escapeHtml($this->__('Create a new gift using this one as a template.')) ?>"
                    ><?= $this->escapeHtml($this->__('Duplicate')) ?></a>
                <?php endif; ?>

                <?php if (in_array('archive', $showActionButtons) && $_BLOCK->canArchive($GIFT)): ?>
                    <a href="javascript:void(0)"
                       onclick="oliveOil.confirmAction('<?= $this->jsQuoteEscape($this->__('Archive this gift?\n\nNotice: The current reservers (if any) will be notified.')) ?>', '<?= $GIFT->getArchiveUrl(['_referer' => true, '_refererFragment' => $REFERER_FRAGMENT ?? false, '_csrf' => true]) ?>')"
                       class="button secondary cell archive"
                       title="<?= $this->escapeHtml($this->__("Archive this gift so that other's won't be able to see or reserve it anymore.")) ?>"
                    ><?= $this->escapeHtml($this->__('Archive')) ?></a>
                    <a href="javascript:void(0)"
                       onclick="oliveOil.confirmAction('<?= $this->jsQuoteEscape($this->__('Duplicate and archive this gift?')) ?>', '<?= $GIFT->getDuplicateArchiveUrl(['_referer' => true, '_refererFragment' => $REFERER_FRAGMENT ?? false, '_csrf' => true]) ?>')"
                       class="button secondary cell duplicate-archive"
                       title="<?= $this->escapeHtml($this->__("Duplicate this gift as a new one then archive it.")) ?>"
                    ><?= $this->escapeHtml($this->__('Duplicate & Archive')) ?></a>
                <?php endif; ?>

                <?php if (in_array('request_archiving', $showActionButtons) && $_BLOCK->canRequestArchiving($GIFT)): ?>
                    <a href="javascript:void(0)"
                       onclick="oliveOil.confirmAction('<?= $this->jsQuoteEscape($this->__("Send a request for archiving to this gifts's creator?\\nHe/she will be free to accept it or not.")) ?>', '<?= $GIFT->getArchivingRequestUrl(['_referer' => true, '_refererFragment' => $REFERER_FRAGMENT ?? false, '_csrf' => true]) ?>')"
                       class="button secondary cell request-archiving"
                       title="<?= $this->escapeHtml($this->__("Send an archiving request to this gift's creator (if it has already been offered for example).")) ?>"
                    ><?= $this->__('Request archiving') ?></a>
                <?php endif; ?>

                <?php if (in_array('report', $showActionButtons) && $_BLOCK->canReport($GIFT)): ?>
                    <a href="<?= $GIFT->getReportUrl(['_referer' => true, '_refererFragment' => $REFERER_FRAGMENT ?? false]) ?>"
                       class="button secondary cell report"
                       title="<?= $this->escapeHtml($this->__('Report this gift to its creator or to an administrator.')) ?>"
                    ><?= $this->__('Report...') ?></a>
                <?php endif; ?>
            </div>
        </div>
    <?php endif; ?>
</div>
