<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Block\Gift $_BLOCK */
/** @var \Geeftlist\Model\Gift[] $GIFTS */
/** @var \Geeftlist\Model\Geeftee[] $GEEFTEES */

$i18n = $this->getI18n();

/** @var \Geeftlist\Model\Geeftee $firstGeeftee */
$firstGeeftee = $GEEFTEES[0];
$isSingleGeeftee = count($GEEFTEES) === 1;
?>

<div class="gifts-container">
    <?php if ($_BLOCK->getConfig('show_header', true)): ?>
    <div class="before-gifts">
        <?= $this->renderBlock('gift_list_header', null, [
            'GIFTS' => $GIFTS,
            'GEEFTEES' => $GEEFTEES,
            'REFERER_FRAGMENT' => $REFERER_FRAGMENT ?? false
        ]) ?>
    </div>
    <?php endif; ?>
    <?php if (! count($GIFTS)): ?>
        <div class="no-item">
            <span class="no-item-heading"><?= $this->__(
                    "There's no gift for <strong>{0}</strong> yet :(",
                    "<a href=\"{$firstGeeftee->getProfileUrl()}\">{$this->escapeHtml($firstGeeftee->getName())}</a>"
                ); ?></span>
        </div>
    <?php else: ?>
        <ul class="gifts accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
            <?php foreach ($GIFTS as $gift): ?>
                <?= $this->renderBlock('gift', null, [
                    'GIFT' => $gift,
                    'REFERER_FRAGMENT' => $REFERER_FRAGMENT ?? false
                ]) ?>
            <?php endforeach; ?>
        </ul>
    <?php endif; ?>
</div>
