<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Block\Gift $_BLOCK */
/** @var \Geeftlist\Model\Gift $GIFT */
$i18n = $this->getI18n();

/** @var \Geeftlist\Model\Reservation[] $reservations */
$reservations = $_BLOCK->getReservations($GIFT);
?>

<table>
    <thead>
        <tr>
            <th colspan="2"><?= $this->__('Reservations') ?></th>
        </tr>
    </thead>
    <?php if (!$_BLOCK->canViewReservations($GIFT)): ?>
        <tbody>
            <tr>
                <td class="reservations-not-visible" colspan="2"><?= $this->__('You cannot see the reservations.') ?></td>
            </tr>
        </tbody>
        <tfoot>
            <?php if ($estimatedPrice = $GIFT->getEstimatedPrice()): ?>
                <tr>
                    <td><em class="subheader"><?= $this->__('Objective') ?></em></td>
                    <td><em class="subheader"><?= $i18n->currency($estimatedPrice) ?></em></td>
                </tr>
            <?php endif; ?>
        </tfoot>
    <?php else: ?>
        <tbody>
            <?php if (!count($reservations)): ?>
                <tr>
                    <td class="no-item" colspan="2">
                        <?= $this->__(
                            '<strong>No one!</strong> <a href="{0}">Be the first to reserve!</a>',
                            $this->getUrl('gift_reservation', ['gift_id' => $GIFT->getId(), '_referer' => true, '_refererFragment' => $REFERER_FRAGMENT ?? false])) ?>
                    </td>
                </tr>
            <?php else: ?>
                <?php foreach ($reservations as $reservation): /** @var \Geeftlist\Model\Reservation $reservation */ ?>
                    <tr data-toggle="reservation-<?= $reservation->getId() ?>" class="reservation type-<?= $reservation->getType() ?>">
                        <td class="reservation-geefter-name">
                            <span><?= $this->__('{0}', $this->escapeHtml($reservation->getGeefterUsername())) ?></span>
                            <div class="dropdown-pane" id="reservation-<?= $reservation->getId() ?>" data-dropdown data-close-on-click="true">
                                <?= $this->escapeHtml($_BLOCK->getReservationLabel($reservation)) ?>
                            </div>
                        </td>
                        <td class="reservation-amount<?= $reservation->getAmount() === null ? ' null-amount' : ''; ?>"><?= $reservation->getAmount() !== null
                            ? $i18n->currency($reservation->getAmount())
                            : $this->__('(No amount specified)'); ?></td>
                    </tr>
                <?php endforeach; ?>
            <?php endif; ?>
        </tbody>
        <tfoot>
            <?php if ($estimatedPrice = $GIFT->getEstimatedPrice()): ?>
                <tr>
                    <td><?= $this->__('Remaining') ?> <em class="subheader">/<?= $this->__('Objective') ?></em></td>
                    <td><?= $i18n->currency($_BLOCK->getReservationsRemainingAmount($GIFT)) ?> <em class="subheader">/<?= $i18n->currency($estimatedPrice) ?></em></td>
                </tr>
            <?php elseif (($totalAmount = $GIFT->getReservationsTotalAmount()) > 0): ?>
                <tr>
                    <td><?= $this->__('Total') ?></td>
                    <td><?= $i18n->currency($totalAmount) ?></em></td>
                </tr>
            <?php endif; ?>
        </tfoot>
    <?php endif; ?>
</table>

<?php return; ?>

<?php if ($_BLOCK->canViewReservations($GIFT)): ?>
    <div class="reservations">
        <div class="title"><?= $this->__('Currently reserved or purchased by:') ?></div>
        <div class="geefters">
            <?php if (! count($reservations)): ?>
                <div class="no-item"><?= $this->__(
                        '<strong>No one!</strong> <a href="{0}">Be the first to reserve!</a>',
                        $this->getUrl('gift_reservation', ['gift_id' => $GIFT->getId(), '_referer' => true, '_refererFragment' => $REFERER_FRAGMENT ?? false])) ?></div>
            <?php else: ?>
                <?php foreach ($reservations as $reservation): /** @var \Geeftlist\Model\Reservation $reservation */ ?>
                    <?= $this->renderBlock('gift_reservations_item', null, ['RESERVATION' => $reservation, 'REFERER_FRAGMENT' => $REFERER_FRAGMENT ?? false]) ?>
                <?php endforeach; ?>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>
