<?php
/** @var \Geeftlist\Service\View $this */
/** @var \OliveOil\Core\Block\Template $_BLOCK */
/** @var string $FORM_ACTION */
?>

<div class="form-container">
    <div class="form-col">
        <form action="<?= $FORM_ACTION ?>" name="account-updateemail-confirm-form" method="post" data-abide>
            <?= $this->renderBlock('csrf_token') ?>
            <div class="fields">
                <label><?= $this->__('Password') ?>
                    <input type="password" name="password" id="password" autocomplete="password" value=""/>
                    <span class="form-error"><?= $this->__('Missing or invalid value.') ?></span>
                </label>
                <button type="submit" class="expanded button submit"><?= $this->__('Confirm') ?></button>
            </div>
        </form>
    </div>
</div>
