<?php
/** @var \Geeftlist\Service\View $this */
/** @var \OliveOil\Core\Block\Template $_BLOCK */

?>

<h1><?= $this->__('Email Address Confirmation') ?></h1>

<div class="heading">
    <p><?= $this->__("Please enter your password to confirm your email address change.") ?></p>
</div>

<div id="account">
    <?= $this->renderBlock('form'); ?>
</div>
