<set gift_url="{{ @item->getGift()->getViewUrl() | url_redirect,esc }}"/>

<check if="{{ count(@item->getOtherGeefteeNames()) == 0 }}">
    {{ '{0} has added a new gift idea for you: <a href="{1}"><strong>{2}</strong></a>',
        [@item->getCreatorName(), @gift_url, @item->getGift()->getLabel()]
        | tr }}
</check>
<check if="{{ count(@item->getOtherGeefteeNames()) == 1 }}">
    {{ '{0} has added a new gift idea for you and {1}: <a href="{2}"><strong>{3}</strong></a>',
        [@item->getCreatorName(), current(@item->getOtherGeefteeNames()), @gift_url, @item->getGift()->getLabel()]
        | tr }}
</check>
<check if="{{ count(@item->getOtherGeefteeNames()) > 1 }}">
    <set other_geeftees_hlist="{{ @item->getOtherGeefteeNames() | hlist }}" />
    {{ '{0} has added a new gift idea for you, {1}: <a href="{2}"><strong>{3}</strong></a>',
        [
            @item->getCreatorName(),
            @other_geeftees_hlist,
            @gift_url,
            @item->getGift()->getLabel()
        ]
        | tr }}
</check>
