<set gift_url="{{ @item->getGift()->getViewUrl() | url_redirect,esc }}"/>
<set geeftees_hlist="{{ @item->getGeefteeNames() | hlist }}" />

{{ '{0} has added a new gift idea for {1}: <a href="{2}"><strong>{3}</strong></a>',
    [
        @item->getCreatorName(),
        @geeftees_hlist,
        @gift_url,
        @item->getGift()->getLabel()
    ]
    | tr }}
