<set gift_url="{{ @item->getGift()->getViewUrl() | url_redirect,esc }}"/>
<set geeftees_hlist="{{ @item->getGeefteeNames() | hlist }}" />

{{ '{0} has modified the following fields on <a href="{1}"><strong>{2}</strong></a> for {3}:',
    [@item->getCreatorName(), @gift_url, @item->getGift()->getLabel(), @geeftees_hlist]
    | tr }}
<ul>
    <repeat group="{{ @item->getTranslatableChangedFields() }}" value="{{ @changedField }}">
        <li>{{ @changedField | tr,esc }}</li>
    </repeat>
</ul>
