<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Block\Discussion\Post $_BLOCK */
/** @var \Geeftlist\Model\Discussion\Post $POST */

$i18n = $this->getI18n();
$urlBuilder = $this->getUrlBuilder();
$urlHelper = $this->getUrlHelper();
?>

<div id="discussion-post-<?= $POST->getId() ?>" class="discussion-post<?php if ($POST->getIsPinned()): ?> pinned<?php endif; ?>">
    <div class="discussion-post-header">
        <img alt="Geeftee's avatar" class="profile-avatar" src="<?= $urlHelper->getGeefterAvatarUrl($POST->getAuthorId()) ?>">
        <div>
            <div class="author">
                <a href="<?= $urlHelper->getGeefteeProfileUrl($POST->getAuthor()) ?>">
                    <?= $this->escapeHtml($POST->getAuthorId()
                        ? $POST->getAuthorUsername()
                        : $this->__(\Geeftlist\Block\Discussion\Post::DELETED_ACCOUNT_PLACEHOLDER)) ?>
                </a>
            </div>
            <div class="creation-time">
                <a href="#discussion-post-<?= $POST->getId() ?>">
                    <?= $this->__('on {0}', $i18n->datetime($POST->getCreatedAt())) ?></div>
                </a>
            <div class="title"><?= $this->escapeHtml($POST->getTitle()) ?></div>
        </div>
    </div>
    <div class="discussion-post-body">
        <div>
            <?= $_BLOCK->renderMessage($POST) ?>
        </div>
    </div>
    <div class="discussion-post-footer">
        <?php if ($lastEditionTime = $POST->getLastEditionAt()): ?>
            <div class="last-edition-time"><?= $this->__('Last edited at {0}', $i18n->datetime($lastEditionTime)) ?></div>
        <?php endif ?>
        <div class="actions">
            <?php if ($_BLOCK->canEdit($POST)): ?>
                <a href="<?= $this->getUrl('discussion_post/edit', ['post_id' => $POST->getId(), '_referer' => true]) ?>"
                   class="button edit"><?= $this->__('Edit') ?></a>
            <?php endif; ?>
            <?php if ($_BLOCK->canDelete($POST)): ?>
                <a id="discussion-post-<?= $POST->getId() ?>-delete"
                   href="<?= $this->getUrl('discussion_post/delete', ['post_id' => $POST->getId(), '_csrf' => true, '_referer' => true]) ?>"
                   class="button delete"><?= $this->__('Delete') ?></a>
            <?php endif; ?>
            <?php if ($_BLOCK->canPin($POST)): ?>
                <?php if ($POST->getIsPinned()): ?>
                    <a id="discussion-post-<?= $POST->getId() ?>-unpin"
                       href="<?= $this->getUrl('discussion_post/unpin', ['post_id' => $POST->getId(), '_csrf' => true, '_referer' => true]) ?>"
                       class="button unpin"><?= $this->__('Unpin') ?></a>
                <?php else: ?>
                    <a id="discussion-post-<?= $POST->getId() ?>-pin"
                       href="<?= $this->getUrl('discussion_post/pin', ['post_id' => $POST->getId(), '_csrf' => true, '_referer' => true]) ?>"
                       class="button pin"><?= $this->__('Pin') ?></a>
                <?php endif; ?>
            <?php endif; ?>

            <?php //FIXME Temporary Q&D implementation ?>
            <script type="text/javascript-lazy" on="ready">
                $('#discussion-post-<?= $POST->getId() ?>-delete').click(function(ev) {
                    if (! confirm('<?= $this->jsQuoteEscape($this->__('Are you sure you want to delete this post?')) ?>')) {
                        ev.preventDefault();
                        return false;
                    }
                    return true;
                });
            </script>
        </div>
    </div>
</div>
