<?php
/** @var \Geeftlist\Service\View $this */
/** @var \OliveOil\Core\Block\Template $_BLOCK */

/** @var \Geeftlist\Model\Discussion\Topic $topic */
$topic = $_BLOCK->getConfig('topic');
$postCollection = $topic->getSortedPostCollection();
$formLocation = $_BLOCK->getConfig('form_location', 'footer');
$beforeFormBlock = $_BLOCK->getConfig('before_form_block');
$afterFormBlock = $_BLOCK->getConfig('after_form_block');
?>

<div class="discussion-topic">
    <div class="discussion-topic-header">
        <?php if ($formLocation == 'header'): ?>
            <?php if ($beforeFormBlock): ?>
                <?= $this->renderBlock($beforeFormBlock) ?>
            <?php endif; ?>
            <?= $this->renderBlock('discussion_form', null, ['TOPIC' => $topic]) ?>
            <?php if ($afterFormBlock): ?>
                <?= $this->renderBlock($afterFormBlock) ?>
            <?php endif; ?>
        <?php endif; ?>
        <div class="actions">
            <?php if ($formLocation == 'footer'): ?>
                <a class="button add-comment" href="#discussion-topic-<?= $topic->getId() ?>-form"><?= $this->__('Add a comment') ?></a>
            <?php endif; ?>
        </div>
    </div>

    <?php $pinnedPosts = $postCollection->getPinnedItems(); ?>
    <?php if ($pinnedPosts->count()): ?>
        <div class="posts-list pinned-items">
            <?php foreach ($pinnedPosts as $post): ?>
                <?= $this->renderBlockPrivileged('discussion_pinned_post', null, ['TOPIC' => $topic, 'POST' => $post]) ?>
            <?php endforeach; ?>
        </div>
    <?php endif; ?>

    <?php if ($postCollection->count()): ?>
        <div class="posts-list">
            <?php foreach ($postCollection as $post): ?>
                <?= $this->renderBlockPrivileged('discussion_post', null, ['TOPIC' => $topic, 'POST' => $post]); ?>
            <?php endforeach; ?>
        </div>
    <?php endif; ?>

    <div class="discussion-topic-footer">
        <?php if ($beforeFormBlock): ?>
            <?= $this->renderBlock($beforeFormBlock) ?>
        <?php endif; ?>
        <?= $this->renderBlock('discussion_form', null, ['TOPIC' => $topic]) ?>
        <?php if ($afterFormBlock): ?>
            <?= $this->renderBlock($afterFormBlock) ?>
        <?php endif; ?>
    </div>
</div>
