<container class="footer-message">
    <spacer size-sm="15" size-lg="30"></spacer>
    <row>
        <columns>
            <check if="{{ isset(@reply_to) && is_string(@reply_to) && strlen(@reply_to) }}">
                <p>{{ "You can directly respond to this email, it will be sent to <strong>{0}</strong>.", [@reply_to] | tr }}</p>
            </check>
            <p>{{ "See you soon on Geeftlist!" | tr }}</p>
        </columns>
    </row>
</container>
