<spacer size-sm="10" size-lg="20"></spacer>

<container class="footer">
    <spacer size-sm="10" size-lg="10"></spacer>
    <row>
        <columns>

            <p class="notice" style="margin: 0">{{ 'You are receiveing this email because of your account on <a href="{0}">Geeftlist</a>.', [@base_url] | tr }}</p>
            <set account_url="{{ 'account/index', ['_fragment' => 'email-notifications-section' ] | url,url_redirect,esc }}" />
            <p class="notice" style="margin: 0">{{ 'You can change the frequency of those emails in <a href="{0}">your account</a>.', [@account_url] | tr }}</p>
            <p class="abuse-mention" style="margin: 0">{{ 'Not registered on Geeftlist? Please tell us at <a href="mailto:{0}">{0}', [@abuse_email] | tr }}</p>
        </columns>
    </row>
</container>

<include href="html_footer.phtml"/>
