<include href="html_header.phtml"/>

<container class="header">
    <spacer size-sm="5" size-lg="20"></spacer>
    <row>
        <columns>
            <p><a href="{{ '/' | url }}"><ooimg href="email/logo_header.png" /></p>
        </columns>
    </row>
    <spacer size-sm="5" size-lg="10"></spacer>
</container>
