<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Block\Gift $_BLOCK */
/** @var \Geeftlist\Model\Gift $GIFT */
$i18n = $this->getI18n();
$isArchived = $GIFT->getStatus() == \Geeftlist\Model\Gift\Field\Status::ARCHIVED;
$isDeleted = $GIFT->getStatus() == \Geeftlist\Model\Gift\Field\Status::DELETED;
$displayMode = $_BLOCK->getConfig('display_mode', \Geeftlist\Block\Gift::DISPLAY_MODE_SHORT);
$displayPageLink = $_BLOCK->getConfig('display_page_link', true);
$displayActions = $_BLOCK->getConfig('display_actions', true);
$displayReservations = $_BLOCK->getConfig('display_reservations', false);

$giftPageUrl = $GIFT->getViewUrl();
$giftImageUrl = $GIFT->getImageUrl(\Geeftlist\Service\Gift\Image::IMAGE_TYPE_FULL);
$giftThumbnailUrl = $GIFT->getImageUrl(\Geeftlist\Service\Gift\Image::IMAGE_TYPE_THUMBNAIL);
$description = $_BLOCK->renderDescription($GIFT);
$discussionMessageCount = $_BLOCK->getDiscussionMessageCount($GIFT);

/** @var \Geeftlist\Model\Reservation[] $reservations */
$reservations = $_BLOCK->getReservations($GIFT);
$hasCurrentGeefterReservation = $_BLOCK->hasCurrentGeefterReservation($reservations);
?>

<li class="gift accordion-item display-<?= $displayMode ?> status-<?= $GIFT->getStatus() ?> <?= $_BLOCK->getCssClasses($GIFT) ?><?= $displayActions ? '' : ' no-actions' ?>"
    data-accordion-item <?= $_BLOCK->getDataAttributesHtml($GIFT) ?>>
    <a href="<?= $GIFT->getViewUrl() ?>" class="gift-name-container accordion-title no-loading-anim">
        <div class="gift-priority">
            <span class="priority-label priority-<?= $GIFT->getPriority() ?>">
                <span><?= $i18n->tr($GIFT->getFrontendValue('priority')) ?></span>
            </span>
        </div>
        <div class="gift-name">
            <?= $this->escapeHtml($GIFT->getLabel()) ?>
        </div>
        <?php if ($_BLOCK->isPrivate($GIFT)): ?>
            <div class="gift-private-visibility">
                <i class="fas fa-eye-slash"
                   title="<?= $this->escapeHtml($this->__('This gift is private. Only you can see it.')) ?>"
                   data-tippy-tooltip
                   data-tippy-content="<?= $this->escapeHtml($this->__('This gift is private. Only you can see it.')) ?>"></i>
            </div>
        <?php endif; ?>
        <?php if ($discussionMessageCount !== null): ?>
            <div class="gift-discussion-status<?= $discussionMessageCount ? '' : ' none' ?>">
                <i class="fas fa-comments"></i>&nbsp;<?= $this->escapeHtml($discussionMessageCount) ?>
            </div>
        <?php endif; ?>

        <?php if ($_BLOCK->canViewReservations($GIFT)): ?>
            <div class="gift-reservation-status<?= count($reservations) ? '' : ' none' ?>">
                <?php if ($hasCurrentGeefterReservation): ?>
                    <span class="own-reservation"
                          title="<?= $this->escapeHtml($this->__('You have a reservation on this gift.')) ?>"
                          data-tippy-tooltip
                          data-tippy-content="<?= $this->escapeHtml($this->__('You have a reservation on this gift.')) ?>">
                        <i class="fas fa-bookmark"></i>&nbsp;<?= count($reservations) ?>
                    </span>
                <?php else: ?>
                    <span>
                        <i class="fas fa-bookmark"></i>&nbsp;<?= count($reservations) ?>
                    </span>
                <?php endif; ?>
            </div>
        <?php endif; ?>
    </a>
    <div class="gift-details-container accordion-content" data-tab-content>
        <div class="grid-x grid-margin-x grid-margin-y">
            <?php if ($giftThumbnailUrl && $giftImageUrl): ?>
            <div class="gift-col1 cell medium-3 large-2 grid-x align-middle">
                <div class="gift-image small-12 cell">
                    <a href="<?= $giftImageUrl ?>" data-lightbox>
                        <img src="<?= $giftThumbnailUrl ?>"
                             alt="<?= $this->__('Image for {0}', $this->escapeHtml($GIFT->getLabel())) ?>">
                    </a>
                </div>
            </div>
            <?php endif; ?>
            <div class="gift-col2 cell auto">
                <div class="gift-description <?= $description === '' ? ' empty' : ''; ?>">
                    <?php if ($description !== ''): ?>
                        <?= $description ?>
                    <?php else: ?>
                        <i class="no-description"><?= $this->__('(No description provided)') ?></i>
                    <?php endif; ?>
                </div>
                <div class="gift-badges">
                    <?= $this->renderBlock('gift_badges', null, ['ENTITY' => $GIFT]) ?>
                </div>
            </div>
            <?php if ($displayActions || $displayReservations): ?>
                <div class="gift-col3 cell medium-5 large-5">
                    <?php if ($displayActions): ?>
                        <div class="gift-actions">
                            <?= $this->renderBlock('gift_actions', null, ['GIFT' => $GIFT, 'REFERER_FRAGMENT' => $REFERER_FRAGMENT ?? false]) ?>
                        </div>
                    <?php endif; ?>
                    <div class="gift-creator subheader"><i class="fas fa-info-circle"></i> <?= $this->__(
                        'Proposed by {0} on {1}',
                        $this->escapeHtml($GIFT->getCreatorUsername()),
                        $this->escapeHtml($i18n->date($GIFT->getCreatedAt(), 'long'))) ?>
                    </div>
                    <div class="current-reservations">
                        <?php if ($displayReservations): ?>
                            <?= $this->renderBlock('gift_reservations', null, ['GIFT' => $GIFT, 'REFERER_FRAGMENT' => $REFERER_FRAGMENT ?? false]) ?>
                        <?php endif; ?>
                    </div>
                </div>
            <?php endif; ?>
        </div>
    </div>
</li>
