<spacer size-sm="10" size-lg="20"></spacer>

<container class="footer">
    <spacer size-sm="10" size-lg="10"></spacer>
    <row>
        <columns>
            <p class="notice" style="margin: 0">{{ 'You are receiveing this email because you are an administrator of <a href="{0}">Geeftlist</a>.', [@base_url] | tr }}</p>
        </columns>
    </row>
</container>

<include href="html_footer.phtml"/>
