
<include href="header.phtml"/>

<!-- @subject {{ 'Geeftlist: Claim request for geeftee {0} accepted', [@request->getGeeftee()->getName()] | tr }} -->

<include href="content_wrapper_begin.phtml"/>
<columns small="12" large="6">
    <h1>{{ 'Claim request for geeftee accepted' | tr }}</h1>

    <p>{{ 'Your claim request for geeftee <strong>{0}</strong> has been accepted.', [@request->getGeeftee()->getName()] | tr }}</p>
    <p>{{ 'You are now a full member of the following families:' | tr }}</p>
    <ul>
        <repeat group="{{ @request->getGeefter()->getFamilyCollection() }}" value="{{ @family }}">
            <li><a href="{{ @family->getViewUrl() | url_redirect,esc }}">{{ @family->getName() | esc }}</a></li>
        </repeat>
    </ul>
</columns>
<include href="content_wrapper_end.phtml"/>

<include href="footer_message.phtml"/>
<include href="footer.phtml"/>
