
<include href="header.phtml"/>

<!-- @subject {{ 'Geeftlist: New pending claim request for geeftee {0}', [@request->getGeeftee()->getName()] | tr }} -->

<include href="content_wrapper_begin.phtml"/>
<columns small="12" large="6">
    <h1>{{ 'New pending claim request for geeftee {0}', [@request->getGeeftee()->getName()] | tr }}</h1>

    <p>{{ '{0} is claiming geeftee {1}.', [@request->getGeefter()->getUsername(), @request->getGeeftee()->getName()] | tr }}</p>

    <set cr_url="{{ 'geeftee_manage_claim_request/index' | url }}"/>
    <p>{{ 'You can <a href="{0}">accept or decline his/her request</a> from your account.', [@cr_url] | tr }}</p>
</columns>
<include href="content_wrapper_end.phtml"/>

<include href="footer_message.phtml"/>
<include href="footer.phtml"/>
