<?php
/** @var \Geeftlist\Service\View $this */
/** @var \OliveOil\Core\Block\Template $_BLOCK */
/** @var \Geeftlist\Model\Reservation $CURRENT_RESERVATION */
/** @var \Geeftlist\Form\Element\GiftListSelect $GIFTLIST_SELECT */
/** @var \Geeftlist\Model\Gift $GIFT */
/** @var string $FORM_ACTION */

$i18n = $this->getI18n();
$isAlreadyReserved = $CURRENT_RESERVATION->getType() == \Geeftlist\Model\Reservation::TYPE_RESERVATION;
$isAlreadyPurchased = $CURRENT_RESERVATION->getType() == \Geeftlist\Model\Reservation::TYPE_PURCHASE;
?>


<div class="gift-reservation-form form-container">
    <div class="form-col">
        <form id="gift-reservation" action="<?= $FORM_ACTION ?>" method="post">
            <?= $this->renderBlock('csrf_token') ?>
            <div class="fields">
                <fieldset>
                    <legend><?= $this->__('What would you want to do?') ?></legend>
                    <?php if ($CURRENT_RESERVATION->getId()): ?>
                        <div class="current-reservation">
                            <div class="reservation-reminder">
                                <div>
                                    <p>
                                        <?php if ($CURRENT_RESERVATION->getType() == \Geeftlist\Model\Reservation::TYPE_RESERVATION): ?>
                                            <?= $this->__(
                                                'You already reserved this gift on <span class="date">{0}</span>',
                                                $i18n->datetime($CURRENT_RESERVATION->getReservedAt())
                                            ) ?>
                                        <?php elseif ($CURRENT_RESERVATION->getType() == \Geeftlist\Model\Reservation::TYPE_PURCHASE): ?>
                                            <?= $this->__(
                                                'You already purchased this gift on <span class="date">{0}</span>',
                                                $i18n->datetime($CURRENT_RESERVATION->getReservedAt())
                                            ) ?>
                                        <?php endif; ?>
                                    </p>
                                </div>
                            </div>
                            <div class="cancel-reservation-container">
                                <input type="checkbox" name="type"
                                       data-bind="checked: cancelChecked"
                                       value="cancel"
                                       id="action-cancel">
                                <label for="action-cancel">
                                    <span><?= $this->__('I want to cancel my reservation') ?></span>
                                </label>
                            </div>
                        </div>
                    <?php endif; ?>
                    <div class="inputs">
                        <div class="reservation-actions-container">
                            <div>
                                <input type="radio" name="type"
                                       data-bind="enable: !cancelChecked()"
                                       value="<?= \Geeftlist\Model\Reservation::TYPE_RESERVATION ?>"
                                       id="action-reserve"<?= $isAlreadyReserved ? ' checked="checked"' : '' ?> required>
                                <label class="button action-reserve"
                                       data-bind="class: actionLabelClass"
                                       for="action-reserve">
                                    <span><?= $this->__('Reserve') ?></span>
                                </label>
                            </div>
                            <div>
                                <input type="radio" name="type"
                                       data-bind="enable: !cancelChecked()"
                                       value="<?= \Geeftlist\Model\Reservation::TYPE_PURCHASE ?>"
                                       id="action-purchase"<?= $isAlreadyPurchased ? ' checked="checked"' : '' ?> >
                                <label class="button action-purchase"
                                       data-bind="class: actionLabelClass"
                                       for="action-purchase">
                                    <span><?= $this->__('Purchase') ?></span>
                                </label>
                            </div>
                        </div>
                        <div class="reservation-amount-container">
                            <div class="input-group">
                                <span class="input-group-label"><?= $this->__('Amount (optional)') ?></span>
                                <input type="text" class="input-group-field"
                                       data-bind="enable: !cancelChecked()"
                                       name="amount"
                                       maxlength="16"
                                       value="<?= $CURRENT_RESERVATION->getAmount() ?>"/>
                                <span class="input-group-label"><?= $i18n->getCurrencySymbol() ?></span>
                            </div>
                        </div>
                        <div class="add-to-giftlist-container" data-bind="visible: !cancelChecked()">
                            <div>
                                <label for="<?= $GIFTLIST_SELECT->getId() ?>">
                                    <span><?= $this->__('Add to lists (optional)') ?></span>
                                </label>
                                <div class="gift-lists">
                                    <?= $GIFTLIST_SELECT->toHtml() ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="no-js-hidden">
                    <div class="other-reservations">
                        <?= $this->renderBlock('current_reservations', null, ['gift' => $GIFT]); ?>
                    </div>
                    <div class="cancel-notification" data-bind="visible: cancelChecked">
                        <p><?= $this->__("You are about to cancel your reservation.") ?></p>
                    </div>
                    <button type="submit" class="expanded button submit"><?= $this->__('Confirm') ?></button>
                    <button class="expanded button cancel back-button"><?= $this->__('Cancel') ?></button>
                </fieldset>
                <div class="notes subheader">
                    <p><?= $this->__('<strong>Reserve</strong> when you plan to purchase it later, so that other geefters of your families are aware of your intention. You may discuss with them before actually buying it.') ?></p>
                    <p><?= $this->__('<strong>Purchase</strong> when you already bought the gift, letting the other geefters know they should not buy it too.') ?></p>
                </div>
            </div>
        </form>

        <?= $this->renderBlock('gift', null, ['DISPLAY_MODE' => 'full']) ?>
    </div>
</div>
<script type="text/javascript-lazy" on="ready">
    ko.applyBindings(
        new (function() {
            self = this;
            self.cancelChecked = ko.observable(false);
            self.actionLabelClass = ko.pureComputed(function() {
                return self.cancelChecked() ? 'disabled' : '';
            });
        })
    );
</script>
