<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Model\Gift $GIFT */
?>

<h1><?= $this->__('Reserve or Buy {0}', $this->escapeHtml($GIFT->getLabel())) ?></h1>

<div class="heading">
    <p><?= $this->__('Mark this gift as reserved or purchased by you.') ?></p>
    <p><?= $this->__('Several geefters may reserve or purchase the same gift. Make sure you agree with each other in that case!') ?></p>
</div>

<?= $this->renderBlock('form'); ?>
