<?php
/** @var \Geeftlist\Service\View $this */
/** @var \OliveOil\Core\Block\Template $_BLOCK */
/** @var bool $HAS_RESERVATIONS */
?>

<h1><?= $this->__('My Reservations') ?></h1>

<?php if (! $HAS_RESERVATIONS): // FIXME See https://nanawel-gitlab.dyndns.org/geeftlist/webapp/issues/408 ?>
<div class="no-item">
    <?= $this->renderBlock('no_reservation_dialog'); ?>
</div>
<?php else: ?>
    <div class="toolbar-wrapper-top">
        <?= $this->renderBlock('toolbar'); ?>
    </div>

    <div class="heading">
        <p><?= $this->__("Here are the gifts you marked as reserved or purchased. You may cancel or modify these items at any moment.") ?></p>
    </div>

    <?= $this->renderBlock('geeftee_list') ?>
<?php endif; ?>
