<?php
/** @var \Geeftlist\Service\View $this */
?>

<div class="toolbar">
    <div class="switch-container toggle-show-unavailable-gifts">
        <div class="switch" title="<?= $this->escapeHtml($this->__('Show archived & deleted gifts')) ?>">
            <label><?= $this->escapeHtml($this->__('Show archived & deleted gifts')) ?></label>
            <input class="switch-input" id="switch-show-unavailable-gifts" type="checkbox" name="switch-show-unavailable-gifts">
            <label class="switch-paddle" for="switch-show-unavailable-gifts">
                <span class="show-for-sr"><?= $this->escapeHtml($this->__('Show archived & deleted gifts')) ?></span>
                <span class="switch-active switch-check" aria-hidden="true"><i></i></span>
            </label>
        </div>
    </div>
</div>

<script type="text/javascript-lazy" on="ready">
    var url = new URL(window.location.href);
    $('#switch-show-unavailable-gifts').prop(
        'checked',
        url.searchParams.has('showUnavailable') && url.searchParams.get('showUnavailable') != 0
    );
    
    $('#switch-show-unavailable-gifts').on('change', function(ev) {
        var currentUrl = new URL(window.location.href)
        if ($(ev.target).prop('checked')) {
            currentUrl.searchParams.set('showUnavailable', 1);
        } else {
            currentUrl.searchParams.set('showUnavailable', 0);
        }
        document.location = currentUrl.toString();
    });
</script>