<?php
/** @var \Geeftlist\Service\View $this */
/** @var \OliveOil\Core\Block\Template $_BLOCK */
/** @var array $FORM_DATA */
?>

<div class="geeftee-edit-form form-container">
    <div class="form-col">
        <?= $this->renderBlock('csrf_token') ?>
        <div class="fields">

            <div class="input-group">
                <span class="input-group-label"><i class="icon-prefix username" aria-hidden="true"></i><span class="label-with-icon-prefix"><?= $this->__('Name') ?></span></span>
                <input type="text"
                       class="input-group-field"
                       name="name"
                       id="name"
                       maxlength="32"
                       placeholder="<?= $this->escapeHtml($this->__('E.g. "Uncle Joe"')) ?>"
                       value="<?= $this->escapeHtml($FORM_DATA['name'] ?? '') ?>" required/>
            </div>
            <span class="form-error" data-form-error-for="username"><?= $this->__('Missing or invalid value.') ?></span>

            <div class="input-group">
                <span class="input-group-label"><i class="icon-prefix email" aria-hidden="true"></i><span class="label-with-icon-prefix"><?= $this->__('Email') ?></span></span>
                <input type="email"
                       class="input-group-field"
                       name="email"
                       id="email"
                       maxlength="128"
                       placeholder="<?= $this->__('geeftee@somewhere.com') ?>"
                       value="<?= $this->escapeHtml($FORM_DATA['email'] ?? '') ?>" required/>
            </div>
            <span class="form-error" data-form-error-for="email"><?= $this->__('Missing or invalid value.') ?></span>

            <div class="no-email-chkbox-container">
                <label>
                    <input type="hidden" name="no_email" value="0">
                    <input type="checkbox"
                           name="no_email"
                           id="no_email"
                           value="1"<?php if ($FORM_DATA['no_email']) echo ' checked="checked"' ?>/>
                    <?= $this->__("I don't want to use an email address") ?>
                </label>
            </div>
            <?php if ($FAMILY_SELECT ?? false): ?>
                <label><?= $this->__('Family') ?>
                    <?= $FAMILY_SELECT->toHtml() ?>
                </label>
            <?php endif; ?>
        </div>
        <button type="submit" class="expanded button submit"><?= $this->__('Submit') ?></button>
        <button class="expanded button cancel back-button"><?= $this->__('Cancel') ?></button>

        <script type="text/javascript-lazy" on="ready">
            var updateEmailField = function() {
                $('input[name="email"]').prop('disabled', $('#no_email').prop('checked'));
            };
            $('#no_email').change(updateEmailField);
            updateEmailField();
        </script>
    </div>
    <?= $this->renderBlock('why_email') ?>
</div>
