<?php
/** @var \Geeftlist\Service\View $this */
/** @var \OliveOil\Core\Block\Template $_BLOCK */

/** @var \Geeftlist\View\Grid\Family $grid */
$grid = $_BLOCK->getConfig('grid');
?>

<div class="grid-wrapper">
    <table id="membershiprequest-grid" class="datatable membershiprequest-grid"></table>
</div>

<script id="membershiprequest-grid-script" type="text/javascript-lazy" on="ready">
    const membershipRequestGrid = new GeeftlistGrid(
        $('#membershiprequest-grid'),
        {
            dataTable: <?= $grid->getRenderer()->getDataTableConfigJson() ?>
        }
    );
</script>
