<?php
/** @var \Geeftlist\Service\View $this */
/** @var string $FORM_ACTION */
?>

<h1><?= $this->__('Membership Requests / Invitations') ?></h1>

<form method="post" action="<?= $FORM_ACTION ?>">
    <?= $this->renderBlock('csrf_token') ?>
    <div class="toolbar-wrapper-top">
        <?= $this->renderBlock('toolbar'); ?>
    </div>

    <div class="heading">
        <p><?= $this->__("The following list contains your membership requests and those made by other geefters on families you own.") ?></p>
        <p><?= $this->__("You may accept, decline or cancel them using the link on the grid or the by selecting them then pressing the button in the toolbar.") ?></p>
    </div>

    <?= $this->renderBlock('grid'); ?>
</form>
