<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Model\Family $FAMILY */
?>

<h1><?= $this->__('{0}', $this->escapeHtml($FAMILY->getName())) ?></h1>

<div class="toolbar-wrapper-top">
    <?= $this->renderBlock('toolbar'); ?>
</div>

<div class="heading">
    <p><?= $this->__("Here's the list of all the geeftees in this family. You can click on their name on the left column and display the gifts available for each of them.") ?></p>
</div>

<?= $this->renderBlock('geeftee_list'); ?>
