<?php
/** @var \Geeftlist\Service\View $this */
/** @var \Geeftlist\Model\Family $FAMILY */
?>

<div class="toolbar">
    <a class="button geeftee-add create" href="<?= $this->getUrl('geeftee_manage/search', ['_query' => ['family_id' => $FAMILY->getId()], '_referer' => true]) ?>"><span><?= $this->__('Add a geeftee') ?></span></a>
    <a class="button invite" href="<?= $this->getUrl('family_manage_invite', ['family_id' => $FAMILY->getId()]) ?>"><span><?= $this->__('Invite relatives') ?></span></a>
</div>
