
<include href="header.phtml"/>

<!-- @subject {{ 'Confirm your new email address on Geeftlist' | tr }} -->

<include href="content_wrapper_begin.phtml"/>
<columns small="12" large="6">
    <h1>{{ 'Email address confirmation for {0}', [@username] | tr }}</h1>

    <div>
        <p>{{ 'Please click on the link below to confirm your email address on your Geeftlist account:' | tr }}</p>
        <p><strong><a href="{{ @confirm_url }}" target="_blank">{{ @confirm_url }}</a></strong></p>

        <p>{{ 'If you cannot click on the link, copy-paste it in your browser instead.' | tr }}</p>
    </div>
    <p>{{ 'If you did not ask to reset your password, you can safely ignore this message.' | tr }}</p>
</columns>
<include href="content_wrapper_end.phtml"/>

<include href="footer_message.phtml"/>
<include href="footer.phtml"/>
