
<include href="header.phtml"/>

<!-- @subject {{ 'Email address updated on Geeftlist' | tr }} -->

<include href="content_wrapper_begin.phtml"/>
<columns small="12" large="6">
    <h1>{{ 'Email address confirmation for {0}', [@username] | tr }}</h1>

    <div>
        <p>{{ 'Your email address has been updated successfully.' | tr }}</p>
    </div>
</columns>
<include href="content_wrapper_end.phtml"/>

<include href="footer_message.phtml"/>
<include href="footer.phtml"/>
