
<include href="header.phtml"/>

<!-- @subject {{ 'Welcome to Geeflist !' | tr }} -->

<include href="content_wrapper_begin.phtml"/>
<columns small="12" large="6">
    <h1>{{ 'Welcome {0}!', [@username] | tr }}</h1>

    <p><strong>{{ 'Your account is almost set up!' | tr }}</strong></p>
    <div>
        <p>{{ 'Please click on the link bellow to set a password and access your account:' | tr }}</p>
        <p><strong><a id="confirm-link" href="{{ @confirm_url }}" target="_blank">{{ @confirm_url }}</a></strong></p>

        <p>{{ 'If the link is not active, you may copy-paste it instead in you browser.' | tr }}</p>
    </div>
    <p>{{ 'If you did not sign up on Geeflist, please ignore this message.' | tr }}</p>
</columns>
<include href="content_wrapper_end.phtml"/>

<include href="footer_message.phtml"/>
<include href="footer.phtml"/>
