
<include href="header.phtml"/>

<!-- @subject {{ 'Geeftlist Password Reset' | tr }} -->

<include href="content_wrapper_begin.phtml"/>
<columns small="12" large="6">
    <h1>{{ 'Password reset for {0}', [@username] | tr }}</h1>

    <div>
        <p>{{ 'Please click on the link below to reset your password and access your Geeftlist account:' | tr }}</p>
        <p><strong><a href="{{ @reset_url }}" target="_blank">{{ @reset_url }}</a></strong></p>

        <p>{{ 'If you cannot click on the link, copy-paste it in your browser instead.' | tr }}</p>
    </div>
    <p>{{ 'If you did not ask to reset your password, you can safely ignore this message.' | tr }}</p>
</columns>
<include href="content_wrapper_end.phtml"/>

<include href="footer_message.phtml"/>
<include href="footer.phtml"/>
