<?php
/** @var \Geeftlist\Service\View $this */
/** @var \OliveOil\Core\Block\Template $_BLOCK */
/** @var \Geeftlist\Model\Discussion\Post $POST */
/** @var string $FORM_ACTION */
?>

<?php if ($POST->getId()): ?>
    <h1><?= $this->__('Edit your message') ?></h1>
<?php endif; ?>

<form id="discussion-post-edit" action="<?= $FORM_ACTION ?>" method="post">
    <?= $this->renderBlock('csrf_token') ?>

    <div class="toolbar-wrapper-top">
        <?= $this->renderBlock('toolbar'); ?>
    </div>

    <div class="clearfix"></div>

    <?= $this->renderBlock('form'); ?>

    <div class="toolbar-wrapper-bottom">
        <?= $this->renderBlock('toolbar'); ?>
    </div>
</form>
