<?php
/** @var \Geeftlist\Service\View $this */
/** @var string $FORM_ACTION */
?>

<div class="geeftee-search-form form-container">
    <div class="form-col">
        <form id="geeftee-search" action="<?= $FORM_ACTION ?>" method="post">
            <?= $this->renderBlock('csrf_token') ?>

            <div class="input-group">
                <span class="input-group-label"><i class="icon-prefix email" aria-hidden="true"></i><span class="label-with-icon-prefix"><?= $this->__('Email') ?></span></span>
                <input type="email" class="input-group-field" name="email" id="email" maxlength="128" placeholder="<?= $this->__('geeftee@somewhere.com') ?>" required/>
            </div>
            <span class="form-error" data-form-error-for="email"><?= $this->__('Missing or invalid value.') ?></span>

            <button type="submit" class="expanded button search"><?= $this->__('Search') ?></button>
            <a class="skip-step" href="<?= $this->getUrl('*/new', ['_query' => '*']) ?>"><?= $this->__("Skip this step") ?></a>
        </form>
    </div>
    <?= $this->renderBlock('why_email') ?>
</div>
