<?php
/** @var \Geeftlist\Service\View $this */
?>
<h1><?= $this->__('Browse families') ?></h1>

<div class="toolbar-wrapper-top">
    <?= $this->renderBlock('toolbar'); ?>
</div>

<div class="heading">
    <p><?= $this->__("Browse existing families and ask to join them!") ?></p>
</div>

<?= $this->renderBlock('grid'); ?>
