<?php
/** @var \Geeftlist\Service\View $this */
?>

<div class="toolbar">
    <a class="button create" href="<?= $this->getUrl('family_manage/new') ?>"><span><?= $this->__('Create new family') ?></span></a>
</div>
